<%- if !@pte.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.pte_form_error') %>
  </div>
<%-end %>
<div class='form-field'>
  <%- if @pte.errors.on(:name) %>
    <div class='error'>
      <%= error_message_on @pte, :name %>
    </div>
  <%- end %>
  <%= raw f.label :name %>
  <%= raw f.text_field :name %>
</div>
<div class='form-field'>
  <%- if @pte.errors.on(:wikipedia_url) %>
    <div class='error'>
      <%= error_message_on @pte, :wikipedia_url %>
    </div>
  <%-end %>
  <%= raw f.label :wikipedia_url %>
  <%= raw f.text_field :wikipedia_url %>
</div>

<div class='form-field'>
  <%- if @pte.errors.on(:status) %>
    <div class='error'>
      <%= error_message_on @pte, :status %>
    </div>
  <%- end %>
  <%= raw label(:pte, :status) %>
  <%= f.select(:status, PassengerTransportExecutive.statuses.invert) %>
</div>

<%= raw submit_tag t('admin.go') %>
