- if !@pte.errors.empty?
  .form-error
    = t(:pte_form_error)
.form-field
  - if @pte.errors.on(:name)
    .form-field-error= error_message_on @pte, :name
  != f.label :name
  != f.text_field :name
.form-field
  - if @pte.errors.on(:wikipedia_url)
    .form-field-error= error_message_on @pte, :wikipedia_url
  != f.label :wikipedia_url
  != f.text_field :wikipedia_url
.form-field
  - if @pte.errors.on(:email)
    .form-field-error= error_message_on @pte, :email
  != f.label :email
  != f.text_field :email
.form-field
  != f.label :email_confimed
  != f.check_box :email_confimed
.form-field
  != f.label :notes
  != f.text_field :notes
!= submit_tag t(:go)