%h2= t(:ptes)
= will_paginate @ptes, {:admin => true}
%table{ :class => 'ptes index-list' }
  %tr
    %th{:width => "10%"}= t(:id)
    %th{:width => "25%"}= t(:name)
    %th{:width => "65%"}= t(:wikipedia_url) 
  -@ptes.each do |pte|
    %tr{ :class => cycle('odd', 'even') }
      %td
        = pte.id
        = link_to "(#{t(:admin)})", admin_url(admin_pte_path(pte))
      %td= pte.name
      %td= link_to(pte.wikipedia_url)
  %tr{ :class => 'footer' }
= will_paginate @ptes, {:admin => true}