.campaign-email
  %h2
    .from= @incoming_message.mail.friendly_from
    .date= short_date(@incoming_message.sent_at)
  .subject
    %b= "#{t(:subject)}:"
    = @incoming_message.subject
  - MySociety::Email.get_display_attachments(@incoming_message.mail).each do |attachment|
    = link_to(attachment.display_filename, attachment_url(:id => @incoming_message, :url_part_number => attachment.url_part_number))
  .body!= @incoming_message.get_body_for_html_display