!=t(:this_message_was_sent_to, :campaign => link_to(h(@incoming_message.campaign.title), campaign_path(@incoming_message.campaign)))
.campaign-email
  %h2
    .from= t(:from, :sender => @incoming_message.safe_from)
    .date= short_date(@incoming_message.sent_at)
  .subject
    %b= "#{t(:subject)}:"
    = @incoming_message.subject
  - FixMyTransport::Email.get_display_attachments(@incoming_message.mail).each do |attachment|
    = link_to(attachment.display_filename, campaign_attachment_url(@incoming_message.campaign, :id => @incoming_message, :url_part_number => attachment.url_part_number))
  .body!= @incoming_message.get_body_for_html_display(@collapse_quotes)
  .reply-link!= link_to(t(:reply_to_this_message), new_campaign_outgoing_message_path(@incoming_message.campaign, :incoming_message_id => @incoming_message))
- if current_user && current_user == @incoming_message.campaign.initiator
  - form_for @campaign_update, :url => add_update_campaign_url(@incoming_message.campaign) do |f|
    .fieldset
      - if @campaign_update.errors.on('text')
        .form-field-error= error_message_on @campaign_update, :text
      .form-field
        =f.label :text, t(:what_does_this_mean)
        != f.hidden_field :incoming_message_id
        != f.hidden_field :user_id
        !=f.text_area :text, :cols => 40, :rows => 5
        !=f.submit t(:add_update)
- else 
  != t(:login_to_add_update, :link => link_to(t(:login_as, :user => h(@incoming_message.campaign.initiator.name)), login_url(:redirect => request.request_uri)), :campaign => h(@incoming_message.campaign.title))