<div id="banner">
	<div class="container">
		<%- if current_user && current_user == @user %>
	    	<%= raw link_to(t(:edit_your_account), edit_account_path, :class => 'button right') %>
	    <%- end %>
		<h1>Profile</h1>
	</div>
</div>

<div id="greybanner">
  <div class="container">
    <img src="<%= @user.profile_photo.url(:large_thumb) %>" class="avatar" alt="" />
    <h2><%= @user.name %></h2>
    <%- if @user.location %>
      <p><%= @user.location %></p>
    <%- end %>
  </div>
</div>


<div id="main-content" class="container">
  <div class="leftcol">
  
  
  <%- if @user.initiated_campaigns.visible.count > 0 %>
  <a name="managing"></a>
  <h3>Managing</h3>
  <ul class="issues-list">
  	<%- @user.initiated_campaigns.visible.each do |campaign| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => campaign } %>
    <%- end %>
  </ul>
  <%- end %>
  
  <%- if @user.campaigns.visible.count > 0 %>
  <a name="supporting"></a>
  <h3>Supporting</h3>
  <ul class="issues-list">
  	<%- @user.campaigns.visible.each do |campaign| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => campaign } %>
    <%- end %>
  </ul>
  <%- end %>
  
  <%- if @user.problems.visible.count > 0 %>
  <a name="reported"></a>
  <h3>Problems Reported</h3>
  <ul class="issues-list">
  	<%- @user.problems.visible.each do |problem| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => problem } %>
    <%- end %>
  </ul>
  <%- end %>
  </div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>