<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<%- if current_user && current_user == @user %>
	    	<%= raw link_to(t('profiles.show.edit_your_account'), edit_account_path, :id => 'edit-account-button', :class => 'button right') %>
	  <%- end %>
		<h1>Profile</h1>
	</div>
</div>

<div id="greybanner">
  <div class="container">
    <%- if current_user && current_user == @user %>
    <a href="<%= edit_account_path %>"><img src="<%= @user.profile_photo.url(:large_thumb) %>" class="avatar" alt="" /></a>
    <%- else %>
    <img src="<%= @user.profile_photo.url(:large_thumb) %>" class="avatar" alt="" />
    <%- end %>
    <h2><%= @user.name %></h2>
    <%- if @user.location %>
      <p><%= @user.location %></p>
    <%- end %>
  </div>
</div>


<div id="main-content" class="container">
  <div class="leftcol widecol">

  <%- if @user.bio %>
     <h3><%= t('profiles.show.about') %></h3>

      <%= raw MySociety::Format.make_clickable(simple_format(@user.bio)) %>
   <%- end %>

  <%- if @user.initiated_campaigns.visible.count > 0 %>
  <a name="managing"></a>
  <h3><%= t('profiles.show.managing')%></h3>
  <ul class="issues-list">
  	<%- @user.initiated_campaigns.visible.each do |campaign| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => campaign } %>
    <%- end %>
  </ul>
  <%- end %>

  <%- if @user.campaigns.visible.count > 0 %>
  <a name="supporting"></a>
  <h3><%= t('profiles.show.supporting')%></h3>
  <ul class="issues-list">
  	<%- @user.campaigns.visible.each do |campaign| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => campaign } %>
    <%- end %>
  </ul>
  <%- end %>

  <%- if @user.problems.visible.count > 0 %>
  <a name="reported"></a>
  <h3><%= t('profiles.show.problems_reported')%></h3>
  <ul class="issues-list">
  	<%- @user.problems.visible.each do |problem| %>
       <%= render :partial => 'shared/issue', :locals => { :context => :profile, :issue => problem } %>
    <%- end %>
  </ul>
  <%- end %>
  </div>
</div>