%h2.main-header!= t(:change_your_password)

- form_for @user, :url => password_reset_path, :method => :put do |f|
  .fieldset
    .form-field
      - if @user.errors.on('password')
        .form-field-error= error_message_on @user, :password
      = f.label :password
      != f.password_field :password
    .form-field
      - if @user.errors.on('password_confirmation')
        .form-field-error= error_message_on @user, :password_confirmation
      = f.label :password_confirmation 
      != f.password_field :password_confirmation 
    != f.submit t(:update_password_and_login)