<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= raw t('password_resets.edit.change_your_password') %></h1>
	</div>
</div>
<div id="main-content" class="container">

	<%- form_for @account_user, :url => password_reset_path(:email_token => params[:email_token]), :html => {:id => 'reset_password'}, :method => :put do |f| %>
	  <div class='fieldset'>
    
	    <div class='form-field'>
	      <%= f.label :password %>
	      <%- if @account_user.errors.on('password') %>
	        <div class='error'>
	          <%= error_message_on @account_user, :password %>
	        </div>
	      <%- end %>
	      <%= raw f.password_field :password %>
	    </div>
    
	    <div class='form-field'>
	      <%= f.label :password_confirmation  %>
        <%- if @account_user.errors.on('password_confirmation') %>
	        <div class='error'>
	          <%= error_message_on @account_user, :password_confirmation %>
	        </div>
	      <%- end %>
	      <%= raw f.password_field :password_confirmation  %>
	    </div>
	    <div class='form-field'>
		    <button class="button" type="submit">
		      <%= @next_action_text %>
		    </button>
		  </div>
	  </div>
  
	<%- end %>
</div>