- if !@stop.errors.empty?
  .form-error
    = t(:stop_form_error)
- [:atco_code, :naptan_code, :plate_code, :common_name, :short_common_name, :landmark, :street, :crossing, :indicator, :bearing, :lon, :lat].each do |field|
  = render :partial => 'text_field', :locals => { :field => field, :f => f }
.form-field
  - if @stop.errors.on(:stop_type)
    .form-field-error= error_message_on @stop, :stop_type  
  != label(:stop, :stop_type)
  != f.select :stop_type, StopType.codes
.form-field
  - if @stop.errors.on(:bus_stop_type)
    .form-field-error= error_message_on @stop, :bus_stop_type  
  != label(:stop, :bus_stop_type)
  != f.select :bus_stop_type, StopType.sub_types, { :include_blank => true }  
.form-field
  - if @stop.errors.on(:locality_id)
    .form-field-error= error_message_on @stop, :locality_id
  != hidden_field_tag :locality_name_autocomplete_url, admin_url("/admin/autocomplete_for_locality_name")
  != label(:stop, :locality_id)
  != text_field_tag :locality_name, @stop.locality_name, { :class => 'locality_name_auto', :size => 30 }
  != f.hidden_field :locality_id, { :class => 'locality-id' }
!= f.hidden_field :loaded
!= submit_tag t(:go)