%h2= t(:stops)
= link_to t(:add_a_stop), admin_url(new_admin_stop_path)
= render :partial => "admin/shared/index_js"
= render :partial => "admin/shared/search_form", :locals => { :skip_transport_mode => false } 
= will_paginate @stops, { :admin => true }
= t(:select)
= link_to(t(:all), '', { :class => "index-select-all" })
= link_to(t(:none), '', { :class => "index-select-none" })
%table{:class => "stops index-list"}
  %tr
    %th{:width => "15%"}= t(:id)
    %th{:width => "25%"}= t(:name)
    %th{:width => "25%"}= t(:indicator)
    %th{:width => "15%"}= t(:street)
    %th{:width => "10%"}= t(:locality)
    %th{:width => "5%"}= t(:stop_type)
    %th{:width => "5%"}= t(:select)
  -@stops.each do |stop|
    %tr{ :class => cycle('odd', 'even') }
      %td
        = link_to(stop.id, main_url(location_path(stop)), :target => '_blank')
        = link_to("(#{t(:admin)})", admin_url(admin_stop_path(stop.id)), :target => '_blank')
      %td= stop.name
      %td= stop.indicator
      %td= stop.street
      %td= stop.locality_name
      %td= stop.stop_type
      %td!=  check_box_tag "stops[]", stop.id, false, { :class => "select-item" }
= will_paginate @stops, { :admin => true }