- content_for :javascript do 
  != map_javascript_include_tags(:admin => true)
#map
%h2.stop-header= @stop.name
- form_for @stop, :url => admin_url(admin_stop_path(@stop.id)), :html => { :method => :delete, :class => 'destroy-link' } do |f| 
  != hidden_field_tag :confirmation, t(:are_you_sure), {:id => 'destroy_confirmation'}
  != submit_tag t(:destroy)
- form_for [:admin, @stop], :url => admin_url(admin_stop_path(@stop.id)), :html => { :class => 'stop-form' } do |f| 
  = render :partial => "form", :locals => { :f => f }
:javascript
  var zoom = #{MAX_VISIBLE_ZOOM - 1};
  var lat = #{@stop.lat};
  var lon = #{@stop.lon};
  var findOtherLocations = false;
  var linkType = 'location';
  var areaStops = #{location_stops_js([@stop], main=true, small=false, :location)}
    jQuery(document).ready(function(){
    setupShowStop();
    area_init();
  });