<h2 class="main-header"><%= t('assignments.edit.find_transport_org_header', :location => @assignment.problem.location.description) %></h2>
<p><%= raw t('assignments.edit.find_transport_org_explanation', :location => @assignment.problem.location.description, :link => link_to( @assignment.problem.location.description, external_search_link(@assignment.problem.location.description), :title => t('assignments.edit.click_to_search', :search => @assignment.problem.location.description), :target => '_blank'))%>
</p>
<%= t('assignments.edit.find_transport_org_explanation_more')%>
<p>
<%= t('assignments.edit.find_transport_org_use_feedback')%>
</p>
<%- form_for [@campaign, @assignment] do |f| %>
  
  <div class='fieldset'>
  
    <div class='form-field'>
      <%- if @assignment.errors.on('organization_name') %>
        <div class='error'>
          <%= @assignment.errors.on(:organization_name) %>
        </div>
      <%- end %>
      <%= label_tag :organization_name, t('assignments.edit.organization_name') %>
      <%= raw text_field_tag :organization_name, @assignment.data[:organization_name], :size => 45 %>
    </div>
    
    <div class='form-field'>
      <%- if @assignment.errors.on('organization_email') %>
        <div class='error'>
          <%= @assignment.errors.on(:organization_email) %>
        </div>
      <%- end %>
      <%= label_tag :organization_email, t('assignments.edit.organization_email') %>
      <%= raw text_field_tag :organization_email, @assignment.data[:organization_email], :size => 45 %>
    </div>
    <%- if @assignment.problem.location.is_a?(StopArea) %>
    <div class='form-field'>
      <div class="checkbox">
        <%= raw check_box_tag :location_only, @assignment.data[:location_only] %>
        <%= label_tag :location_only, t('assignments.edit.contact_for_location') %>
        
      </div>
    </div>
    <%- end %>
    <div class='form-field'>
      <button type="submit" class="button"><%= t('assignments.edit.submit') %>
      </button>
    </div>
  </div>
<%- end %>