=t(:new_assignment_help, :user => @initiator.name, :campaign => @campaign.title)

- form_for [@campaign, @assignment] do |f|
  
  .fieldset
  
    .form-field
      - if @assignment.errors.on('subject')
        .form-field-error= @assignment.errors.on(:subject)
      = label_tag :subject, t(:subject_line_for_email)
      != text_field_tag :subject, assignment.data[:subject], :size => 45
      %span.optional-note= t(:for_advice_email, :user => @initiator.first_name)
    .form-field
      - if @assignment.errors.on('reason')
        .form-field-error= @assignment.errors.on(:reason)
      = label_tag :reason, t(:your_message, :user => @initiator.first_name)
      != text_area_tag :reason, @assignment.data[:reason], :cols => 50, :rows => 10
      %span.textarea-optional-note= t(:why_write_to_this_person, :user => @initiator.first_name)
    = t(:who_should_they_write_to, :user => @initiator.first_name)
    .form-field
      - if @assignment.errors.on('name')
        .form-field-error= @assignment.errors.on(:name)
      = label_tag :name, t(:name)
      != text_field_tag :name, @assignment.data[:name], :size => 35
    .form-field
      - if @assignment.errors.on('email')
        .form-field-error= @assignment.errors.on(:email)
      = label_tag :email, t(:email)
      != text_field_tag :email, @assignment.data[:email], :size => 35

    .form-field
      = label_tag :draft_text, t(:draft_text)
      != text_area_tag :draft_text, @assignment.data[:draft_text], :cols => 50, :rows => 10
      %span.textarea-optional-note= t(:text_to_get_them_started, :user => @initiator.first_name)
    .form-field
      !=f.submit t(:send_advice)