- if !@route.errors.empty?
  .form-error
    = t(:route_form_error)
.form-field
  - if @route.errors.on(:region_id)
    .form-field-error= error_message_on @route, :region_id
  != label(:route, :region_id)
  != f.collection_select :region_id, Region.find(:all), :id, :name, :prompt => true
.form-field
  - if @route.errors.on(:transport_mode_id)
    .form-field-error= error_message_on @route, :transport_mode_id
  != label(:route, :transport_mode_id)
  != f.collection_select :transport_mode_id, TransportMode.active.find(:all), :id, :name, :prompt => true
.form-field
  - if @route.errors.on(:number)
    .form-field-error= error_message_on @route, :number
  != label(:route, :number)
  != f.text_field :number
.form-field
  - if @route.errors.on(:name)
    .form-field-error= error_message_on @route, :name
  != label(:route, :name)
  != f.text_field :name
!= f.hidden_field :loaded
.form-field
  != submit_tag t(:go)