<%- if !@route.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.route_form_error') %>
  </div>
<%- end %>
<div class='form-field'>
  <%- if @route.errors.on(:region_id) %>
    <div class='error'>
      <%= error_message_on @route, :region_id %>
    </div>
  <%- end %>
  <%= raw label(:route, :region_id) %>
  <%= raw f.collection_select :region_id, Region.find(:all), :id, :name, :prompt => true %>
</div>

<div class='form-field'>
  <%- if @route.errors.on(:transport_mode_id) %>
    <div class='error'>
      <%= error_message_on @route, :transport_mode_id %>
    </div>
  <%- end %>
  <%= raw label(:route, :transport_mode_id) %>
  <%= raw f.collection_select :transport_mode_id, TransportMode.active.find(:all), :id, :name, :prompt => true %>
</div>

<div class='form-field'>
  <%- if @route.errors.on(:number) %>
    <div class='error'>
      <%= error_message_on @route, :number %>
    </div>
  <%- end %>
  <%= raw label(:route, :number) %>
  <%= raw f.text_field :number %>
</div>

<div class='form-field'>
  <%- if @route.errors.on(:status) %>
    <div class='error'>
      <%= error_message_on @route, :status %>
    </div>
  <%- end %>
  <%= raw label(:route, :status) %>
  <%= f.select(:status, Route.statuses) %>
</div>

<div class='form-field'>
  <%- if @route.errors.on(:name) %>
    <div class='error'>
      <%= error_message_on @route, :name %>
    </div>
  <%- end %>
  <%= raw label(:route, :name) %>
  <%= raw f.text_field :name %>
</div>

<%= raw f.hidden_field :loaded %>
<div class='form-field'>
  <%= raw submit_tag t('admin.go') %>
</div>
