<%= raw hidden_field_tag :stop_name_autocomplete_url, admin_url("/admin/autocomplete_for_stop_name") %>
<table class='journey-patterns'>
  <tr>
    <td>
      <%- f.fields_for :journey_patterns, @route.journey_patterns do |pattern_fields| %>
        <table class='route-segments'>
          <tr>
            <th width='4%'><%= t('admin.id') %></th>
            <th width='10%'><%= t('admin.journey_pattern') %></th>
            <th width='35%'><%= t('admin.from_stop') %></th>
            <th width='2%'><%= t('admin.terminus') %></th>
            <th width='35%'><%= t('admin.to_stop') %></th>
            <th width='2%'><%= t('admin.terminus') %></th>
            <th width='4%'><%= t('admin.segment_order') %></th>
            <th width='4%'><%= t('admin.remove') %></th>
            <%- if !pattern_fields.object.new_record? %>
              <%= raw pattern_fields.hidden_field :id   %>
            <%- else %>
              <%= raw pattern_fields.hidden_field :_add %>
            <%- end %>
          <tr>
            <td colspan="7">
              <a class='add-segment-link' href=""><%= t('admin.add_a_segment')       %></a>
            </td>
          </tr>
          
          <%- pattern_fields.fields_for :route_segments, RouteSegment.new(:journey_pattern => pattern_fields.object), :child_index => "new_route_segment" do |segment_fields| %>
            <tr class='add-segment-template' style='display: none'>
              <%= render :partial => 'add_segment_row', :locals => { :segment_fields => segment_fields } %>
            </tr>
          <%- end %>
          <%- pattern_fields.fields_for :route_segments do |segment_fields| %>
            <tr class='<%= (!segment_fields.object.errors.empty?) ? 'error' : cycle("odd", "even") %>' id='route_segment_<%= segment_fields.object.id %>'>
              <td><%= segment_fields.object.id %></td>
              <td><%= pattern_fields.object.id %></td>
              <td><%= raw "#{segment_fields.object.from_stop.common_name} (#{link_to(segment_fields.object.from_stop.id, admin_url(admin_stop_path(segment_fields.object.from_stop.id)))}) " %></td>
              <td><%= raw segment_fields.check_box :from_terminus %></td>
              <td><%= raw "#{segment_fields.object.to_stop.common_name} (#{link_to(segment_fields.object.to_stop.id, admin_url(admin_stop_path(segment_fields.object.to_stop.id)))})" %></td>
              
              <td><%= raw segment_fields.check_box :to_terminus %></td>
              <td>
                <%= raw segment_fields.text_field :segment_order, :size => 3, :class => 'segment-order-input' %>
              </td>
              <td>
                <%= raw segment_fields.hidden_field :route_id %>
                <%- if !segment_fields.object.new_record? %>
                  <%= raw segment_fields.hidden_field :id %>
                <%- else %>
                <%= raw segment_fields.hidden_field :_add, { :value => "1" } %>
                <%- end %>
                <%= raw segment_fields.hidden_field :to_stop_id %>
                <%= raw segment_fields.hidden_field :from_stop_id %>
                <%= raw segment_fields.check_box :_destroy, :class => 'check-route-segment' %>
              </td>
              
            </tr>
          <%-end %>
        </table>
      
      <%- end %>
    </td>
  </tr>
</table>
