%table.route-segments
  %tr
    %th{:width => "4%"}= t(:id)
    %th{:width => "40%"}= t(:from_stop)
    %th{:width => "2%"}= t(:terminus)
    %th{:width => "40%"}= t(:to_stop)
    %th{:width => "2%"}= t(:terminus)
    %th{:width => "4%"}= t(:remove)
  - f.fields_for :route_segments, RouteSegment.new do |route_segment_fields|
    %tr{ :class => cycle('odd', 'even') }
      %td
      %td
        != label_tag :from_stop_name
        != text_field_tag :from_stop_name, '', { :id => 'from_stop_name_auto', :size => 30 }  
        != hidden_field_tag :stop_name_autocomplete_url, admin_url("/admin/autocomplete_for_stop_name")
        != route_segment_fields.hidden_field :from_stop_id, { :id => 'from-stop-id' } 
      %td!= route_segment_fields.check_box :from_terminus
      %td
        != label_tag :to_stop_name
        != text_field_tag :to_stop_name, '', { :id => 'to_stop_name_auto', :size => 30 }  
        != route_segment_fields.hidden_field :to_stop_id, { :id => 'to-stop-id' } 
        != route_segment_fields.hidden_field :_add, { :value => "1" }
      %td!= route_segment_fields.check_box :to_terminus
      %td
  - @route.route_segments.each do |segment|
    - f.fields_for :route_segments, segment do |route_segment_fields|
      %tr{ :class => cycle('odd', 'even'), :id => "route_segment_#{segment.id}" }
        %td= segment.id
        %td!= "#{segment.from_stop.name} (#{segment.from_stop.id}) #{link_to(t(:on_main_site), main_url(location_path(segment.from_stop)), :target => '_blank')}" 
        %td!= route_segment_fields.check_box :from_terminus 
        %td!= "#{segment.to_stop.name} (#{segment.to_stop_id}) #{link_to(t(:on_main_site), main_url(location_path(segment.to_stop)), :target => '_blank')}" 
        %td!= route_segment_fields.check_box :to_terminus 
        %td
          != route_segment_fields.hidden_field :id
          != route_segment_fields.check_box :_destroy, :class => 'check-route-segment'

      