!= hidden_field_tag :stop_name_autocomplete_url, admin_url("/admin/autocomplete_for_stop_name")
%a{:class => 'add-segment-link', :href => ''}= t(:add_a_segment)
%table.route-segments
  %tr
    %th{:width => "4%"}= t(:id)
    %th{:width => "40%"}= t(:from_stop)
    %th{:width => "2%"}= t(:terminus)
    %th{:width => "40%"}= t(:to_stop)
    %th{:width => "2%"}= t(:terminus)
    %th{:width => "4%"}= t(:remove)
  - f.fields_for :route_segments, RouteSegment.new, :child_index => "new_route_segment" do |segment_fields|
    %tr{ :class => "add-segment-template", :style => "display: none" }
      = render :partial => 'add_segment_row', :locals => { :segment_fields => segment_fields }
  - f.fields_for :route_segments, RouteSegment.new do |segment_fields|
    %tr{ :class => "#{cycle('odd', 'even')} add-segment-row" }
      = render :partial => 'add_segment_row', :locals => { :segment_fields => segment_fields }
  - @route.journey_patterns.each do |journey_pattern| 
    - journey_pattern.route_segments.each do |segment|
      - if segment.new_record?
        - f.fields_for :route_segments, segment do |segment_fields|
          %tr{ :class => "#{cycle('odd', 'even')} add-segment-row" }
            = render :partial => 'add_segment_row', :locals => { :segment_fields => segment_fields }
      - else
        - f.fields_for :route_segments, segment do |segment_fields|
          %tr{ :class => cycle('odd', 'even'), :id => "route_segment_#{segment.id}" }
            %td= segment.id
            %td!= "#{segment.from_stop.common_name} (#{link_to(segment.from_stop.id, admin_url(admin_stop_path(segment.from_stop.id)))}) #{link_to(t(:on_main_site), main_url(location_path(segment.from_stop)), :target => '_blank')}"
            %td!= segment_fields.check_box :from_terminus
            %td!= "#{segment.to_stop.common_name} (#{link_to(segment.to_stop.id, admin_url(admin_stop_path(segment.to_stop.id)))}) #{link_to(t(:on_main_site), main_url(location_path(segment.to_stop)), :target => '_blank')}"
            %td!= segment_fields.check_box :to_terminus
            %td
              != segment_fields.hidden_field :id
              != segment_fields.check_box :_destroy, :class => 'check-route-segment'

      