%h2= t(:routes)
%form{ :method => "GET" }
  .transport-mode
    - TransportMode.active.find(:all).each do |transport_mode| 
      != label_tag "mode_#{transport_mode.id}", transport_mode.name
      != radio_button_tag :mode, transport_mode.id
  .query
    != label_tag t(:search)
    != text_field_tag :query, params[:query]
  != submit_tag t(:go)  
%table.routes
  %tr
    %th= t(:id)
    %th= t(:admin_route_number)
    %th= t(:name)
    %th= t(:generated_name)
    %th= t(:operators)
    %th= t(:region)
  -@routes.each do |route|
    %tr
      %td
        = link_to route.id, main_url(route_path(route.region, route))
        = link_to "(#{t(:admin)})", admin_url(admin_route_path(route.region, route))
      %td= route.number  
      %td= route.read_attribute(:name)
      %td= route.name
      %td!= route.operators.map{ |operator| link_to(operator.name, admin_url(admin_operator_path(operator))) }.join(" ")
      %td= route.region.name
= will_paginate @routes, {:admin => true}