%h2 Routes
- TransportMode.active.find(:all).each do |transport_mode| 
  = link_to transport_mode.name, "?mode=#{transport_mode.id}"
%table.routes
  %tr
    %th ID
    %th Name
    %th Region
  -@routes.each do |route|
    %tr
      %td
        = link_to route.id, main_url(route_path(route.region, route))
        = link_to "(admin)", admin_url(admin_route_path(route.region, route))
      %td= route.name
      %td= route.region.name
= will_paginate @routes, {:admin => true}