%h2= t(:merging_routes)
- form_tag(admin_url(merge_admin_routes_path), :method => "POST") do 
  %table{ :class => 'routes merge-list' }
    %tr
    %tr
      %th{:width => "14%"}= t(:id)
      %th{:width => "5%"}= t(:admin_route_number)
      %th{:width => "14%"}= t(:name)
      %th{:width => "35%"}= t(:cached_description)
      %th{:width => "23%"}= t(:operators)
      %th{:width => "10%"}= t(:region)
      %th{ :width => "5%" }= t(:merge_to)
    -@routes.each do |route|
      %tr{ :class => cycle('odd', 'even') }
        %td
          = link_to route.id, main_url(route_path(route.region, route))
          = link_to "(#{t(:admin)})", admin_url(admin_route_path(route.id)), {:target => "_blank"}
        %td= route.number  
        %td= route.read_attribute(:name)
        %td= route.name
        %td!= route.operators.map{ |operator| link_to(operator.name, admin_url(admin_operator_path(operator))) }.join(" ")
        %td= route.region.name
        %td
          != radio_button_tag "merge_to", route.id, route == @routes.first, { :class => "select-item" }
          != hidden_field_tag "routes[]", route.id
    %tr{ :class => 'footer' }
      %td{ :colspan => 8 }
        = t(:selected_items)
        != submit_tag t(:merge)