%h2= @route.name
- if !@route.errors.empty?
  .form-error
    = t(:route_form_error)
- form_for [:admin, @route.becomes(Route)], :url => admin_url(admin_route_path(@route.region, @route)) do |f| 
  .form-field
  - if @route.errors.on(:name)
    .form-field-error= error_message_on @route, :name
  != label(:route, :name)
  != f.text_field :name
  != submit_tag t(:update)
