%h2= @route.name
=link_to t(:on_main_site), main_url(route_path(@route.region, @route)), :target => '_blank'
%p= "Region: #{@route.region.name}"
- form_for [:admin, @route.becomes(Route)], :url => admin_url(admin_route_path(@route.region, @route)) do |f| 
  - if !@route.errors.empty?
    .form-error
      = t(:route_form_error)
  .form-field
  - if @route.errors.on(:name)
    .form-field-error= error_message_on @route, :name
  != label(:route, :name)
  != f.text_field :name
  - if !@route.route_operators.empty?
    %h3 Route Operators
    - @route.route_operators.each do |route_operator|
      - f.fields_for :route_operators, route_operator do |route_operator_fields|
        .form-field
          %b= route_operator.operator.name
          %br
          != route_operator_fields.label :_destroy, t(:remove_operator)
          != route_operator_fields.check_box :_destroy
          != route_operator_fields.hidden_field :id
  - else
    - operators = Operator.find_all_by_code(@route.operator_code)
    - if !operators.empty?
      %h3 Operator code matches 
      - f.fields_for :route_operators, RouteOperator.new do |route_operator_fields|
        .form-field
          - operators.each do |operator|
            != route_operator_fields.radio_button :operator_id, operator.id
            != route_operator_fields.label :operator_id, link_to(operator.name, admin_url(admin_operator_path(operator)), :target => "_blank")
    - else
      %p
        = t(:no_operators_for_code, :code => @route.operator_code)
        = link_to t(:add_operator), admin_url(new_admin_operator_path(:code => @route.operator_code))
  != submit_tag t(:update)
