- if !@stop_area.errors.empty?
  .form-error
    = t(:stop_area_form_error)
- [:name, :code, :lon, :lat].each do |field|
  = render :partial => 'text_field', :locals => { :field => field, :f => f }
.form-field
  - if @stop_area.errors.on(:area_type)
    .form-field-error= error_message_on @stop_area, :area_type  
  != label(:stop_area, :area_type)
  != f.select :area_type, StopAreaType.codes
.form-field
  - if @stop_area.errors.on(:locality_id)
    .form-field-error= error_message_on @stop_area, :locality_id
  != hidden_field_tag :locality_name_autocomplete_url, admin_url("/admin/autocomplete_for_locality_name")
  != label(:stop_area, :locality_id)
  != text_field_tag :locality_name, @stop_area.locality_name, { :class => 'locality_name_auto', :size => 30 }
  != f.hidden_field :locality_id, { :class => 'locality-id' }
!= f.hidden_field :loaded
!= submit_tag t(:go)