<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags(:admin => true) %>
<%- end %>
<div id='map'>
</div>
<h2 class='stop-area-header'><%= @stop_area.name %></h2>
<%- form_for @stop_area, :url => admin_url(admin_stop_area_path(@stop_area.id)), :html => { :method => :delete, :class => 'destroy-link' } do |f|  %>
  <%= raw hidden_field_tag :confirmation, t(:are_you_sure), {:id => 'destroy_confirmation'} %>
  <%= raw submit_tag t(:destroy) %>
<%- end %>
<%- form_for [:admin, @stop_area], :url => admin_url(admin_stop_area_path(@stop_area.id)), :html => { :class => 'stop-area-form' } do |f|  %>
  <%= render :partial => "form", :locals => { :f => f } %>
<%- end %>
<script type="text/javascript">
  var zoom = <%= MAX_VISIBLE_ZOOM - 1 %>;
  var lat =  <%= @stop_area.lat %>;
  var lon = <%= @stop_area.lon %>;
  var findOtherLocations = false;
  var linkType = 'location';
  var areaStops = <%= raw location_stops_coords([@stop_area], main=true, small=false, :location).to_json %>;
  jQuery(document).ready(function(){
    area_init();
    setupShowStopArea();
    
  });
</script>
