<h2>Incoming Message <%= @incoming_message.id %></h2>
<%- form_for @incoming_message, :url => admin_url(admin_incoming_message_path(@incoming_message.id)), :html => { :method => :delete, :class => 'destroy-link' } do |f|  %>
  <%= raw hidden_field_tag :confirmation, t('admin.are_you_sure'), {:id => 'destroy_confirmation'} %>
  <%= raw submit_tag t('admin.destroy') %>
<%- end %>
<div>
  
<%- if @incoming_message.campaign %>
  Campaign: <%= link_to(@incoming_message.campaign.title, main_url(campaign_path(@incoming_message.campaign))) %>
  (<%= link_to(t('admin.admin'), admin_url(admin_campaign_path(@incoming_message.campaign.id))) %>)
<%- else %>
  This message has not been delivered to a campaign.
  <%- if !@incoming_message.campaign_guesses.empty? %>
    Possible campaign matches:
    <%- @incoming_message.campaign_guesses.each do |campaign| %>
      <%= link_to("#{campaign.title} (#{campaign.id})", admin_url(admin_campaign_path(campaign))) %>
    <%- end %>
  <%- end %>
<%- end %>
</div>

<h3>Actions</h3>

<%- form_for @incoming_message, :url => admin_url(redeliver_admin_incoming_message_path(@incoming_message.id)), :html => {:method => :post } do |f| %>
  <div>
      id or slug of campaign:
      <%= text_field_tag 'campaign_id', "", { :size => 20 } %>
      <%= submit_tag "Redeliver to another campaign" %>
  </div>
<%- end %>

<h3>Unfiltered Text</h3>
<%= simple_format(raw @incoming_message.main_part_text) %>

<h3>Raw Email</h3>

<%= link_to t('admin.download'), admin_url(download_admin_incoming_message_path(@incoming_message.id))%>
<pre><%= h(@incoming_message.raw_email.data).gsub(/\n/, '<br>') %></pre>

<script type="text/javascript">
  jQuery(document).ready(function(){
    setupShowIncomingMessage();
  });
</script>