- if !@problem.errors.empty?
  .form-error
    = t(:problem_form_error)
.fieldset
  != form.hidden_field :location_id 
  - if @problem.errors.on(:location)
    .form-field-error= error_message_on @problem, :location  
  .form-field
    - if @problem.errors.on(:transport_mode_id)
      .form-field-error= error_message_on @problem, :transport_mode_id
    %label{:for => 'transport_mode_id'}
      =t(:transport_mode)
    .transport-mode
      != transport_mode_radio_buttons
    - if @problem.errors.on(:location_attributes)
      .form-field-error= error_message_on @problem, :location_attributes
    .form-field
      != label_tag 'problem[location_attributes][name]', t(:location_name)
      != text_field_tag 'problem[location_attributes][name]', location_param(:name)
    .form-field
      != label_tag 'problem[location_attributes][area]', t(:area)
      != text_field_tag 'problem[location_attributes][area]', location_param(:area)
    .form-field
      != label_tag 'problem[location_attributes][route_number]', t(:route_number)
      != text_field_tag 'problem[location_attributes][route_number]', location_param(:route_number)
  .form-field
    - if @problem.errors.on(:location_type)
      .form-field-error= error_message_on @problem, :location_type
    != form.label :location_type, t(:location_type)
    != location_type_radio_buttons @problem
