- if !@problem.errors.empty?
  .form-error
    = t(:problem_form_error)
.fieldset
  .form-field
    - if @problem.errors.on(:subject)
      .form-field-error= error_message_on @problem, :subject
    = render 'text_field', :f => form, :name => :subject
  - form.fields_for :reporter do |builder|
    .form-field
      - if @problem.reporter.errors.on(:email)
        .form-field-error= error_message_on @problem.reporter, :email
      = render 'text_field', :f => builder, :name => :email
    .form-field
      - if @problem.reporter.errors.on(:name)
        .form-field-error= error_message_on @problem.reporter, :name
      = render 'text_field', :f => builder, :name => :name
  - if @problem.errors.on(:location)
    .form-field-error= error_message_on @problem, :location  
  .form-field
    - if @problem.errors.on(:transport_mode_id)
      .form-field-error= error_message_on @problem, :transport_mode_id
    %label{:for => 'transport_mode_id'}
      =t(:transport_mode)
    != transport_mode_radio_buttons
  - fields_for @stop do |builder|
    .form-field
      - if @stop.errors.on(:common_name)
        .form-field-error= error_message_on @stop, :common_name
      = render 'text_field', :f => builder, :name => :common_name
    .form-field
      - if @stop.errors.on(:locality_name)
        .form-field-error= error_message_on @stop, :locality_name
      = render 'text_field', :f => builder, :name => :locality_name
  .form-field
    - if @problem.errors.on(:description)
      .form-field-error= error_message_on @problem, :description
    != form.label :description, t(:description)
    != form.text_area :description