%h3= t(:provide_an_update)
.update-help!= t(:update_help, :privacy_link => link_to(t(:privacy_policy), about_url(:anchor => "privacy")), :location_type => readable_location_type(@problem.location))
- form_for @problem, :url => problem_path(@problem), :html => { :class => 'new_update' } do |f|
  .fieldset
    - f.fields_for :campaign_comments, @new_comment do |update_fields|
      - update_fields.fields_for :user do |user_fields|
        - if current_user && current_user == @new_comment.user
          .form-field
            != user_fields.hidden_field :id
        - else
          - if @new_comment.errors.on('user_name')
            .form-field-error= error_message_on @new_comment, 'user_name'
          .form-field
            != update_fields.label :user_name, t(:name)
            != update_fields.text_field :user_name
          - if @new_comment.user.errors.on('email')
            .form-field-error= error_message_on @new_comment.user, 'email'
          .form-field
            != user_fields.label :email
            != user_fields.text_field :email
            != user_fields.hidden_field :id
      - if @new_comment.errors.on(:text)
        .form-field-error= error_message_on @new_comment, :text
      .form-field
        != update_fields.label :text, t(:update)
        != update_fields.text_area :text, :rows => 5
      .checkbox
        != update_fields.check_box :mark_fixed
        != update_fields.label :mark_fixed, t(:mark_fixed)
  .submit!= submit_tag t(:post)      