<div id="banner">
	<div class="container">
		<h1>Choose a Stop or Station</h1>
	</div>
</div>
<%- if params[:choose_from_list] %>
<div id="greybanner">
	<div class="container">
		<p>Choose a stop or station from the list below.</p>
	</div>
</div>
<div id="main-content" class="container">
   <%- page_results = (@locations + @other_locations).paginate({:page => params[:page], :per_page => 10 }) %>
  <%= will_paginate page_results %>
  <ul>
  <%- page_results.each do |location| %>
    <li class='location'>
      <%= link_to(location.description, map_link_url(location, :problem), "data-ajax" => "false") %>
    </li>
  <%- end %>
  </ul>
  <%= will_paginate page_results %>
<%- else %>
<div id="greybanner">
	<div class="container">
		<p>
			<%= t(:multiple_locations_intro) %>
			<%= raw t(:cant_see_the_map, :link => link_to(t(:choose_from_list), params.merge("choose_from_list" => 1), "data-ajax" => "false"))%>
		</p>
	</div>
</div>
<div id="main-content" class="container">
	<div id='large-map'>
		<%= render :partial => 'shared/map', :locals => { :locations => @locations, :other_locations => @other_locations, :link_type => :problem, :height => map_sizes(:large_map_height), :width => map_sizes(:large_map_width)  } %>
	</div>
<%- end %>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>