#map-col
  = render :partial => 'shared/map', :locals => { :locations => @locations, :other_locations => [], :link_type => :problem, :height => MAP_HEIGHT, :width => MAP_WIDTH  }
%p
  = @error_message
  = t(:multiple_routes_intro, :num_locations => MAX_LOCATION_RESULTS)
%ul.location-list
  - @locations.each do |location|
    %li= link_to "#{location.description_with_operators}", new_problem_url(:location_id => location.id, :location_type => location.type)