<div id="banner">
	  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.choose_localities.choose_locality')%></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p>
		<%- if @matched_stops_or_stations %>
		  <%= t('problems.choose_localities.within_multiple_localities', :name => @name) %>
		<%- else %>
		  <%= t('problems.choose_localities.multiple_localities', :name => @name) %>
		<%- end %>
		</p>
	</div>
</div>
<div id="main-content" class="container">
	<ul class='locality-list'>
	  <%- @localities.each do |locality| %>
	    <%- if @matched_stops_or_stations %>
	      <li class='locality'>
  	      <%= link_to(locality.name_and_qualifier_name_with_comma, params.merge(:name => locality.name_and_qualifier_name_with_comma, :stop_name => @name)) %>
	      </li>
	    <%- else %>
	      <li class='locality'>
	        <%= link_to(locality.name_and_qualifier_name_with_comma, params.merge(:name => locality.name_and_qualifier_name_with_comma))     %>
	      </li>
	    <%- end %>
	  <%- end %>
	</ul>
</div>