<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= t('problems.existing.header')%></h1>
  </div>
</div>

<div id="main-content" class="container">
  <div id="problem-map">
    <h5><%= @location.description %></h5>
        <%= render :partial => 'shared/map', :locals => { :locations => [@location], :other_locations => [], :link_type => :location, :height => @map_height, :width => @map_width } %>
    </div>

  <div class="leftcol mediumwidecol">
    <%= will_paginate @issues %>
    <ul class="issues-list" id="existing-issues-list">
      <%- @issues.each do |issue| %>
         <%= render :partial => 'shared/issue', :locals => { :issue => issue, :context => :new_problem } %>
      <%- end %>
    </ul>
    <%= will_paginate @issues %>
  </div>



</div>