<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.existing.header')%></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('problems.existing.intro', :location => at_the_location(@location)) %> <%= raw t('problems.existing.continue_on', :link => link_to( t('problems.existing.report_your_problem'), new_problem_url(:location_id => @location.id, :location_type => @location.type)))%></p>
	</div>
</div>
<div id="main-content" class="container">
  <div class="leftcol widecol">
    <%= will_paginate @issues %>
    <ul class="issues-list">
    	<%- @issues.each do |issue| %>
         <%= render :partial => 'shared/issue', :locals => { :issue => issue, :context => :new_problem } %>
      <%- end %>
    </ul>
    <%= will_paginate @issues %>
  </div>
</div>