<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.find_bus_route.find_a_bus_or_coach_route')%></h1>
	</div>
</div>

<div id="greybanner">
	<div class="container">
		<p><%= t('problems.find_bus_route.what_was_the_number_and_area') %></p>
	</div>
</div>


<div id="main-content" class="container">
	<%- form_tag find_bus_route_problems_path, :id => 'bus_route_form', :method => 'GET' do  %>
	<ul class="form-list">
	    <li class="fieldset">
	      <%= raw label_tag t('problems.find_bus_route.enter_route_number') %>
	      <div class="input-border"><%= raw text_field_tag 'route_number', params[:route_number] %></div>
	      <div id='guidance-route-number' class='guidance'><%= t('problems.find_bus_route.route_number_example')%></div>
	    </li>
    
	    <li class="fieldset fmt-has-geolocation">
	      <%= raw label_tag t('problems.find_bus_route.enter_town_or_area') %>
	      <div class="input-border"><%= raw text_field_tag 'area', params[:area] %></div>
	      <div id='guidance-area' class='guidance'><%= t('problems.find_bus_route.area_example')%></div>
	    </li>
		<li><button class="point-go" type="submit"><%= t('problems.find_bus_route.go') %></button></li>
		<li class="base-error">
		<%- if @error_message %>
	      <div class='error'>
	        <%= @error_message %>
	      </div>
	    <%- end %>
		</li>
    </ul>
	<%- end %>
</div>

<%= render :partial=> "shared/geolocate_js"%>
