<div id="main-content" class="container">
  <h2 class='main-header'><%= t(:find_a_route) %></h2>
  <div class='problem-form-wrapper'>
    <div class='problem-form'>
      <div class='problem-options'>
        <%= t(:is_it_on_a) %>
        <span class='link-button'>
          <%= link_to(t(:bus_or_coach_route), find_bus_route_problems_path) %>
        </span>
        <%= t(:or_on_a) %>
        <span class='link-button'>
          <%= link_to(t(:train_route), find_train_route_problems_path) %>
        </span>
        <%= t(:or_on_a) %>
        <span class='link-button'>
          <%= link_to(t(:tram_metro_ferry_route), find_other_route_problems_path) %>
        </span>
      </div>
    </div>
  </div>
</div>
