<div id="main-content" class="container">
	<h2 class='main-header'><%= t(:where_did_you_get_on_and_off) %></h2>
	<div class='problem-form-wrapper'>
	  <%- form_tag find_train_route_problems_path, :id => 'train_route_form', :method => 'GET' do  %>
  
	    <%- @error_messages.each do |error_message| %>
	      <div class='error'>
	        <%= error_message %>
	      </div>
	    <%- end %>
    
	    <div class='form-field'>
	      <%= raw label_tag t(:where_did_you_get_on) %>
	      <%- if @from_stops %>
	        <%= raw select_tag 'from', options_from_collection_for_select(@from_stops, 'name', 'name') %>
	        <%= raw hidden_field_tag 'from_exact', true %>
	      <%- else %>
	        <%= raw text_field_tag 'from', @from_stop %>
	      <%- end %>
	      <div id='guidance-from' class='guidance'>e.g. London Euston</div>
	    </div>
    
	    <div class='form-field'>
	      <%= raw label_tag t(:where_did_you_get_off) %>
	      <%- if @to_stops %>
	        <%= raw select_tag 'to', options_from_collection_for_select(@to_stops, 'name', 'name') %>
	        <%= raw hidden_field_tag 'to_exact', true %>
	      <%- else %>
	        <%= raw text_field_tag 'to', @to_stop %>
	      <%- end %>
	      <div id='guidance-to' class='guidance'>e.g. Birmingham New Street</div>
	    </div>
    
	    <button type='submit'><%= t(:go) %></button>
	  <%- end %>
	</div>
</div>