%h2.main-header=t(:where_did_you_get_on_and_off)
.problem-form-wrapper
  - form_tag find_other_route_problems_path, :id => 'other_route_form', :method => 'GET' do 
    - @error_messages.each do |error_message|
      .form-field-error
        = error_message
    .form-field
      != label_tag t(:where_did_you_get_on)
      - if @from_stops
        != select_tag 'from', options_from_collection_for_select(@from_stops, 'name', 'name')
      - else
        != text_field_tag 'from', @from_stop
      #guidance-from{:class => 'guidance'} e.g. Leicester Square
    .form-field
      != label_tag t(:where_did_you_get_off)
      - if @to_stops
        != select_tag 'to', options_from_collection_for_select(@to_stops, 'name', 'name')
      - else
        != text_field_tag 'to', @to_stop
      #guidance-to{:class => 'guidance'} e.g. Piccadilly Circus
    %input{:type => 'submit', :value => t(:go)}
      
