<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.find_stop.where_is_it') %></h1>
	</div>
</div>

<div id="main-content" class="container">
	<%- form_tag find_stop_problems_path, :id => 'stop_name_form', :method => 'GET' do  %>
    <div id="find-stop">
		  <label for="name" id='guidance-name' class='guidance'><%= t('problems.find_stop.instructions')%></label>
		  <%= raw text_field_tag 'name', params[:name], :size => 40 %>
		  <button class="point-go" type='submit'><%= t('problems.find_stop.go') %></button>
	  </div>
	  <%- if @error_message %>
	  <div class='error find-stop-error'><%= @error_message %></div>
	  <%- end %>
	<%- end %>
</div>

<!-- geolocating Javascript follows -->
<script type="text/javascript">
    
    $(function() {
      if (geo_position_js.init()) {
        $('#main-content').append('<div id="geolocate-container"><span id="geolocate-button">...or your current location</span></div>');
        $('#geolocate-button').click(function(){ doGeolocate() });
      }
    });
    
    function doGeolocate() {
      $('#geolocate-button').replaceWith("<p id='geolocate-status'>OK... fetching location...</p>");
      if (geo_position_js.init()) { // overkill
        geo_position_js.getCurrentPosition(
          function(position) {
            var nearest_stop_url =  "<%= find_stop_problems_path %>?lat=" + position.coords.latitude + "&amp;lon=" + position.coords.longitude;
            $('#geolocate-status').html("<span>OK... fetching location done, loading...</span>");
            document.location.href = nearest_stop_url
          }, 
          function(err) {
            $('#geolocate-status').html("<span>Sorry: failed to auto-locate you! " + err + "</span>");
          }
        );
      } else {
        $('#geolocate-status').html("<span>Sorry... can't auto-locate you.</span>");
      }
    }
    
</script>
<%= raw javascript_include_tag('geo') %>

