<div id="banner">
	<div class="container">
		<h1><%= t('problems.find_route.find_a_route') %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('problems.find_route.subheader') %></p>
	</div>
</div>

<div id="main-content" class="container">

  <ul id="route-type-list" class="font-1">
    <li class="bus button"><%= link_to(t('problems.find_route.bus'), find_bus_route_problems_path) %></li>
    <li class="train button"><%= link_to(t('problems.find_route.train'), find_train_route_problems_path) %></li>
    <li class="tram button"><%= link_to(t('problems.find_route.tram'), find_other_route_problems_path) %></li>
    <li class="ferry button"><%= link_to(t('problems.find_route.ferry'), find_other_route_problems_path) %></li>
  </ul>
</div>