<div id="banner">
	<div class="container">
		<h1><%= t(:find_a_route) %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p>Choose from one of the three options below</p>
	</div>
</div>

<div id="main-content" class="container">
  <ul id="route-type-list" class="font-1">
    <li class="bus button"><%= link_to('bus', find_bus_route_problems_path) %><span>(or coach)</span></li>
    <li class="train button"><%= link_to('train', find_train_route_problems_path) %></li>
    <li class="tram button"><%= link_to('tram', find_other_route_problems_path) %><span>(or metro/underground)</span></li>
    <li class="ferry button"><%= link_to('ferry', find_other_route_problems_path) %></li>
  </ul>
</div>