<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.find_stop.where_is_it') %></h1>
	</div>
</div>

<div id="main-content" class="container">
	<%- form_tag find_stop_problems_path, :id => 'stop_name_form', :method => 'GET' do  %>
    <div id="find-stop" class="fmt-has-geolocation">
		  <label for="name" id='guidance-name' class='guidance'><%= t('problems.find_stop.instructions')%></label>
		  <%= raw text_field_tag 'name', params[:name], :size => 40 %>
		  <button class="point-go" type='submit'><%= t('problems.find_stop.go') %></button>
	  </div>
	  <%- if @error_message %>
	  <div class='error find-stop-error'><%= @error_message %></div>
	  <%- end %>
	<%- end %>
</div>

<%= render :partial=> "shared/geolocate_js"%>

