<div id="banner">
	<div class="container">
		<h1><%= t('problems.find_route.find_a_route') %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('problems.find_route.subheader') %></p>
	</div>
</div>

<div id="main-content" class="container">
  <ul id="route-type-list" class="font-1">
    <li class=""><a class="bus button" href="<%= find_bus_route_problems_path %>"><%= t('problems.find_route.bus')%></a></li>
    <li class=""><a class="train button" href="<%= find_train_route_problems_path %>"><%= t('problems.find_route.train') %></a></li>
    <li class=""><a class="tram button" href="<%= find_other_route_problems_path %>"><%= t('problems.find_route.tram') %></a></li>
    <li class=""><a class="ferry button" href="<%= find_other_route_problems_path %>"><%= t('problems.find_route.ferry') %></a></li>
  </ul>
</div>