<%- content_for :javascript do %>
<%= raw javascript_include_tag('jquery.cycle.min.js', :charset => 'utf-8') %>
<%- end %>
<script type="text/javascript">
$(function(){
	$('#frontpage-problem-scroller').cycle();
});
</script>
<%- content_for :banner_content do %>
<div class="top-notice" id="conditional-notice">
	<div id="other-country-notice" class="container"></div>
</div>
<%- end %>
<div id="frontpage-top" class="container">
	<div class="leftcol">
		<noscript>
			<style>
			#frontpage-top .leftcol ul#frontpage-problem-scroller li:not(:first-child){
				display:none;
			}
			</style>
		</noscript>
		<ul id="frontpage-problem-scroller">
			<li><h1>Had a bad train journey?</h1></li>
			<li><h1>Had a bad bus journey?</h1></li>
			<li><h1>Does the ferry stink?</h1></li>
		</ul>
		<img src="/images/frontpage-trainwreck.jpg" />
		<p class="font-1">Report your problem:</p>
		<%= link_to('STOP or STATION', find_stop_problems_url, :class => 'font-1 button green') %>
		<%= raw link_to('JOURNEY or ROUTE', find_route_problems_url, :class => 'font-1 button green') %>
		<p class="font-1">and we will help you get it fixed</p>
	</div>
	<div class="rightcol">
		<h2>What FixMyTransport does</h2>
		<ul id="secret-list">
			<li class="secret-report">Reports problems</li>
			<li class="secret-find">Finds people responsible</li>
			<li class="secret-grow">Grows support</li>
			<li class="secret-track">Tracks progress</li>
			<li class="secret-done">Gets things done</li>
		</ul>
		<a href="#main-content" class="font-1 button">How does it work?</a>
		
		<div id="followus" class="font-1">
			<a href="http://facebook.com" target="_blank">
				<span class="icon facebook"></span>
				Follow us on Facebook
			</a>
			<a href="http://twitter.com/FixMyTransport" target="_target">
				<span class="icon twitter"></span>
				Follow us on Twitter
			</a>
		</div>
	</div>
</div>

<div id="banner" class="blue">
	<div class="container">
		<div id="frontpage-banner-left">
			<div class="dotted-white">&nbsp;</div>
			<div class="left">
				<h2 class="font-1">Lorem ipsum dolor sit amet consectetur sitolart</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante lorem, consequat vel tempor eu, fringilla ut diam. Ut vulputate, orci rhoncus elementum tempor, magna erat auctor purus, vel fringilla risus massa at dui. Proin bibendum placerat lorem. In egestas tristique sem in facilisis. In sollicitudin erat ac lectus gravida ullamcorper.</p>
			</div>
			<img class="right" src="/images/frontpage-banner-busstop.jpg" />
			<div class="dotted-white">&nbsp;</div>
		</div>
		<div id="frontpage-banner-right">
			<a href="<%= issues_url %>" class="font-1 fancybutton">Recent Issues</a>
			<a href="<%= routes_url %>" class="font-1 fancybutton">Browse Routes</a>
		</div>
	</div>
</div>
<div id="main-content" class="container">
	<div id="fg-head">
		<div id="fg-head-inner">
			<h2 class="font-1">How does it work?</h2>
			<p>We give you the tools to report your public transport problems to the correct operator or authority.</p>
			<p>All reports and responses are posted online so that other people can support, respond and give advice.</p>
		</div>
	</div>
	<ol id="frontpage-grid">
		<li class="fg-top">
			<div id="fg-img-1" class="fg-img"></div>
			<h3 class="font-1">1. Report your problem</h3>
			<p>It might have been a one of incident you’d just like to log, or a recurring problem you’d like fixing.</p>
		</li>
		<li class="fg-top end">
			<div id="fg-img-2" class="fg-img"></div>
			<h3 class="font-1">2. Find who's responsible</h3>
			<p>From the information you provide we can send your problem through to the correct department of the operator or local authority in charge.</p>
		</li>
		
		<div class="fg-bottom">
		<li>
			<div id="fg-img-3" class="fg-img"></div>
			<h3 class="font-1">3. Gather Support</h3>
			<p>All reports are posted to the site, and you can share them with friends and followers and fellow passengers.</p>
		</li>
		<li>
			<div id="fg-img-4" class="fg-img"></div>
			<h3 class="font-1">4. Track Progress</h3>
			<p>Gather responses, comments and advice from operators, authorities, supporters, as well as our transport boffins.</p>
		</li>
		<li class="end">
			<div id="fg-img-5" class="fg-img"></div>
			<h3 class="font-1">5. Get it sorted!</h3>
			<p>See your campaign gain momentum and hopefully get resolved. Get a warm fuzzy feeling for making public transport better for everybody.</p>
		</li>
		</div>
	</ol>
</div>