<!-- OLD MARKUP -->
<div class="container">
  <h2 class='main-header'><%= t(:get_problems_fixed) %></h2>
  <div class='problem-form-wrapper'>
    <div class='problem-form'>
      <div class='problem-options'>
        <%= t(:do_you_want_to_report) %>
        <span class='link-button'>
          <%= link_to(t(:stop_or_station), find_stop_problems_url) %>
        </span>
        <%= t(:or_on_a) %>
        <span class='link-button'>
          <%= raw link_to(t(:frontpage_route), find_route_problems_url) + '?' %>
        </span>
      </div>
    </div>
  </div>
  
  <%- if MySociety::Config.get("DOMAIN", '127.0.0.1:3000') == 'www.fixmytransport.com' %>
    <div class='info-for-alpha-testers'>
      <div class='video'>
        <object height='192' width='320'>
          <param name='movie' value='http://www.youtube.com/v/LGYEfOm_28I?fs=1&amp;hl=en_US' />
          <param name='allowFullScreen' value='true' />
          <param name='allowscriptaccess' value='always' />
          <embed allowfullscreen='true' src='http://www.youtube.com/v/LGYEfOm_28I?fs=1&amp;hl=en_US' allowscriptaccess='always' type='application/x-shockwave-flash' height='192' width='320'/>
        </object>
      </div>
    </div>
  <%- end %>
  
  <div class='latest'>
    
    <div class='right-col'>
      <div class='latest-campaigns'>
        <h3><%= t(:recently_active_campaigns) %></h3>
        <ul>
          <%- Campaign.find_recent(5).each do |campaign| %>
            <li class='campaign-update'>
              <%= link_to(h(campaign.title), campaign_url(campaign)) %>
              <span class='transport-modes-note'>
                <%= campaign.transport_mode_text %>
              </span>
              <span class='event-type-note'><%= "(#{event_type_note(campaign.campaign_events.visible.first)})" %>
              </span>
            </li>
          <%- end %>
        </ul>
        <div class='more'>
          <%= link_to(t(:more_campaigns), campaigns_path) %>
        </div>
      </div>
    </div>
    
    <div class='left-col'>
      <div class='latest-problems'>
        <h3><%= t(:latest_problems) %></h3>
        <ul>
          <%- Problem.latest(5).each do |problem| %>
            <li class='problem'>
              <%= link_to(h(problem.subject), problem_url(problem)) %>
              <span class='transport-modes-note'>
                <%= problem.transport_mode_text %>
              </span>
            </li>
          <%- end %>
        </ul>
        <div class='more'>
          <%= link_to(t(:more_problems), problems_path) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- OLD MARKUP -->


<div class="container">
	<h1>Top content goes here</h1>
</div>
	
<div id="banner" class="blue">
	<div class="container">
		<div id="frontpage-banner-left">
			<div class="dotted-white">&nbsp;</div>
			<div class="left">
				<h2 class="font-1">Lorem ipsum dolor sit amet consectetur sitolart</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante lorem, consequat vel tempor eu, fringilla ut diam. Ut vulputate, orci rhoncus elementum tempor, magna erat auctor purus, vel fringilla risus massa at dui. Proin bibendum placerat lorem. In egestas tristique sem in facilisis. In sollicitudin erat ac lectus gravida ullamcorper.</p>
			</div>
			<img class="right" src="/images/frontpage-banner-busstop.jpg" />
			<div class="dotted-white">&nbsp;</div>
		</div>
		<div id="frontpage-banner-right">
			<a href="#" class="font-1 grey button">Campaigns</a>
			<a href="#" class="font-1 grey button">Problems</a>
		</div>
	</div>
</div>
<div id="main-content" class="container">		
	<div id="fg-head">
		<div id="fg-head-inner">
			<h2 class="font-1">How does it work?</h2>
			<p>We give you the tools to report your public transport problems to the correct operator or authority.</p>
			<p>All reports and responses are posted online so that other people can support, respond and give advice.</p>
		</div>
	</div>
	<ol id="frontpage-grid">
		<li class="fg-top">
			<div id="fg-img-1" class="fg-img"></div>
			<h3 class="font-1">1. Report your problem</h3>
			<p>It might have been a one of incident you’d just like to log, or a recurring problem you’d like fixing.</p>
		</li>
		<li class="fg-top end">
			<div id="fg-img-2" class="fg-img"></div>
			<h3 class="font-1">2. Find who's responsible</h3>
			<p>From the information you provide we can send your problem through to the correct department of the operator or local authority in charge.</p>
		</li>
		
		<div class="fg-bottom">
		<li>
			<div id="fg-img-3" class="fg-img"></div>
			<h3 class="font-1">3. Gather Support</h3>
			<p>All reports are posted to the site, and you can share them with friends and followers and fellow passengers.</p>
		</li>
		<li>
			<div id="fg-img-4" class="fg-img"></div>
			<h3 class="font-1">4. Track Progress</h3>
			<p>Gather responses, comments and advice from operators, authorities, supporters, as well as our transport boffins.</p>
		</li>
		<li class="end">
			<div id="fg-img-5" class="fg-img"></div>
			<h3 class="font-1">5. Get it sorted!</h3>
			<p>See your campaign gain momentum and hopefully get resolved. Get a warm fuzzy feeling for making public transport better for everybody.</p>
		</li>
		</div>
	</ol>
	
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>