.homepage
  %h2.main-header=t(:get_problems_fixed)
  .problem-form-wrapper
    .problem-form
      .problem-options
        =t(:do_you_want_to_report)
        %span.link-button
          =link_to(t(:stop_or_station), find_stop_problems_url)
        =t(:or_on_a)
        %span.link-button
          !=link_to(t(:frontpage_route), find_route_problems_url) + '?'
  - if MySociety::Config.get("DOMAIN", '127.0.0.1:3000') == 'www.fixmytransport.com'
    .info-for-alpha-testers
      .video
        %object{:width => "320", :height=>"192"}
          %param{:name=>"movie", :value=>"http://www.youtube.com/v/LGYEfOm_28I?fs=1&amp;hl=en_US"}
          %param{:name=>"allowFullScreen", :value=>"true"}
          %param{:name=>"allowscriptaccess", :value=>"always"}
          %embed{:src=>"http://www.youtube.com/v/LGYEfOm_28I?fs=1&amp;hl=en_US", :type=>"application/x-shockwave-flash", :allowscriptaccess=>"always", :allowfullscreen=>"true", :width=>"320", :height=>"192"}
  .latest
    .right-col
      .latest-campaigns
        %h3=t(:recently_active_campaigns)
        %ul
          - Campaign.find_recent(5).each do |campaign|
            %li.campaign-update
              = link_to(h(campaign.title), campaign_url(campaign))
              %span.transport-modes-note=campaign.transport_mode_text
              %span.event-type-note= "(#{event_type_note(campaign.campaign_events.first)})"
        .more= link_to(t(:more_campaigns), campaigns_path)
    .left-col
      .latest-problems
        %h3=t(:latest_problems)
        %ul
          - Problem.latest(5).each do |problem|
            %li.problem
              = link_to(h(problem.subject), problem_url(problem))
              %span.transport-modes-note=problem.transport_mode_text
        .more= link_to(t(:more_problems), problems_path)
