<%- @title = t('problems.new.reporting_a_problem', :location => @problem.location.name) %>
<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.new.header')%></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= raw @sending_advice %> <strong><%= t('problems.new.your_message_will_be_public')%></strong></p>
		<%- if @problem.location.respond_to?(:status) && @problem.location.status == 'DEL' %>
		<p><%= t('problems.new.location_inactive', :location_type => readable_location_type(@problem.location)) %></p>
		<%- end %>
	</div>
</div>
<div id="main-content" class="container">
	<div class="container">
		<div id="problem-map">
		    <h5><%= @problem.location.description %></h5>
   			<%= render :partial => 'shared/map', :locals => { :locations => [@problem.location], :other_locations => [], :link_type => :location, :height => PROBLEM_CREATION_MAP_HEIGHT, :width => PROBLEM_CREATION_MAP_WIDTH } %>
		</div>
	  <%- form_for @problem, :url => problems_url, :html => {:id => 'create-problem', :class => 'form-1'} do |f|  %>
    <%= raw f.hidden_field :location_id %>
    <%= raw f.hidden_field :location_type %>
		<ul>
			<li>
				<label><%= t('problems.new.to') %></label>

        <%- if @problem.reference %>
          <%- @problem.reference.responsible_organizations.each do |organization| %>
            <%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
              <%= responsibility_fields.hidden_field :organization_type,  :value => organization.class.to_s %>
              <%= responsibility_fields.hidden_field :organization_id,  :value => organization.id %>
            <%- end %>
          <%- end %>
          <%= f.hidden_field :reference_id, :value => @problem.reference.id %>
          <div class="static-value">
            <%= raw org_names(@problem.reference.responsible_organizations, t('problems.new.and')) %>
          </div>

        <%- else %>
  				<%- if @problem.location.operators_responsible?  %>
            <%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
              <%- if @problem.location.operators.size > 1 %>
                <%- if responsibility_fields.object.errors.on('organization_id') %>
                  <div class='error error-responsibilities_organization_id'>
                    <%= error_message_on responsibility_fields.object, :organization_id %>
                  </div>
                <%- else %>
                  <div class='error error-responsibilities_organization_id' style="display: none;" role="alert">
                  </div>
                <%- end %>
                <%= raw responsibility_fields.collection_select("organization_id", @problem.location.operators, :id, :name, :include_blank => t('problems.new.select_operator')) %>
                <%= responsibility_fields.hidden_field :organization_type,  :value => 'Operator' %>

              <%- elsif @problem.location.operators.size == 1 %>
                <%= responsibility_fields.hidden_field :organization_type,  :value => 'Operator' %>
                <%= responsibility_fields.hidden_field :organization_id,  :value => @problem.location.operators.first.id %>
                <div class="static-value">
                  <%= @problem.location.operators.first.name %>
                </div>
              <%- else %>
                <div class="static-value">
                  <%= t('problems.new.operator', :location => @problem.location.description)%>
                </div>
              <%- end %>
            <%- end %>
          <%- elsif @problem.location.pte_responsible?  %>
            <%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
              <%= responsibility_fields.hidden_field :organization_type,  :value => 'PassengerTransportExecutive' %>
              <%= responsibility_fields.hidden_field :organization_id,  :value => @problem.location.passenger_transport_executive.id %>
              <div class="static-value">
                <%= @problem.location.passenger_transport_executive.name %>
              </div>
            <%- end %>
          <%- elsif @problem.location.councils_responsible? %>
            <%- @problem.location.councils.each do |council| %>
              <%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
                <%= responsibility_fields.hidden_field :organization_type,  :value => 'Council' %>
                <%= responsibility_fields.hidden_field :organization_id,  :value => council.id %>
              <%- end %>
            <%- end %>
            <div class="static-value">
              <%= raw org_names(@problem.location.responsible_organizations, t('problems.new.or'))%>
            </div>

          <%- end %>
			  <%- end %>
			</li>
			<li>
				<label for="problem_subject"><%= t('problems.new.subject')%></label>
				<input id="problem_subject" type="text" name="problem[subject]" value="<%= @problem.subject %>"/>
				<%- if @problem.errors.on('subject') %>
					<div class='error error-subject'>
					<%= error_message_on @problem, 'subject' %>
					</div>
				<%- else %>
					<div class='error error-subject' style="display: none;" role="alert"></div>
				<%- end %>

				<div class="tipbox">
				  <a href="#" class="tip-close" tabindex="-1">Close</a>
					<h5><%= t('problems.new.subject_help_header')%></h5>
					<p><%= t('problems.new.subject_help')%></p>
				</div>
			</li>

			<%- if @problem.categories.size > 1 %>
        <li>
          <label for="problem_category"><%= t('problems.new.category')%></label>
          <%= raw f.select("category", @problem.categories, { :include_blank => t('problems.new.pick_a_category') }) %>

          <%- if @problem.errors.on('category') %>
            <div class='error'>
              <%= error_message_on @problem, :category %>
            </div>
          <%- else %>
           <div class='error error-category' style="display: none;" role="alert"></div>
          <%- end %>

        </li>
      <%- else %>
        <%= raw f.hidden_field :category, :value => "Other" %>
      <%- end %>


			<li>
				<label for="problem_description"><%= t('problems.new.description')%></label>
				<textarea id="problem_description" name="problem[description]" ><%= @problem.description %></textarea>
					  <%- if @problem.errors.on('description') %>
		          <div class='error'>
		            <%= error_message_on @problem, 'description' %>
		          </div>
		        <%- else %>
		         <div class='error error-description' style="display: none;" role="alert"></div>
		        <%- end %>

				<div class="tipbox">
				  <a href="#" class="tip-close" tabindex="-1">Close</a>
					<h5><%= t('problems.new.description_help_header')%></h5>
					<p><%= t('problems.new.description_help')%></p>
				</div>
			</li>
			<li>
				<button type="submit" class="button" value="clicked">Submit</button>
			</li>
		</ul>

		<%- end %>
	</div>
</div>