- @title = t(:reporting_a_problem, :location => @problem.location.name)
#map-col
  #map
  = render :partial => 'shared/location_map_js', :locals => { :locations => [@problem.location] }
%h3= @title
- form_for @problem, :url => problems_url, :html => {:class => 'create_problem'} do |f| 
  != f.hidden_field :location_id
  != f.hidden_field :location_type
  - if @problem.location.pte_responsible? 
    != t(:pte_advice, :pte_link => pte_link(@problem.location.passenger_transport_executive))
  %p!= @sending_advice
  - if @problem.location.is_a? Route
    = render :partial => 'route_advice'
  - else
    = render :partial => 'stop_advice'
  .fieldset
    - if @problem.errors.on('operator_id')
      .form-field-error= error_message_on @problem, :operator_id
    .form-field
      - if @problem.location.operators_responsible? 
        - if @problem.location.operators.size > 1
          = f.label :operator
          != f.collection_select("operator_id", @problem.location.operators, :id, :name, :include_blank => t(:select_operator))
        - elsif @problem.location.operators.size == 1
          !=f.hidden_field :operator_id, :value => @problem.location.operators.first.id
      - elsif @problem.location.pte_responsible? 
        !=f.hidden_field :passenger_transport_executive_id, :value => @problem.location.passenger_transport_executive.id
      - elsif @problem.location.councils_responsible?    
        != f.hidden_field :councils, :value => @problem.location.council_info
      
    - if @problem.errors.on('category')
      .form-field-error= error_message_on @problem, :category
    .form-field
      = f.label :category
      != f.select("category", Problem.categories(@problem), { :include_blank => t(:pick_a_category) })
      %br
    - if @problem.errors.on('subject')
      .form-field-error= error_message_on @problem, :subject
    .form-field
      = f.label :subject
      != f.text_field :subject
    - if @problem.errors.on('description')
      .form-field-error= error_message_on @problem, :description
    .form-field
      = f.label :description
      != f.text_area :description, {:rows => 5}
    - f.fields_for :reporter do |reporter_fields|
      != reporter_fields.hidden_field :name_required, :value => true
      - if @problem.errors.on('reporter.email')
        .form-field-error= error_message_on @problem, 'reporter.email'
      .form-field
        = reporter_fields.label :email
        != reporter_fields.text_field :email
      - if @problem.errors.on('reporter.name')
        .form-field-error= error_message_on @problem, 'reporter.name'
      .form-field
        = reporter_fields.label :name
        != reporter_fields.text_field :name
      - if @problem.errors.on('reporter.phone')
        .form-field-error= error_message_on @problem, 'reporter.phone'
      .form-field
        = reporter_fields.label :phone
        != reporter_fields.text_field :phone
      .checkbox
        != reporter_fields.check_box :public
        = reporter_fields.label :public, t(:ok_to_be_public)
        .label-note= t(:never_show_email)
  != submit_tag t(:go)    