<%- @title = t(:reporting_a_problem, :location => MySociety::Format.ucfirst(@problem.location.name)) %>
<div id="main-nav-bar">
	<div class="container">
		<h1><%= @title %></h1>
	</div>
</div>
<div id="banner">
	<div class="container">
		<h4><%= raw @sending_advice %></h4>
	</div>
</div>
<div id="main-content" class="container">
	<div class="container">
	  <%- form_for @problem, :url => problems_url, :html => {:id => 'create-problem', :class => 'formitem form-1'} do |f|  %>
    <%= raw f.hidden_field :location_id %>
    <%= raw f.hidden_field :location_type %>
		<ul>
			<li>
				<label>To</label>
				<%- if @problem.operators_responsible?  %>
        
         <%- if @problem.location.operators.size > 1 %>
           <%- if @problem.errors.on('operator_id') %>
            <div class='form-field-error'>
              <%= error_message_on @problem, :operator_id %>
            </div>
           <%- end %>
            <%= raw f.collection_select("operator_id", @problem.location.operators, :id, :name, :include_blank => t(:select_operator)) %>
          <%- elsif @problem.location.operators.size == 1 %>
            <%= raw f.hidden_field :operator_id, :value => @problem.location.operators.first.id %>
            <div class="static-value"><%= @problem.location.operators.first.name %></div>
          <%- end %>

        <%- elsif @problem.pte_responsible?  %>
          <%= raw f.hidden_field :passenger_transport_executive_id, :value => @problem.location.passenger_transport_executive.id %>
          <div class="static-value"><%= @problem.location.passenger_transport_executive.name %></div>
        <%- elsif @problem.councils_responsible? %>
          <%= raw f.hidden_field :council_info, :value => @problem.location.council_info %>
          <div class="static-value"><%= org_names(@problem, :responsible_organizations, t(:or))%></div>
        <%- end %>
				
			</li>
      
      <li>
			  <%- if @problem.errors.on('reporter_name') %>
          <div class='form-field-error'>
            <%= error_message_on @problem, 'reporter_name' %>
          </div>
        <%- end %>
				<label for="problem_reporter_name">Name</label>
				<input id="problem_reporter_name" name="problem[reporter_name]" type="text" value="<%= @problem.reporter_name %>"/>
				<div class="tipbox">
					<p class="tip">Tip</p>
					<div class="tip-nub"></div>
					<h5>Your name</h5>
					<p></p>
				</div>
			</li>
						
			<%- f.fields_for :reporter do |reporter_fields| %>
        <%- if @problem.reporter == current_user %>
          <div class='form-field'>
            <%= raw reporter_fields.hidden_field :id %>
            <%= raw reporter_fields.hidden_field :email %>
        <%- else %>
      			<li>
      			  <%- if @problem.reporter.errors.on('email') %>
                <div class='form-field-error'>
                  <%= error_message_on @problem.reporter, 'email' %>
                </div>
              <%- end %>
      				<label for="problem_reporter_attributes_email">Email address</label>
      				<input id="problem_reporter_attributes_email" name="problem[reporter_attributes][email]" type="text" value="<%=@problem.reporter.email %>"/>
      				<div class="tipbox">
      					<p class="tip">Tip</p>
      					<div class="tip-nub"></div>
      					<h5>Email address</h5>
      					<p>Your email address will not be public. <a href="<%= about_url(:anchor => "privacy") %>">Read our privacy policy</a></p>
      				</div>
      			</li>
      <%- end %>
          
      <%- end %>

			<li>
			  <%- if @problem.errors.on('subject') %>
          <div class='form-field-error'>
            <%= error_message_on @problem, 'subject' %>
          </div>
        <%- end %>
				<label for="problem_subject">Subject</label>
				<input id="problem_subject" type="text" name="problem[subject]" value="<%= @problem.subject %>"/>
				<div class="tipbox">
					<p class="tip">Tip</p>
					<div class="tip-nub"></div>
					<h5>Subject</h5>
					<p>The subject of your message.</p>
				</div>
			</li>
			
			<%- if @problem.categories.size > 1 %>
        <li>
          <%- if @problem.errors.on('category') %>
            <div class='form-field-error'>
              <%= error_message_on @problem, :category %>
            </div>
          <%- end %>
          <label for="problem_category">Category</label>
          <%= raw f.select("category", @problem.categories, { :include_blank => t(:pick_a_category) }) %>
        </li>
      <%- else %>
        <%= raw f.hidden_field :category, :value => "Other" %>
      <%- end %>
      
      
			<li>
			  <%- if @problem.errors.on('description') %>
          <div class='form-field-error'>
            <%= error_message_on @problem, 'description' %>
          </div>
        <%- end %>
				<label for="problem_description">Description</label>
				<textarea id="problem_description" name="problem[description]" ><%= @problem.description %></textarea>
				<div class="tipbox">
					<p class="tip">Tip</p>
					<div class="tip-nub"></div>
					<h5>Description</h5>
					<p>Your message will be sent directly to Centro. Try to be descriptive, but concise. <a href="#">See an example</a>.</p>
				</div>
			</li>
  		<button type="submit" class="problem-next" value="clicked">
        Next
      </button>
		</ul>

		<%- end %>
	</div>
</div>



