<%- @title = "#{@problem.subject}" %>
<div id="banner">
	<div class="container">
		<h1><%= @problem.subject %></h1>
		<%- if @problem.status == :fixed %>
		<div class="right">
			<span class="ribbon">Fixed</span>
		</div>
  	<%- end %>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<a href="<%= location_url(@problem.location) %>"><%= @problem.location.description %></a>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol">	
	  <div id="medium-map">
    <%= render :partial => 'shared/map', :locals => { :locations => [@problem.location], :other_locations => [], :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH } %>
		</div>
		<div class="clear">
			<h5 class="left">Comments</h5>
			<a class="comment button right comment-trigger" href="<%= add_comment_problem_url(@problem) %>">Comment</a>
		</div>

		<ul id="campaign-thread">
		  <%- @problem.comments.visible.each_with_index do |comment, index|  %>
  		 <li class="open">
  		  <%= render :partial => 'shared/comment', :locals => { :comment => comment,  :index => index+1 }%>
		   </li>
		<%- end %>
		</ul>
		
	</div>

	<div class="rightcol">
		<h3>Initial problem</h3>
			<p><%= raw simple_format(sanitize(@problem.description)) %></p>

			<h5>Posted</h5>
			<ul>
				<li><a href="<%=  profile_url(@problem.reporter) %>"><%= @problem.reporter_name %></a></li>
				<li><%= @problem.confirmed_at.to_date.to_s(:short) %></li>
			</ul>
	</div>
</div>