- @title = "#{@problem.location.name}: #{@problem.subject}"
#map-col
  #map
  = render :partial => 'shared/location_map_js', :locals => { :locations => [@problem.location] }
.problem-full
  %h2.subject= @title
  .details
    =t(:added).titleize
    %span.posted-time= t(:posted_time, :time => time_ago_in_words(@problem.confirmed_at))
    %span.author= @problem.reporter.name.blank? ? t(:anonymously) : t(:by, :name => @problem.reporter.name)
    %span.transport-location!= t(:problem_location, :link => link_to(@problem.location.description, location_url(@problem.location)))
    - if @problem.sent_at
      .sent-time= t(:sent_time, :interval => distance_of_time_in_words(@problem.sent_at, @problem.confirmed_at), :recipient => @problem.operator.name)

  %p.problem= @problem.description
  
  %h3= t(:story_so_far)
  - @problem.assignments.completed.each do |assignment|
    = render :partial => "shared/complete_assignments/#{assignment.task_type}", :locals => { :assignment => assignment }
  - if !@problem.assignments.incomplete.empty? 
    %h3= t(:next_steps)
    - @problem.assignments.incomplete.each do |assignment| 
      = render :partial => "shared/new_assignments/#{assignment.task_type}", :locals => { :assignment => assignment }