- if !@council_contact.errors.empty?
  .form-error
    = t(:council_contact_form_error)
!= f.hidden_field :area_id
.form-field
  - if @council_contact.errors.on(:category)
    .form-field-error= error_message_on @council_contact, :category
  != f.label :category
  - if @council_contact.new_record? 
    != f.text_field :category
  - else
    != @council_contact.category
.form-field
  - if @council_contact.errors.on(:email)
    .form-field-error= error_message_on @council_contact, :email
  != f.label :email
  != f.text_field :email
.form-field
  != f.label :confirmed
  != f.check_box :confirmed
.form-field
  != f.label :district_id
  != f.text_field :district_id
.form-field
  != f.label :notes
  != f.text_area :notes, :cols => 50, :rows => 4
!= submit_tag t(:go)
