%h2= t(:council_contacts_for, :council => @council_contact.name)
%h3= t(:edit)
-form_for :council_contact, @council_contact, :url => admin_url(admin_council_contact_path(@council_contact)), :html => { :method => :put,  :class => 'council-contact-form' } do |f|
  = render :partial => 'form', :locals => { :f => f }
  
%h3= t(:history)
%table{ :class => 'history index-list' }
  %tr
    %th{:width => "30%"}= t(:updated_at)
    %th{:width => "30%"}= t(:email)
    %th{:width => "8%"}= t(:district_id)
    %th{:width => "6%"}= t(:confirmed) 
    %th{:width => "6%"}= t(:deleted) 
    %th{:width => "20%"}= t(:editor) 
    %th{:width => "38%"}= t(:notes)
  %tr{ :class => cycle('odd', 'even') }
    %td= @council_contact.updated_at
    %td= @council_contact.email
    %td= @council_contact.district_id    
    %td= @council_contact.confirmed
    %td= @council_contact.deleted
    %td= @council_contact.last_editor
    %td= @council_contact.notes  
  -@council_contact.versions.each do |version|
    - if version.event == 'update'
      - contact = version.reify
      %tr{ :class => cycle('odd', 'even') }
        %td= version.created_at
        %td= contact.email
        %td= contact.district_id        
        %td= contact.confirmed
        %td= contact.deleted
        %td= version.whodunnit
        %td= contact.notes