<%- if !@problem.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.problem_form_error') %>
    <%= @problem.errors.full_messages %>
  </div>
<%- end %>

<div class='form-field'>
  <%- if @problem.errors.on(:subject) %>
    <div class='error'>
      <%= error_message_on @problem, :subject   %>
    </div>
  <%- end %>
  <strong><%= raw label(:problem, :subject) %></strong>
  <%= raw f.text_field :subject %>
</div>

<div class='form-field'>
  <%- if @problem.errors.on(:description) %>
    <div class='error'>
      <%= error_message_on @problem, :description   %>
    </div>
  <%- end %>
  <strong><%= raw label(:problem, :description) %></strong>
  <%= raw f.text_area :description, :rows => 6 %>
</div>

<div class='form-field'>
  <%- if @problem.errors.on(:category) %>
    <div class='error'>
      <%= error_message_on @problem, :category   %>
    </div>
  <%- end %>
  <strong><%= raw label(:problem, :category) %></strong>
  <%= raw f.select :category, (@problem.categories + ['Other']).uniq %>
</div>

<div class='form-field'>
  <%- if @problem.campaign %>
  <strong><%= raw f.label :status %></strong>
  <%= t('admin.problem_see_campaign') %>
  <%- else %>
    <%- if @problem.errors.on(:status_code) %>
      <div class='error'>
        <%= error_message_on @problem, :status_code %>
      </div>
    <%- end %>
  <strong><%= raw f.label :status %></strong>
  <%= raw f.select :status_code, Problem.statuses, {:prompt => true, :selected => @problem.status_code } %>
  <%- end %>
</div>
<%- if @problem.campaign %>
  <div class='form-field'>
    <strong><%= raw f.label :campaign %></strong>
    <%= link_to(@problem.campaign.title, admin_url(admin_campaign_path(@problem.campaign))) %>
  </div>
<%- end %>
<%- if @problem.reporter %>
<div class='form-field'>
  <strong><%= raw f.label :reporter %></strong>
  <%= link_to(@problem.reporter.name, admin_url(admin_user_path(@problem.reporter)))%>
</div>
<%- end %>
<div class='form-field'>
  <strong><%= raw label(:problem, :token) %></strong>
  <%= @problem.token %>
</div>

<div class='form-field'>
<strong><%= t('admin.responsible_organizations') %></strong>
<table>
  <tr>
    <th>Organization type
    </th>
    <th>Organization name
    </th>
    <th>Delete?
    </th>
  </tr>
<%- @problem.responsibilities.each do |responsibility| %>
<tr class='<%= cycle('odd', 'even') %>'>
  <%- f.fields_for :responsibilities, responsibility do |responsibility_fields| %>
    <td>
      <%= responsibility.organization.class.to_s %>
    </td>
    <td>
      <%= link_to(responsibility.organization.name, admin_organization_url(responsibility.organization)) %>
    </td>
    <td>
      <%= responsibility_fields.check_box :_destroy %>
    </td>
  <%- end %>
</tr>
<%- end %>
<%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
  <tr>
  <td>
    <%= raw responsibility_fields.hidden_field :organization_type, :value => 'Operator', :class => 'organization-type' %><%= t('admin.operator').titleize %>
  </td>
  <td>
    <%= raw hidden_field_tag :operator_name_autocomplete_url, admin_url("/admin/autocomplete_for_operator_name?id_param=persistent_id") %>


    <%= raw text_field_tag :organization_name, '', { :class => 'organization_name_auto', :size => 30 } %>
    <%= raw responsibility_fields.text_field :organization_persistent_id, { :class => 'organization-persistent-id' } %>
  </td>
  <td>
  </td>
  </tr>
<%- end %>

<%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
  <tr>
  <td>
    <%= raw responsibility_fields.hidden_field :organization_type, :value => 'PassengerTransportExecutive', :class => 'organization-type' %><%= t('admin.passenger_transport_executive').titleize %>
  </td>
  <td>
    <%= raw responsibility_fields.select :organization_persistent_id, PassengerTransportExecutive.current.find(:all).map{ |pte| [pte.name, pte.persistent_id] }, :include_blank => true %>
  </td>
  <td>
  </td>
  </tr>
<%- end %>
<%- f.fields_for :responsibilities, Responsibility.new do |responsibility_fields| %>
  <tr>
  <td>
    <%= raw responsibility_fields.hidden_field :organization_type, :value => 'Council', :class => 'organization-type' %><%= t('admin.council').titleize %>
  </td>
  <td>
    <%= raw responsibility_fields.select :organization_persistent_id, @councils = Council.find_all().map{ |council| [council.name, council.persistent_id] }, :include_blank => true %>
  </td>
  <td>
  </td>
  </tr>
<%- end %>
</table>

<%= raw submit_tag t('admin.go') %>


