<h2><%= t('admin.problems') %></h2>
<%= render :partial => "admin/shared/index_js" %>
<%= render :partial => "admin/shared/search_form", :locals => { :skip_transport_mode => true }  %>
<%= will_paginate @problems, { :admin => true } %>
<%= render :partial => 'admin/shared/problem_table', :locals => { :allow_sort => true, :problems => @problems }%>
<%= will_paginate @problems, { :admin => true } %>
