<h2 class='problem-header'><%= @problem.subject %></h2>
<%- form_for [:admin, @problem], :url => admin_url(admin_problem_path(@problem.id)), :html => { :class => 'problem-form' } do |f|  %>
  <%= render :partial => "form", :locals => { :f => f } %>
<%- end %>


<%= render :partial => "recipients" %>

<%- if !@problem.emailable_organizations.empty? %>
  <form action="<%= admin_url(resend_admin_problem_path(@problem)) %>" method="POST">

    <%= t('admin.resent_problem_will_go_to')%>
    <%- @problem.emailable_organizations.each do |org| %> 
      <%= org.name %>
      (<%= @problem.recipient_emails(org)[:to] %><%- if @problem.recipient_emails(org)[:cc] %>with a cc to <%=@problem.recipient_emails(org)[:cc] %><%- end %> <%= link_to('admin', admin_contact_url(@problem.recipient_contact(org)))%>)
    <%- end %>
    <%= submit_tag(t('admin.resend'), :type => 'submit', :confirm => t('admin.are_you_sure')) %>    
  </form>
<%- end %>

<%= render :partial => 'admin/shared/comment', :locals => { :comments => @problem.comments } %>


<script type="text/javascript">
  jQuery(document).ready(function(){
    setupShowProblem();
  });
</script>