<h2 class='problem-header'><%= @problem.subject %></h2>
<%- form_for [:admin, @problem], :url => admin_url(admin_problem_path(@problem.id)), :html => { :class => 'problem-form' } do |f|  %>
  <%= render :partial => "form", :locals => { :f => f } %>
<%- end %>


<%= render :partial => "recipients" %>
<%- if @problem.sendable? %>
  <%= t('admin.problem_sendable')%>
  <%- if @problem.emailable_organizations.empty? %>
    <%= t('admin.no_emailable_organizations')%>
  <%- else %>
    <%= t('admin.it_will_be_sent')%>
    <%- @problem.responsibilities.each do |responsibility| %> 
      <%- if responsibility.organization.emailable?(@problem.location) %>
       <%= responsibility.organization.name %>
       (<%= @problem.recipient_emails(responsibility.organization)[:to] %><%- if @problem.recipient_emails(responsibility.organization)[:cc] %>with a cc to <%=@problem.recipient_emails(responsibility.organization)[:cc] %><%- end %> <%= link_to('admin', admin_contact_url(@problem.recipient_contact(responsibility.organization)))%>)
      <%- end %>
    <%- end %>
  <%- end %>
<%- elsif @problem.unsendable? %>
  <%= t('admin.problem_unsendable')%>
<%- elsif @problem.sent_at && !@problem.emailable_organizations.empty? %>
    <%= t('admin.resent_problem_will_go_to')%>
    <%- @problem.responsibilities.each do |responsibility| %> 
      <%- if responsibility.organization.emailable?(@problem.location) %>
        <form action="<%= admin_url(resend_admin_problem_path(@problem)) %>" method="POST">
        <%= responsibility.organization.name %>
        (<%= @problem.recipient_emails(responsibility.organization)[:to] %><%- if @problem.recipient_emails(responsibility.organization)[:cc] %>with a cc to <%=@problem.recipient_emails(responsibility.organization)[:cc] %><%- end %> <%= link_to('admin', admin_contact_url(@problem.recipient_contact(responsibility.organization)))%>)
        <%= hidden_field_tag :responsibility_id, responsibility.id %>
        <%= submit_tag(t('admin.resend'), :type => 'submit', :confirm => t('admin.are_you_sure')) %>    
        </form>
      <%- end %>
    <%- end %>

<%- end %>

<%= render :partial => 'admin/shared/comment', :locals => { :comments => @problem.comments } %>

<h3><%= t('admin.admin_actions') %></h3>
<table class='history index-list'>
  <tr>
    <th width='10%'><%= t('admin.updated_at') %></th>
    <th width='10%'><%= t('admin.change_author') %></th>
    <th width='15%'><%= t('admin.changed_field') %></th>
    <th width='30%'><%= t('admin.old_value') %></th>
    <th width='30%'><%= t('admin.new_value') %></th>
  </tr>

  <%- @problem.admin_actions.each do |version| %>
    <tr class='<%= cycle('odd', 'even') %>'>
      <td><%= version.created_at %></td>
      <td><%= User.find(version.whodunnit).name %></td>
    <%- if version.item_type == 'Problem' %>
      <%- problem = version.reify %>
      <%- change_hash((problem.next_version or @problem), problem).each do |attribute, values| %>
        <td><%= t('admin.attribute_changed', :attribute => attribute.to_s.titleize) %></td>
        <td><%= values.first %></td>
        <td><%= values.last %></td>
      <%- end %>
    <%- elsif version.item_type == 'Responsibility' %>
    <%- if version.event == 'create' %>
      <td><%= t("admin.responsibility_added") %></td>
      <td></td>
      <%- if responsibility = Responsibility.find(:first, :conditions => ['id = ?', version.item_id]) %>
        <td><%= responsibility.organization.name %></td>
      <%- else %>
        <td><%= version.next.reify.organization.name %></td>
      <%- end %>
    </tr>
    <%- elsif version.event == 'destroy' %>
      <td><%= t("admin.responsibility_removed") %></td>
      <td><%= version.reify.organization.name %></td>
      <td></td>
    <%- end %>
    <%- end %>
    </tr>
  <%- end %>

</table>

<script type="text/javascript">
  jQuery(document).ready(function(){
    setupShowProblem();
  });
</script>