<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1 class="operator-name"><%= t('route_operators.issues.title', :operator => @operator.name) %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<%= raw t('route_operators.show.issues_concerning', :operator => link_to(@operator.name, operator_url(@operator)), :count => @issue_count) %>
	</div>
</div>
<div id="main-content"class="container">
  <div class="leftcol widecol">
    <a id="operator-feedback-link" href="<%= feedback_url(:url => CGI.escape(request.request_uri), :operator_id => @operator.id) %>" rel="nofollow"><%= t('route_operators.show.information_wrong') %></a>
    <%- if @issue_count != 0 %>
      <%= will_paginate @issues, :param_name => 'issues-page' %>
      <ul class="issues-list">
        <%= render :partial => "shared/issue", :collection => @issues, :locals => {:context => :issue_list } %>
      </ul>
      <%= will_paginate @issues, :param_name => 'issues-page' %>
    <%- else %>
      <p class="operator-notice"> <%= t('route_operators.show.no_issues_found', :operator => @operator.name) %> </p>
    <%- end %>
  </div>
</div>