<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1 class="operator-name"><%= t('route_operators.routes.title', :operator => @operator.name) %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
	  <%= raw t('route_operators.show.operates_routes', :operator => link_to(@operator.name, operator_url(@operator)), :count => @route_count) %>
	</div>
</div>
<div id="main-content" class="container">
  <a id="operator-feedback-link" href="<%= feedback_url(:url => CGI.escape(request.request_uri), :operator_id => @operator.id) %>" rel="nofollow"><%= t('route_operators.show.information_wrong') %></a>
  <%- if @route_count != 0  %>
    <%= will_paginate @routes, :param_name => 'routes-page' %>
    <ul class="route-links">
      <%- @routes.each do |route| %>
      <li>
        <a href="<%= "/routes/#{route.slug.scope}/#{route.slug.to_friendly_id}"%>"><%= route.description_with_inactive %></a>
      </li>
      <%- end %>
    </ul>
    <%= will_paginate @routes, :param_name => 'routes-page' %>
  <%- end %>
</div>