<%- content_for :stylesheets do %>
  <%= stylesheet_link_tag 'ui-tabs-mod' %>
<%- end %>

<div id="main-content" class="container operators">
	<h2><%= @operator.name %></h2>
	<a href="<%= feedback_url(:url => CGI.escape(request.request_uri), :operator_id => @operator.id) %>"><%= t('route_operators.show.information_wrong') %></a>
	<div id='operator-tabs' class='ui-tabs ui-widget ui-content ui-corner-all'>
		<ul id="tabs-main-nav" class='font-1 operator-tabs-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
			<%- if @route_count != 0  %>
			<li id="route-tab" class='ui-state-default ui-corner-top ui-tabs-selected ui-state-active'>
				<a href="#operator-tabs-routes"><%= t('route_operators.show.routes_header')%><span class="num"><%= @route_count %></span></a>
			</li>
			<%- end %>
			<%- if @station_count != 0 %>
	        <li id="area-tab" class='ui-state-default ui-corner-top'>
	          <a href="#operator-tabs-areas"><%= t('route_operators.show.stations_header')%><span class="num"><%= @station_count %></span></a>
	        </li>
	<%- end %>
	    </ul>
		<div id='operator-tabs-routes' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
			<%- if @route_count != 0  %>
			  <h3><%= t('route_operators.show.operates_routes', :operator => @operator.name, :count => @route_count) %></h3>
			  <ul class='route-links'>
			   <%- @routes.each do |route| %>
			      <li>
			        <a href="<%= "/routes/#{route.slug.scope}/#{route.slug.name}#{route.slug.sequence == 1 ? "" : "--#{route.slug.sequence}"}"%>"><%= route.description %></a>
			      </li>
			   <%- end %>
			  </ul>
			<%- end %>
		</div>
		<div id='operator-tabs-areas' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
			<%- if @station_count != 0 %>
			  <h3><%= t('route_operators.show.is_responsible_for_stations', :operator => @operator.name, :count => @station_count) %></h3>
			  <ul class='route-links'>
			    <%- @stations.each do |station| %>
			      <li>
			        <a href="<%= "/stations/#{station.slug.scope}/#{station.slug.name}#{station.slug.sequence == 1 ? "" : "--#{station.slug.sequence}"}" %>"><%= station.name %></a>
			      </li>
			    <%- end %>
			  </ul>
			<%- end %>
		</div>
	</div>
</div>