- if !@operator_contact.errors.empty?
  .form-error
    = t(:operator_contact_form_error)
!= f.hidden_field :operator_id
.form-field
  - if @operator_contact.errors.on(:category)
    .form-field-error= error_message_on @operator_contact, :category
  != f.label :category
  - if @operator_contact.new_record? 
    != f.text_field :category
  - else
    != @operator_contact.category
.form-field
  - if @operator_contact.errors.on(:email)
    .form-field-error= error_message_on @operator_contact, :email
  != f.label :email
  != f.text_field :email
.form-field
  != f.label :confirmed
  != f.check_box :confirmed
- if !@operator_contact.operator.stop_areas.empty?
  .form-field
    != f.label :location
    != f.collection_select(:location_id, @operator_contact.operator.stop_areas, :id, :name, :prompt => true)
.form-field
  != f.label :notes
  != f.text_area :notes, :cols => 50, :rows => 4
!= submit_tag t(:go)
