<%- if !@operator_contact.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.operator_contact_form_error') %>
  </div>
<%- end %>
<%= raw f.hidden_field :operator_id %>
<div class='form-field'>
  <%- if @operator_contact.errors.on(:category) %>
    <div class='error'>
      <%= error_message_on @operator_contact, :category %>
    </div>
  <%- end %>
  <%= raw f.label :category %>
  <%- if @operator_contact.new_record?  %>
    <%= raw f.text_field :category %>
  <%- else %>
    <%= raw @operator_contact.category %>
  <%- end %>
</div>

<div class='form-field'>
  <%- if @operator_contact.errors.on(:email) %>
    <div class='error'>
      <%= error_message_on @operator_contact, :email %>
    </div>
  <%- end %>
  <%= raw f.label :email %>
  <%= raw f.text_field :email %>
</div>

<div class='form-field'>
  <%= raw f.label :confirmed %>
  <%= raw f.check_box :confirmed %>
</div>

<div class='form-field'>
  <%= raw f.label :deleted %>
  <%= raw f.check_box :deleted %>
</div>

<%- if !@operator_contact.operator.stop_areas.empty? %>
  <div class='form-field'>
    <%= raw f.label :location %>
    <%= raw f.collection_select(:stop_area_id, @operator_contact.operator.stop_areas.sort_by(&:name), :id, :name, :prompt => true) %>
  </div>
<%- end %>
<div class='form-field'>
  <%= raw f.label :notes %>
  <%= raw f.text_area :notes, :cols => 50, :rows => 4 %>
</div>
<%= raw submit_tag t('admin.go') %>
