%h2= t(:operator_contacts_for, :operator => @operator_contact.name)
%h3= t(:edit)
-form_for :operator_contact, @operator_contact, :url => admin_url(admin_operator_contact_path(@operator_contact)), :html => { :method => :put,  :class => 'operator-contact-form' } do |f|
  = render :partial => 'form', :locals => { :f => f }
  
%h3= t(:history)
%table{ :class => 'history index-list' }
  %tr
    %th{:width => "24%"}= t(:updated_at)
    %th{:width => "24%"}= t(:email)
    %th{:width => "6%"}= t(:confirmed) 
    %th{:width => "10%"}= t(:editor) 
    %th{:width => "10%"}= t(:location) 
    %th{:width => "28%"}= t(:notes)
  %tr{ :class => cycle('odd', 'even') }
    %td= @operator_contact.updated_at
    %td= @operator_contact.email
    %td= @operator_contact.confirmed
    %td= @operator_contact.last_editor
    - if @operator_contact.location
      %td= @operator_contact.location.name
    - else
      %td
    %td= @operator_contact.notes  
  -@operator_contact.versions.each do |version|
    - if version.event == 'update'
      - contact = version.reify
      %tr{ :class => cycle('odd', 'even') }
        %td= version.created_at
        %td= contact.email
        %td= contact.confirmed
        %td= version.whodunnit
        %td= contact.notes