<h2><%= t('admin.operator_contacts_for', :operator => @operator_contact.name) %></h2>
<h3><%= t('admin.edit') %></h3>
<%-form_for :operator_contact, @operator_contact, :url => admin_url(admin_operator_contact_path(@operator_contact)), :html => { :method => :put,  :class => 'operator-contact-form' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<%- end %>
<h3><%= t('admin.history') %></h3>
<table class='history index-list'>
  <tr>
    <th width='10%'><%= t('admin.updated_at') %></th>
    <th width='15%'><%= t('admin.email') %></th>
    <th width='15%'><%= t('admin.cc_email') %></th>
    <th width='7%'><%= t('admin.confirmed')  %></th>
    <th width='7%'><%= t('admin.deleted')  %></th>
    <th width='10%'><%= t('admin.editor')  %></th>
    <th width='10%'><%= t('admin.location')  %></th>
    <th width='26%'><%= t('admin.notes') %></th>
  </tr>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= @operator_contact.updated_at %></td>
    <td><%= @operator_contact.email %></td>
    <td><%= @operator_contact.cc_email %></td>
    <td><%= @operator_contact.confirmed %></td>
    <td><%= @operator_contact.deleted %></td>
    <td><%= @operator_contact.last_editor %></td>
    <%- if @operator_contact.location_id %>
      <td><%= @operator_contact.location.name %>
      </td>
    <%- else %>
      <td>
      </td>
    <%- end %>
    <td><%= @operator_contact.notes   %></td>
  </tr>
  <%- @operator_contact.versions.reverse.each do |version| %>
    <%- if version.event == 'update' %>
      <%- contact = version.reify %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= version.created_at %></td>
        <td><%= contact.email %></td>
        <td><%= contact.cc_email %></td>
        <td><%= contact.confirmed %></td>
        <td><%= contact.deleted %></td>
        <td><%= version.whodunnit %></td>
        <%- if contact.location %>
          <td><%= contact.location.name %>
          </td>
        <%- else %>
          <td>
          </td>
        <%- end %>
        <td><%= contact.notes %></td>
      </tr>
    <%- end %>
  <%- end %>
</table>
