- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var stop_lon = #{@stop.lon};
  var stop_lat = #{@stop.lat};
  jQuery(document).ready(function(){
     stop_init();
  });

.stop
  .name= @stop.name
  .locality= @stop.locality_name
  .landmark= @stop.landmark
  .street= @stop.street
You can pick up the following routes here:
- @stop.routes.each do |route|
  .route= link_to(route.name, route_url(route))
