- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var stop_lon = #{@stop.lon};
  var stop_lat = #{@stop.lat};
  jQuery(document).ready(function(){
     stop_init();
  });
= render :partial => 'shared/respond', :locals => { :instance => @stop }
.stop
  .name= @stop.name
  .locality= @stop.locality_name
  .landmark= @stop.landmark
  .street= @stop.street
- if !@stop.stop_areas.empty?
  Belongs to:
  - @stop.stop_areas.each do |stop_area|
    .stop-area= link_to(stop_area.name, stop_area_url(stop_area))
You can pick up the following routes here:
- @stop.routes.each do |route|
  .route= link_to(route.name(from_stop=@stop), route_url(route))
