- content_for :javascript do 
  != map_javascript_include_tags
- cache("stop_#{@stop.id}") do 
  = render :partial => 'shared/location_map_js', :locals => { :locations => [@stop] }
  #map-col
    #map
    .extra-info
      / .transport-direct= transport_direct_link(@stop)
      .departures!= departures_link(@stop)
      = render :partial => "shared/route_list", :locals => { :stop_or_station => @stop }
  .stop
    %a{:href => location_url(@stop, :format => 'atom'), :class => 'rss-link campaign-rss'}
      %span= t(:feed)
      %img{:src => "/images/feed.png", :title => t(:feed), :alt => t(:campaigns_feed) }
    %h3.name= "#{@stop.full_name}" 
    .details
      %span.locality= "In #{@stop.locality_name}"
      - if !@stop.landmark.blank?
        %span.landmark= "near #{@stop.landmark}"
      - if !@stop.street.blank? 
        %span.street= "on #{@stop.street}"
    .stop-areas
      - if !@stop.stop_areas.empty?
        Part of
        -@stop.stop_areas.each do |stop_area|
          %span.stop-area= link_to("#{stop_area.name} stop area", stop_area_url(stop_area.locality, stop_area))
= render :partial => 'shared/location_content', :locals => { :location => @stop }