%a{:name => "campaign_#{campaign.id}"}
.campaign
  %h4.title= link_to(campaign.title, campaign_url(campaign)) 
  .details
    =t(:added)
    %span.posted-time= t(:posted_time, :time => time_ago_in_words(campaign.created_at))
    - if context != :location
      %span.transport-location!= t(:campaign_location, :link => link_to(campaign.location.description, location_url(campaign.location)))
    %span.author= t(:by, :name => campaign.initiator.name)
  %p.campaign= campaign.description