<a href="#"><img src="http://dummyimage.com/90x90"></a>
<dl>
	<dt><h4><a href="<%= campaign_url(campaign) %>"><%= campaign.title %></a></h4></dt>
	<%- if context != :location %>
    <dt>Location:<dt>
    <dd><%= raw link_to(campaign.location.description, location_url(campaign.location)) %></dd>
  <%- end %>
	<dd><%= raw simple_format(sanitize(campaign.description)) %></dd>				
	<dt>Started:</dt>
	<dd><%= campaign.created_at.to_s(:short)%></dd>

	<dt>By:</dt>
	<dd><a href="<%= profile_url(campaign.initiator) %>"><%= campaign.initiator.name %></a></dd>
	<dt>Followers:</dt>
	<dd><%= campaign.supporters.count %></dd>
	<span class="status stat-<%= campaign.status %>">									
	<dt>Status:</dt>
	<dd><%= campaign.status.to_s.titleize %></dd>
	</span>
</dl>

