<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%- if comment.commented.is_a?(Campaign) %><%= raw t('campaigns.show.user_says', :name => h(comment.user.name)) %><%- else %><%= t('problems.show.user_says', :name => h(comment.user.name)) %><%- if comment.mark_fixed? %> <%= t('problems.show.marked_as_fixed')%><%- end %><%- end %></span><span class="close">close</span><span class="date"><%= comment.created_at.to_s(:standard_with_date) %></span></a>

<div class="thread-details">
	<div class="thread-copy">
		<%= raw sanitize("\"#{comment.text}\"") %>
	</div>
	<div class="thread-furniture">
		<div class="thumb"><img src="<%= comment.user.profile_photo.url(:large_thumb) %>" alt="" /></div>
	</div>
</div>