<h2><%= t('shared.confirmation_sent.nearly_done') %></h2>
<p><%= raw t('shared.confirmation_sent.click_the_link', :action => @action) %></p>
<%- if @worry %>
  <p>
    <%= raw t('shared.confirmation_sent.dont_worry', :worry => @worry) %>
  </p>
<%- end %>
<p><%= raw t('shared.confirmation_sent.please_be_patient') %></p>
<p><%= raw t('shared.confirmation_sent.check_your_junkmail_filters') %></p>