<h2><%= t(:nearly_done) %></h2>
<p><%= raw t(:click_the_link, :action => @action) %></p>
<%- if @worry %>
  <p>
    <%= raw t(:dont_worry, :worry => @worry) %>
  </p>
<%- end %>
<p><%= raw t(:please_be_patient) %></p>
<p><%= raw t(:check_your_junkmail_filters) %></p>