<div class='notice' style="display: none;" role="alert"></div>
<%- form_for(@account_user ||= User.new, :url => account_path, :html => { :id => 'create-account-form' }) do |f| %>
  <div class='fieldset'>
    <%- if @account_user.errors.on('base') %>
      <div class='error error-base'>
        <%= error_message_on @account_user, :base %>
      </div>
    <%- else %>
      <div class='error error-base' style="display: none;" role="alert"></div>
    <%- end %>
    <div class='form-field'>
      <%- if @account_user.errors.on('name') %>
        <div class='error error-name'>
          <%= error_message_on @account_user, :name %>
        </div>
      <%- else %>
        <div class='error error-name' style="display: none;" role="alert"></div>
      <%- end %>
      <%= f.label :name %>
      <%= raw f.text_field :name %>
    </div>
    
    <div class='form-field'>
      <%- if @account_user.errors.on('email') %>
        <div class='error'>
          <%= error_message_on @account_user, :email %>
        </div>
      <%- else %>
        <div class='error error-email' style="display: none;" role="alert"></div>
      <%- end %>
      <%= f.label :email %>
      <%= raw f.text_field :email %>
    </div>
    
    <div class='form-field'>
      <%- if @account_user.errors.on('password') %>
        <div class='error'>
          <%= error_message_on @account_user, :password %>
        </div>
        <%- else %>
          <div class='error error-password' style="display: none;" role="alert"></div>
      <%- end %>
      <%= f.label :password %>
      <%= raw f.password_field :password %>
    </div>
    
    <div class='form-field'>
      <%- if @account_user.errors.on('password_confirmation') %>
        <div class='error'>
          <%= error_message_on @account_user, :password_confirmation %>
        </div>
        <%- else %>
          <div class='error error-password_confirmation' style="display: none;" role="alert"></div>
      <%- end %>
      <%= f.label :password_confirmation  %>
      <%= raw f.password_field :password_confirmation  %>
    </div>
    
	<button class="button" type="submit"><%= t('shared.login_form.create_account') %></button>
	 
  </div>
<%- end %>
<div class="login-options">
  <p><%= t('shared.login_form.got_account') %></p>
	<a href="<%= login_url %>" class="button" id="login-to-account"><%= t('shared.login_form.sign_in') %></a>
    <%- if ! MySociety::Config.get('FACEBOOK_APP_ID','').empty? %>
	    <p><%= t('shared.login_form.create_sign_in_with_facebook') %></p>
	    <a href="#" class="facebook-login"><%= t('shared.login_form.facebook_connect') %></a>
      <div id="create-account-privacy">

       <div>
        <a href="/privacy" target="_blank" title="Privacy policy (opens in new window)">Privacy policy</a>
       </div>
       </div>
	<%- end %>
</div>
