<div class='fieldset'>
	<div class="email-instructions"><%= t('shared.email.email_instructions')%></div>
<textarea class="email-body">
<%= t('shared.email.email_text', :org => @campaign.responsible_org_descriptor, :call_to_action => @campaign.title)%>
  	
<%= @campaign.description %>
  	
<%= t("shared.email.please_support")%>
  	
<%= request.url %>
  	
<%= t('shared.email.email_signoff')%>
  	
<%= current_user.name %>
</textarea>
</div>
