<div id="social-share">
  <div class="fb-item-container">

  <fb:like href="<%= campaign_url(@campaign) %>"  font="arial" send="false" show_faces="true" action="recommend"></fb:like>
  </div>

  <div class="fb-item-container">
    <a href="#" id="fb-post-to-wall" class="fb-feed-button" ><%= t('shared.facebook.post')%></a>
    <p id="post-message">
      <%- if initiator_view(@campaign) %>
      <b><%= t('campaigns.show.tell_about_your_campaign') %></b><br/>
      <%- else %>
      <b><%= t('campaigns.show.tell_youre_a_supporter') %></b><br/>
      <%- end %>
      <%= t('campaigns.show.post_to_wall') %>
    </p>
  </div>

  <div class="fb-item-container">
       <a href="#" id="fb-send" class="fb-feed-button" ><%= t('shared.facebook.send') %></a>
       <p id="send-message">
         <b><%= t('shared.facebook.send_to_people') %></b><br/>
       </p>
   </div>
 
</div>