<%- form_for(@feedback, :url => feedback_path, :html => {:id => 'ajax-feedback'}) do |form|  %>
  <div class='fieldset'>
    
    <div class='form-field'>
      <div class='form-field-error' id='form-field-error-subject'>
      </div>
      <%= form.label :subject %>
      <%= raw form.text_field :subject  %>
    </div>

    <div class='form-field'>
      <div class='form-field-error' id='form-field-error-name'>
      </div>
      <%= form.label :name  %>
      <%= raw form.text_field :name %>
    </div>

    <div class='form-field'>
      <div class='form-field-error' id='form-field-error-email'>
      </div>
      <%= form.label :email  %>
      <%= raw form.text_field :email  %>
    </div>
    
    <div class='form-field'>
      <div class='form-field-error' id='form-field-error-message'>
      </div>
      <%= form.label :message %>
      <%= raw form.text_area :message, {:rows => 5, :cols => 30} %>
    </div>
    
    <div class='feedback-buttons'>
      <input class='feedback-cancel' value='<%= t(:cancel) %>' type='button'>
      </input>
      <%= raw form.submit t(:send) %>
    </div>
    
  </div>
<%- end %>