<%- form_for(@feedback, :url => feedback_path, :html => {:id => 'ajax-feedback'}) do |form|  %>
  <div class='fieldset'>
    
    <div class='form-field'>
      <div class='error error-subject'>
      </div>
      <%= form.label :subject %>
      <%= raw form.text_field :subject  %>
    </div>

    <div class='form-field'>
      <div class='error error-name'>
      </div>
      <%= form.label :name  %>
      <%= raw form.text_field :name %>
    </div>

    <div class='form-field'>
      <div class='error error-email'>
      </div>
      <%= form.label :email  %>
      <%= raw form.text_field :email  %>
    </div>
    
    <div class='form-field'>
      <div class='error error-message'>
      </div>
      <%= form.label :message %>
      <%= raw form.text_area :message, {:rows => 5, :cols => 30} %>
    </div>
    
    <div class='feedback-buttons'>
	  <button type="button" class="button feedback-cancel"><%= t(:cancel) %></button>
	  <button class="button" type="submit"><%= t(:send) %></button>
    </div>
    
  </div>
<%- end %>