- form_for(@feedback, :url => feedback_path, :html => {:id => 'ajax-feedback'}) do |form| 
  .fieldset
    
    .form-field-error{:id => 'form-field-error-subject'}
    .form-field
      = form.label :subject
      != form.text_field :subject 
    
    .form-field-error{:id => 'form-field-error-name'}
    .form-field
      = form.label :name 
      != form.text_field :name

    .form-field-error{:id => 'form-field-error-email'}
    .form-field
      = form.label :email 
      != form.text_field :email 
      
    .form-field-error{:id => 'form-field-error-message'}
    .form-field
      = form.label :message
      != form.text_area :message, {:rows => 5}
    != hidden_field_tag 'feedback[feedback_on_uri]', request.request_uri 
    %input{:type=>"button", :value => t(:cancel), :class =>"feedback-cancel"}  
    != form.submit t(:send)
    