<div id="footer">
	<div class="container">
	    <div class="mobile-only">
    	    <ul id="mob-footer-nav">
    			<li><a href="<%= about_url %>"><%= t('shared.header.about') %></a></li>
    			<li><a href="<%= feedback_url(:url => CGI.escape(request.request_uri)) %>"><%= t('shared.header.feedback') %></a></li>
    		</ul>
    	</div>
		<p><%= raw t('shared.footer.built_by', :mysociety_link => link_to('mySociety', 'http://mysociety.org'), :indigo_link => link_to('Indigo Trust', 'http://indigotrust.wordpress.com/'), :donor_link => link_to(t('shared.footer.small_donors'), 'http://mysociety.org/donate'), :esmee_link => link_to('Esmée Fairbairn Foundation', 'http://www.esmeefairbairn.org.uk'), :omidyar_link => link_to("Omidyar Network", 'http://www.omidyar.com/')) %></p>
		<p><%= raw t('shared.footer.dedicated_to', :link => link_to('Angie Martin', 'http://www.mysociety.org/2009/07/20/rip-angie-ahl-1974-2009/')) %>
		</p>
	</div>
</div>
