<div id="login-landing-wrap">
  <div id="password-reset">
    <div class="forgot-instructions">
      <%= t('password_resets.new.enter_your_email_address')%>
    </div>
    <%= render :partial => 'shared/forgot_password_form' %>
  </div>
  <div class="login-options">
  <p><%= t('shared.login_form.no_account') %></p>
  <a href="<%= new_account_url %>" class="button" id="create-account"><%= t('shared.login_form.create_one') %></a>
  <p><%= t('shared.login_form.know_your_password') %></p>
  <a href="<%= login_url %>" class="button" id="login-to-account"><%= t('shared.login_form.sign_in') %></a>
  </div>
</div>