<%- if location.kind_of?(Array) %>
<%= render :partial => 'shared/location_marker', :collection => location, :as => :location, :locals => {:small => small, :height => height, :width => width } %>
<%- else %>
<a class="location-marker" href="<%= location[:url] %>">
  <img src="<%= location[:icon] %>.png" title="<%=location[:description] %>" alt="<%=location[:description] %>" style="<%=icon_style(location, @lon, @lat, @zoom, small, height, width) %>" />
</a>
<%- end %>
