- if location.is_a?(Route) or location.is_a?(SubRoute)
  - if location.show_as_point
    %a{:href => map_link_url(location, link_type)}
      %img{:src => "/images/#{stop_icon(location, main, small)}.png", :title => "#{location.description}", :alt => "#{location.description}", :style => icon_style(location, @lon, @lat, @zoom, small, height, width) }
  - else
    = render :partial => 'shared/location_marker', :collection => location.points, :as => :location, :locals => { :small => true, :main => main, :link_type => link_type, :height => height, :width => width }
- else
  %a{:href => map_link_url(location, link_type)}
    %img{:src => "/images/#{stop_icon(location, main, small)}.png", :title => "#{location.description}", :alt => "#{location.description}", :style => icon_style(location, @lon, @lat, @zoom, small, height, width) }
