<h3 class="location-content-header">
  <%- if @variant %>
    <%= t('shared.location_content.problems_here', :on_or_at => (location.is_a?(Route) || location.is_a?(SubRoute) ? t('shared.location_content.on') : t('shared.location_content.at')), :location => readable_location_type(location))%>
  <%- else %>
    <%= t('shared.location_content.related_issues') %>
  <%- end %>
</h3>

<%- if !location.related_issues.empty? %>
<ul class="issues-list">
	<%- location.related_issues.each do |issue| %>
     <%= render :partial => 'shared/issue', :locals => { :issue => issue, :context => :location } %>
  <%- end %>
</ul>
<%- else %>
  <%- if @variant %>
    <%= t('shared.location_content.no_problems')%>
  <%- else %>
    <%= t('shared.location_content.no_issues')%>
  <%- end %>
<%- end %>

<%- unless @variant %>
  <h3 class="location-content-header"><%= t('shared.location_content.praise') %></h3>
  <%- if location.comments.visible.empty? %>
  <span class="no-comments-text"><%= t('shared.location_content.no_praise')%></span>
  <%- end %>
  <ul id="campaign-thread">
    <%- location.comments.visible.each_with_index do |comment, index|  %>
          <li class="open">
           <%= render :partial => 'shared/comment', :locals => { :comment => comment,  :index => index+1 }%>
     </li>
    <%- end %>
  </ul>
<%- end %>