<div id="login-box" class="login-box" role="dialog">
	<div id="login-landing" class="pane">
    <%= render :partial => "shared/login_form" %>
	</div>

	<div id="login-create-account" class="pane">
		<%= render :partial => 'shared/create_account' %>
	</div>

	<%- if ['campaigns', 'problems'].include?(controller.controller_name) && controller.action_name == 'show' %>
  	<div id="comment-and-login" class="pane">
  		<%= render :partial => 'shared/comment_form' %>
  	</div>
	<%- end %>
	
	<%- if controller.controller_name == 'campaigns' && controller.action_name == 'show' %>
	<div id="social-share" class="pane" style="min-height:340px;">
	    <fb:like href="<%= campaign_url(@campaign) %>" send="false" width="490" show_faces="true" action="recommend" font=""></fb:like>
    	<div class="fb-item-container">
    	    <div>
	            <fb:send href="<%= campaign_url(@campaign) %>" font=""></fb:send>
	        </div>
	        <p>
	            <b>Send via Facebook</b><br/>
	            Share this campaign through friends and email
	        </p>
	    </div>
	    <div class="fb-item-container">
	        <a href="#" class="fb-post-to-wall fb-feed-button" >Post to wall</a>
	        <p id="social-message">
	        </p>
	    </div>
	</div>
	<div id="email-share" class="pane" style="min-height:340px;">
		<div class='fieldset'>
			<label for="email-text">Copy this text and paste into an email to your friends.</label>
			<textarea id="email-text" name="email-text" onClick="this.select();">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper iaculis dapibus. Ut quis ante et mi malesuada sollicitudin nec a quam. Pellentesque placerat rutrum libero. In et risus turpis, eget bibendum diam. Ut volutpat pretium felis id dignissim. Morbi non nisi ut enim tempor fringilla eu et dolor. Quisque ut porttitor ligula. In sodales metus ac mi aliquet ultricies. Cras nibh dolor, congue et tincidunt lacinia, fringilla nec ante. Etiam rhoncus fringilla tellus quis semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vulputate accumsan volutpat. Aliquam tempus felis vel sapien convallis rutrum. Morbi volutpat ornare magna, quis fringilla ligula malesuada vel. In hac habitasse platea dictumst. Sed quis mi et nisi lobortis faucibus eget at lacus. Curabitur quis nisi quis leo mollis consequat sit amet vitae tellus. In sodales eros tempor nunc eleifend iaculis.</textarea>
			<button id="email-copy-button" class="button">Copy</button>
		</div>
	</div>
    <%- end %>
    
	<%- if controller.controller_name == 'campaigns' and controller.action_name == 'show'%>
	  <%- if current_user && current_user == @campaign.initiator %>
	    <div id="campaign-update" class="pane">
        <%= render :partial => 'campaigns/update_form' %>
      </div>

		  <div id="campaign-add-photos" class="pane">
        <%= render :partial => 'campaigns/add_photos_form' %>
      </div>
    <%- end %>
  <%- end %>

</div>