<div id="login-landing-wrap">
  <%- if title %>
  <h3><%= title %></h3>
  <%- end %>
<%- form_for (@user_session ||= UserSession.new), :url => user_sessions_path, :html => {:id => 'login-form' } do |f|  %>
  
  <%- if !@user_session.errors.empty? %>
    <div class='error'>
      <%= error_message_on @user_session, :base %>
      <%= error_message_on @user_session, :email %>
      <%= error_message_on @user_session, :password %>
    </div>
  <%- else %>
    <div class='error' style="display: none;" role="alert"></div>
  <%- end %>
  <div class='notice' style="display: none;" role="alert"></div>
<ul>
	<li class="login-username">
		<label for="user_session_email"><%= t('shared.login_form.email') %></label>
		<input name="user_session[email]" id="user_session_email" type="text" />
	</li>
	<li class="login-password">
		<label for="user_session_password"><%= t('shared.login_form.password') %></label>
		<input name="user_session[password]" id="user_session_password" type="password" />
		<a href="<%= new_password_reset_path %>" id="forgot-password"><%= t('shared.login_form.forgot') %></a>
	</li>	
	<li>
		<button class="button" type="submit"><%= t('shared.login_form.sign_in') %></button>
		<label for="user_session_remember_me"><%= t('shared.login_form.keep_signed_in') %></label><input type="checkbox" class="checkbox" id="user_session_remember_me" name="user_session[remember_me]" value="1" />    
		<%- if !(controller.controller_name == 'user_sessions') %>
		  <input type="hidden" name="redirect" value="<%= request.request_uri %>" />
		<%- end %>
		<a href="/about#privacy" target="_blank" title="Privacy policy (opens in new window)">Privacy policy</a>
	</li>
	<li>Read our <a href="http://www.mysociety.org/privacy-online/" target="_blank" title="Guide to privacy online (opens in new window)">guide to privacy online</a></li>
	
</ul>
<%- end %>

<div class="login-options">
	<p><%= t('shared.login_form.no_account') %></p>
	<a href="<%= new_account_url %>" class="button" id="create-account"><%= t('shared.login_form.create_one') %></a>

    <%- if ! MySociety::Config.get('FACEBOOK_APP_ID','').empty? %>
	    <p><%= t('shared.login_form.sign_in_with_facebook') %></p>
	    <a href="#" class="facebook-login"><%= t('shared.login_form.facebook_connect') %></a>
	<%- end %>
</div>
</div>
