<%- form_for (@user_session ||= UserSession.new), :url => user_sessions_path, :html => {:id => 'login-form' } do |f|  %>
<%- if @user_session.errors.on_base %>
    <div class='error'>
      <%= error_message_on @user_session, :base %>
    </div>
  <%- end %>
<ul>
	<li class="login-username">
	  <%- if @user_session.errors.on('email') %>
      <div class='error'>
        <%= error_message_on @user_session, :email %>
      </div>
    <%- end %>
		<label for="user_session_email">Email</label>
		<input name="user_session[email]" id="user_session_email" type="text" />
	</li>
	<li class="login-password">
	  <%- if @user_session.errors.on('password') %>
      <div class='error'><%= error_message_on @user_session, :password %>
      </div>
    <%- end %>
		<label for="user_session_password">Password</label>
		<input name="user_session[password]" id="user_session_password" type="password" />
		<a href="<%= new_password_reset_path %>">Forgot?</a>
	</li>
	<li>
		<button>Sign In</button>
		<label for="user_session_remember_me">Keep me signed in</label><input type="checkbox" id="user_session_remember_me" name="user_session[remember_me]" value="1">    
		<p>Don't have an account? <a href="<%= new_account_url %>" id="create-account">Create one</a>.</p>
	</li>
</ul>
<%- end %>

<div class="login-options">
	<p>Or use an existing account</p>
	<a href="#" id="facebook" class="facebook">Facebook Connect</a>							
	<a href="#" id="twitter" class="twitter">Twitter Connect</a>
</div>

