<%- form_for (@user_session ||= UserSession.new), :url => user_sessions_path, :html => {:id => 'login-form' } do |f|  %>
  <%- if @user_session.errors.on_base %>
    <div class='error', id="error-base">
      <%= error_message_on @user_session, :base %>
    </div>
  <%- else %>
    <div class='error', id="error-base" style="display: none;"></div>
  <%- end %>
<ul>
	<li class="login-username">
	  <%- if @user_session.errors.on('email') %>
      <div class='error' id="error-email">
        <%= error_message_on @user_session, :email %>
      </div>
      <%- else %>
        <div class='error', id="error-email" style="display: none;"></div>
    <%- end %>
		<label for="user_session_email">Email</label>
		<input name="user_session[email]" id="user_session_email" type="text" />
	</li>
	<li class="login-password">
	  <%- if @user_session.errors.on('password') %>
      <div class='error' id='error-password'>
        <%= error_message_on @user_session, :password %>
      </div>
    <%- else %>
      <div class='error', id="error-password" style="display: none;"></div>
    <%- end %>
		<label for="user_session_password">Password</label>
		<input name="user_session[password]" id="user_session_password" type="password" />
		<a href="<%= new_password_reset_path %>">Forgot?</a>
	</li>
	<li>
		<button>Sign In</button>
		<label for="user_session_remember_me">Keep me signed in</label><input type="checkbox" id="user_session_remember_me" name="user_session[remember_me]" value="1">    
		<input type=hidden name="redirect" value="<%= request.request_uri %>">
		<p>Don't have an account? <a href="<%= new_account_url %>" id="create-account">Create one</a>.</p>
	</li>
</ul>
<%- end %>

<div class="login-options">
	<p>Or use an existing account</p>

	<a href="#" onclick="callFacebook()" id="facebook" class="facebook">Facebook Connect</a>

<script>
function callFacebook(){
        var appID = '<%= MySociety::Config.get('FACEBOOK_APP_ID','no-app-id-specified') %>';
        var path = 'https://www.facebook.com/dialog/oauth?';
        var queryParams = ['client_id=' + appID,
            'redirect_uri=' + 'http://dave.transport.mysociety.org/facebook_callback.html',
            'scope=email',
            'display=popup',
            'response_type=token'];
        var query = queryParams.join('&');
        var url = path + query;
        window.open(url, 'fblogin', 'width=580,height=400,location=no,menubar=no,toolbar=no,scrollbars:auto');
}
</script>

	<a href="#" id="twitter" class="twitter">Twitter Connect</a>
</div>

