<div id="login-box" class="login-box" role="dialog">
	<div id="login-landing" class="pane">
    <%= render :partial => "shared/login_form", :locals => { :title => nil } %>
	</div>

	<div id="login-create-account" class="pane">
		<%= render :partial => 'shared/create_account' %>
	</div>

	<%- if ['campaigns', 'problems', 'locations'].include?(controller.controller_name) && ['show', 'show_route', 'show_stop', 'show_stop_area', 'show_sub_route'].include?(controller.action_name) %>
  	<div id="comment-and-login" class="pane">
  		<%= render :partial => 'shared/comment_form', :locals => { :context => controller.controller_name } %>
  	</div>
	<%- end %>
	
	<%- if controller.controller_name == 'campaigns' && controller.action_name == 'show' && current_user && current_user.supporter_or_initiator(@campaign) %>
    <div id="fb-share" class="pane">
      <%= render :partial => 'shared/facebook' %>
    </div>
    <div id="email-share" class="pane">
      <div class='fieldset'>
        <div class="email-instructions"><%= t('shared.email.email_instructions')%></div>
          <%= render :partial => 'shared/email' %>
        </div>
	    </div>
	  <%- if current_user && current_user == @campaign.initiator %>
	    <div id="campaign-update" class="pane">
        <%= render :partial => 'campaigns/update_form' %>
      </div>

		  <div id="campaign-add-photos" class="pane">
        <%= render :partial => 'campaigns/add_photos_form' %>
      </div>
    <%- end %>
  <%- end %>

</div>