<%- if defined?(static) == nil %>
<%- static = false %>
<%- end %>
<%- if defined?(highlight) == nil %>
<%- highlight = nil %>
<%- end %>
<%- location_data = location_stops_coords(locations, small=false, link_type, highlight) %>
<%- other_location_data = location_stops_coords(other_locations, small=true, link_type, highlight) %>
<%- unless static %>
<%= render :partial => 'shared/location_map_js', :locals => { :locations => location_data, :other_locations => other_location_data, :link_type => link_type, :highlight => highlight, :height => height, :width => width } %>
<%- end %>
<div id="map" class="box">

  <%- unless static %><noscript><%- end %>
    <div id="drag">
      <img class="static-map-element" alt="Map" src="<%= Map.google_tile_url(@lat, @lon, @zoom, height, width) %>" style="top:0px; left:0;" />
      <div id="markers">
        <%- center_y = Map.lat_to_y(@lat) %>
        <%- center_offset_y = height / 2 %>
        <%- center_x = Map.lon_to_x(@lon) %>
        <%- center_offset_x = width / 2 %>
        <%= render :partial => 'shared/location_marker', :collection => other_location_data, :as => :location, :locals => {:small => true,  :center_y => center_y, :center_x => center_x, :center_offset_y => center_offset_y, :center_offset_x => center_offset_x, :link_type => link_type } %>
        <%= render :partial => 'shared/location_marker', :collection => location_data, :as => :location, :locals => {:small => false, :center_y => center_y, :center_x => center_x, :center_offset_y => center_offset_y, :center_offset_x => center_offset_x, :link_type => link_type } %>
      </div>
      <%- unless static %>
      <div id="pan_up" class="map-control static-map-element" style="left: 13px; top: 4px; width: 18px; height: 18px; position: absolute;">
        <a rel="nofollow" href="<%= url_for(params.merge(:lat => Map.top(@lat, @zoom, height))) %>">
          <%= image_tag("/javascripts/img/north-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'N') %>
        </a>
      </div>

      <div id="pan_left" class="map-control static-map-element" style="left: 4px; top: 22px; width: 18px; height: 18px; position: absolute; ">
        <a rel="nofollow" href="<%= url_for(params.merge(:lon => Map.left(@lon, @zoom, width))) %>">
          <%= image_tag("/javascripts/img/west-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'W') %>
        </a>
      </div>

      <div id="pan_right" class="map-control static-map-element" style="left: 22px; top: 22px; width: 18px; height: 18px; position: absolute; ">
        <a rel="nofollow" href="<%= url_for(params.merge(:lon => Map.right(@lon, @zoom, width))) %>">
          <%= image_tag("/javascripts/img/east-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'E') %>
        </a>
      </div>

      <div id="pan_down" class="map-control static-map-element" style="left: 13px; top: 40px; width: 18px; height: 18px; position: absolute;">
        <a rel="nofollow" href="<%= url_for(params.merge(:lat => Map.bottom(@lat, @zoom, height))) %>">
        <%= image_tag("/javascripts/img/south-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'S') %>
        </a>
      </div>

      <div id="zoom_in" class="map-control static-map-element" style="left: 13px; top: 63px; width: 18px; height: 18px; position: absolute;">
        <a rel="nofollow" href="<%= url_for(params.merge(:zoom => Map.zoom_in(@zoom))) %>">
          <%= image_tag("/javascripts/img/zoom-plus-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'zoom in') %>
        </a>
      </div>

      <div id="zoom_world" class="map-control static-map-element" style="left: 13px; top: 81px; width: 18px; height: 18px; position: absolute;">
        <a rel="nofollow" href="<%= url_for(params.merge(:zoom => nil, :lat => nil, :lon => nil)) %>">
          <%= image_tag("/javascripts/img/zoom-world-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'reset map') %>
        </a>
      </div>

      <div id="zoom_out" class="map-control static-map-element" style="left: 13px; top: 99px; width: 18px; height: 18px; position: absolute; ">
        <a rel="nofollow" href="<%= url_for(params.merge(:zoom => Map.zoom_out(@zoom))) %>">
          <%= image_tag("/javascripts/img/zoom-minus-mini.png", :style => "width: 18px; height: 18px; position: relative;", :alt => 'zoom out') %>
        </a>
      </div>
      <%- end %>

    </div>
  <%- unless static %></noscript><%- end %> 
</div>
<div id="notice-container">
  <div class="notice" role="alert" id="map-zoom-notice" <%- if @find_other_locations == false  || @zoom > MIN_ZOOM_FOR_OTHER_MARKERS %>style="display: none;"<%- end %>>
Zoom in to see all stops and stations in the area.
  </div>
  <div id="notice-clear"></div>
</div>