%h3= t(:tell_us_about_your_campaign)
- form_for location, :url => location_path(location), :html => {:class => 'create_campaign'} do |f| 
  .fieldset
    - f.fields_for :campaigns, @new_campaign do |campaign_fields|
      - if @new_campaign.errors.on(:transport_mode_id)
        .form-field-error= error_message_on @new_campaign, :transport_mode_id
      %label{:for => 'transport_mode_id', :style => 'display: none;'}
        =t(:transport_mode)
      #chosen-transport-mode{:class=>"main-transport-#{@new_campaign.transport_mode_css_name}"}
        / #transport-mode-radio
        /   .transport-mode
        != transport_mode_radio_buttons(campaign_fields, 'new_campaign', location)
        - if location.errors.on('campaigns.category')
          .form-field-error= error_message_on location, 'campaigns.category'
        .form-field
          = campaign_fields.label :category
          != campaign_fields.select("category", Campaign.categories, { :include_blank => true })
        - if location.errors.on('campaigns.title')
          .form-field-error= error_message_on location, 'campaigns.title'
        .form-field
          = campaign_fields.label :title
          != campaign_fields.text_field :title
        - if location.errors.on('campaigns.description')
          .form-field-error= error_message_on location, 'campaigns.description'
        .form-field
          = campaign_fields.label :campaign
          != campaign_fields.text_area :campaign, {:rows => 5}
        - campaign_fields.fields_for :reporter do |reporter_fields|
          - if location.errors.on('campaigns.reporter.email')
            .form-field-error= error_message_on location, 'campaigns.reporter.email'
          .form-field
            = reporter_fields.label :email
            != reporter_fields.text_field :email
          - if location.errors.on('campaigns.reporter.name')
            .form-field-error= error_message_on location, 'campaigns.reporter.name'
          .form-field
            = reporter_fields.label :name
            != reporter_fields.text_field :name
          .checkbox
            != reporter_fields.check_box :wants_fmt_updates
            = reporter_fields.label :wants_fmt_updates, t(:wants_fmt_updates, :link => link_to(t(:fixmytransport), "http://www.mysociety.org/2010/03/15/mysocietys-next-12-months-fixmytransport-and-project-fosbury/", :target => '_blank'))
      != submit_tag t(:go)      

:javascript
  function changeMode(modeCssName){
    jQuery("#chosen-transport-mode").removeClass().addClass('main-transport-' + modeCssName)
  }

 