%h3= t(:tell_us_your_story)
- form_for location, :url => location_path(location), :html => {:class => 'new_story'} do |f| 
  .fieldset
    - f.fields_for :stories, @new_story do |story_fields|
      - if @new_story.errors.on(:transport_mode_id)
        .form-field-error= error_message_on @new_story, :transport_mode_id
      %label{:for => 'transport_mode_id', :style => 'display: none;'}
        =t(:transport_mode)
      #chosen-transport-mode{:class=>'story-transport-nil'}
        #transport-mode-radio
          .transport-mode
            != transport_mode_radio_buttons('new_story', location)
          - if location.errors.on('stories.category')
            .form-field-error= error_message_on location, 'stories.category'
      .form-field
        = story_fields.label :category
        != story_fields.select("category", Story.categories, { :include_blank => true })
      - if location.errors.on('stories.title')
        .form-field-error= error_message_on location, 'stories.title'
      .form-field
        = story_fields.label :title
        != story_fields.text_field :title
      - if location.errors.on('stories.story')
        .form-field-error= error_message_on location, 'stories.story'
      .form-field
        = story_fields.label :story
        != story_fields.text_area :story, {:rows => 5}
      - story_fields.fields_for :reporter do |reporter_fields|
        - if location.errors.on('stories.reporter.email')
          .form-field-error= error_message_on location, 'stories.reporter.email'
        .form-field
          = reporter_fields.label :email
          != reporter_fields.text_field :email
        - if location.errors.on('stories.reporter.name')
          .form-field-error= error_message_on location, 'stories.reporter.name'
        .form-field
          = reporter_fields.label :name
          != reporter_fields.text_field :name
    != submit_tag t(:go)      
 