- if ! stop_or_station.routes.empty? 
  - if stop_or_station.is_a?(StopArea) && stop_or_station.area_type == 'GRLS'
    .train-routes
      .final-destinations
        Final destinations:
        - stop_or_station.route_terminuses.each do |terminus|
          .stop-link= link_to(terminus.name, location_url(terminus))
      .onward-stops
        Next stops: 
        - stop_or_station.next_stops.each do |next_stop|
          .stop-link= link_to(next_stop.name, location_url(next_stop))
  - else
    .route-list
      Routes:
      - stop_or_station.routes.each do |route|
        .route-info
          .next-stops
            - route.next_stops(stop_or_station).each do |next_stop|
              .stop-link= link_to(next_stop.name_without_suffix(route.transport_mode), location_url(next_stop))
          .previous-stops
            - route.previous_stops(stop_or_station).each do |previous_stop|
              .stop-link= link_to(previous_stop.name_without_suffix(route.transport_mode), location_url(previous_stop))
          .route-name= link_to(route.name(from_stop=stop_or_station, short=true), location_url(route))
        