%a{:name => "story_#{story.id}"}
.story
  %h3.title= story.title 
  .details
    =t(:added)
    %span.posted-time= t(:story_posted_time, :time => time_ago_in_words(story.created_at))
    - if context != :location
      %span.transport-location!= t(:story_location, :link => link_to(story.location.description, location_url(story.location)))
    %span.author= story.reporter.name.blank? ? t(:anonymously) : t(:story_by, :name => story.reporter.name)
  %p.story= story.story