<%- if !@operator.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.operator_form_error') %>
  </div>
<%- end %>

<div class='form-field'>
  <%- if @operator.errors.on(:name) %>
    <div class='error'>
      <%= error_message_on @operator, :name %>
    </div>
  <%-end %>
  <%= raw f.label :name %>
  <%= raw f.text_field :name %>
</div>
<div class='form-field'>
  <%= raw f.label :notes %>
  <%= raw f.text_field :notes %>
</div>
<div class='form-field'>
  <%= raw f.label :transport_mode %>
  <%= raw f.collection_select(:transport_mode_id, TransportMode.active, :id, :name, :prompt => true) %> 
</div>
<%= raw submit_tag t('admin.go') %>
