%h3= title
.route-operators
  - if route_operators.empty? 
    %p= t(:no_routes)
  - else
    =link_to t(:check_all), '', :class => 'check-all-route-operators'
    =link_to t(:uncheck_all), '', :class => 'uncheck-all-route-operators'
    %table.new-operator-routes
      %tr
        %th= t(:name)
        %th= t(:region)
        %th= t(:description)
        %th= t(:search) 
        - if route_operators.first.new_record?
          %th= t(:assign_to_operator)
        - else
          %th= t(:remove_from_operator)
      - route_operators.each do |route_operator|
        - f.fields_for :route_operators, route_operator do |route_operator_fields|
          %tr{ :class => cycle('odd', 'even') }
            %td!= "#{link_to route_operator.route.name, main_url(location_path(route_operator.route)), :target => '_blank'} #{link_to("(#{t(:admin)})", admin_url(admin_route_path(route_operator.route.id)))}"
            %td= route_operator.route.region.name
            %td.route-terminuses= route_operator.route.description
            %td= link_to t(:external_search_route), external_search_link("#{route_operator.route.description}"), :target => '_blank'
            %td
              - if !route_operator.new_record?
                != route_operator_fields.hidden_field :id
              != route_operator_fields.hidden_field :route_id
              - if route_operator.new_record? 
                != route_operator_fields.check_box :_add, :class => 'check-route-operator'
              - else 
                != route_operator_fields.check_box :_destroy, :class => 'check-route-operator'