<h2><%= t('admin.assign_routes') %></h2>
<%-form_for :operator, @operator ||= Operator.new, :url => admin_url(assign_routes_admin_operators_path), :html => { :class => 'operator-form' } do |f| %>
  <%- if !@operator.errors.empty? %>
   <div class='form-error'>
     <%= t('admin.operator_form_error') %>
   </div>
   <%- end %>

   <h3>Operator code: <%= params[:code] %></h3>
  <div class='form-field'>
    <%= raw label_tag :operator_name %>
    <%= raw hidden_field_tag :operator_name_autocomplete_url, admin_url("/admin/autocomplete_for_operator_name") %>
    <%= raw text_field_tag :operator_name, '', { :class => 'operator_name_auto', :size => 30 } %>
    <%= raw f.hidden_field :id, { :class => 'operator-id' } %>
  </div>
  <%= raw submit_tag t('admin.go') %>


  <script type="text/javascript">
    jQuery(document).ready(function(){
      setupOperatorAutocomplete();
    });
  </script>
  
  <%- if ! @route_operators.empty? %>
    <%= render :partial => 'route_operators', :locals => { :f => f, :route_operators => @route_operators, :title => t('admin.routes_with_code') } %>
  <%-end %>
<%- end %>