%h2= t(:operators)
= link_to t(:add_an_operator), admin_url(new_admin_operator_path)
= render :partial => "admin/shared/index_js"
= render :partial => "admin/shared/search_form", :locals => { :skip_transport_mode => true } 
%form{ :method => "GET", :action => admin_url(merge_admin_operators_path)}
  = will_paginate @operators, {:admin => true}
  = t(:select)
  = link_to(t(:all), '', { :class => "index-select-all" })
  = link_to(t(:none), '', { :class => "index-select-none" })
  %table{ :class => 'operators index-list' }
    %tr
      %th{:width => "14%"}= t(:id)
      %th{:width => "34%"}= t(:name)
      %th{:width => "34%"}= t(:short_name) 
      %th{:width => "6%"}= t(:code)
      %th{:width => "6%"}= t(:routes)
      %th{:width => "6%"}= t(:select)
    -@operators.each do |operator|
      %tr{ :class => cycle('odd', 'even') }
        %td
          = operator.id
          = link_to "(#{t(:admin)})", admin_url(admin_operator_path(operator))
        %td= operator.name
        %td= operator.short_name
        %td= operator.code
        %td= operator.routes.count
        %td!= check_box_tag "operators[]", operator.id, false, { :class => "select-item" }
    %tr{ :class => 'footer' }
      %td{ :colspan => 6 }
        = t(:selected_items)
        != submit_tag t(:merge)
= will_paginate @operators, {:admin => true}