<h2><%= t('admin.merging_operators') %></h2>
<%- form_tag(admin_url(merge_admin_operators_path), :method => "POST") do  %>
  <table class='operators merge-list'>
    <tr>
      <th width='10%'><%= t('admin.id') %>
      <th width='20%'><%= t('admin.name') %></th>
      <th width='20%'><%= t('admin.short_name')  %></th>
      <th width='5%'><%= t('admin.noc_code') %></th>
      <th width='5%'><%= t('admin.routes') %></th>
      <th width='5%'><%= t('admin.merge_to') %></th>
    </th>

    <%-@operators.each do |operator| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td>
          <%= link_to(t('admin.live'), main_url(operator_path(operator)), {:class => 'admin-small-offsite-link', :target => '_blank'}) %>
          <%= link_to operator.id, admin_url(admin_operator_path(operator)) %>
        </td>
        <td class="easy-read-link">
          <%- if ! operator.name.blank? %>
            <%= link_to operator.name, admin_url(admin_operator_path(operator)) %>
          <%- end %>
        </td>
        <td><%= operator.short_name %></td>
        <td><%= operator.noc_code %></td>
        <td><%= operator.routes.count %></td>
        <td>
          <%= raw radio_button_tag "merge_to", operator.id, operator == @operators.first, { :class => "select-item" } %>
          <%= raw hidden_field_tag "operators[]", operator.id %>
        </td>
      </tr>
    <%-end %>
    <tr class='footer'>
      <td colspan='8'>
        <%= raw submit_tag t('admin.merge') %>
      </td>
    </tr>
  </table>
<%- end %>
