<h2><%= t('admin.campaigns') %></h2>
<%= render :partial => "admin/shared/index_js" %>
<%= render :partial => "admin/shared/search_form", :locals => { :skip_transport_mode => true }  %>
<%= will_paginate @campaigns, { :admin => true } %>

<table class='campaigns index-list'>
  <tr>
    <th width='5%'><%= sortable('id', t('admin.id')) %></th>
    <th width='10%'><%= sortable('title', t('admin.title')) %></th>
    <th width='10%'><%= t('admin.campaign_problem') %></th>
    <th width='10%'><%= sortable('key', t('admin.key')) %></th>
    <th width='10%'><%= t('admin.location') %></th>
    <th width='7%'><%= t('admin.transport_mode') %></th>
    <th width='10%'><%= sortable('initiator.name', t('admin.initiator')) %></th>
    <th width='11%'><%= t('admin.responsible_org') %></th>
    <th width='7%'><%= sortable('status_code', t('admin.status')) %></th>
    <th width='5%'><%= sortable('created_at', t('admin.created_at')) %></th>
    <th width='5%'><%= sortable('updated_at', t('admin.updated_at')) %></th>
  </tr>
  <%-@campaigns.each do |campaign| %>
    <tr class='<%= cycle("odd", "even") %>'>
      <td>
        <%= link_to(t('admin.live'), main_url(campaign_path(campaign)), {:class => 'admin-small-offsite-link', :target => '_blank'}) %>          
        <%= link_to(campaign.id, admin_url(admin_campaign_path(campaign.id))) %></td>
      <td><%= campaign.title %></td>
      <td><%= link_to(campaign.problem.subject, admin_url(problem_path(campaign.problem)))%></td>
      <td><%= campaign.key %></td>
      <td>
          <%- if admin_location_url(campaign.location) && current_user.can_admin?(:locations) %>
            <%= link_to(campaign.location.name, admin_location_url(campaign.location)) %>
          <%- else %>
            <%= campaign.location.name %>
          <%- end %>
      </td>
      <td><%= campaign.problem.transport_mode_text %></td>
      <td><%- if campaign.initiator.login_count > 0 %>
            <%= link_to(t('admin.live'), main_url(profile_path(campaign.initiator)), {:class => 'admin-small-offsite-link', :target => '_blank'}) %><br>        
            <%- if current_user.can_admin?(:users) %>
              <%=  link_to(campaign.initiator.name, admin_url(admin_user_path(campaign.initiator)))%>
            <%- else %>
              <%= campaign.initiator.name %>
              <%- end %>
          <%- end %>
        </td>
      <td>
          <%- campaign.problem.responsible_organizations.each do |org| %>
            <%- if current_user.can_admin?(:organizations) %>
              <%= link_to(org.name, admin_organization_url(org))%>
            <%- else %>
              <%= org.name %>
            <%- end %>
            <br>
          <%- end %>
      </td>
      <td><%= campaign.status %></td>
      <td><%= campaign.created_at.localtime.to_s(:standard_with_date) %></td>
      <td><%= campaign.updated_at.localtime.to_s(:standard_with_date) %></td>
    </tr>
  <%- end %>
</table>
<%= will_paginate @campaigns, { :admin => true } %>
