<div id="static-mobile" class="container">
    <p>
       <%= @question.html_safe %>
    </p>
     <%- @buttons.each do |raw| %>
        <%-
            # if raw doesn't have a | delimiter, work the val|text pair out from the sentence:
            # val uses the first non-trivial word it finds: note duplicate vals on this page not detected
            val, text = raw.split('|', 2)
            val.strip!
            text = val if text.blank?
            if val.include? " "
                words = val.downcase.split(" ")
                val = words.select{|item| not ["a","an","the","some","it","it's","is","of","i","can't","cannot"].include?(item)}.first
            else
                val.downcase!
            end
        %>
        <div class='error'>
            <form action="/mobile" method="post" data-rel="no-ajax">
                <input type="hidden" name="answer" value="<%= val %>" />
                <input type="submit" value="<%= text %>" />
            </form>
        </div>
    <%- end %>

    <hr />
    
    Answer: <%= @answer %>
    <br/>
    session: <%= session[:mobile_answers] %>
	    
</div>

