<%- if !@assignment.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.assignment_form_error') %>
  </div>
<%- end %>
<div class="assignment-campaign-link">
  <strong><%= t('admin.campaign').titleize %>:</strong> 
  <%= link_to(@assignment.campaign.title, main_url(campaign_path(@assignment.campaign))) %>
</div>
<div class="assignment-problem-link">
  <strong><%= t('admin.problem').titleize %>:</strong> 
  <%= link_to(@assignment.problem.subject, admin_url(admin_problem_path(@assignment.problem))) %>
</div>
<div class="assignment-location-link">
  <strong><%= t('admin.location') %>:</strong>
  <%= link_to(@assignment.campaign.location.name, admin_location_url(@assignment.campaign.location))%>
</div>
<%- if !@assignment.campaign.problem.responsible_organizations.empty? %>
<div class="assignment-organization-link">
  <strong><%= t('admin.organizations').titleize %>:</strong>
  <%- @assignment.campaign.problem.responsible_organizations.each do |org| %>
    <%= link_to(org.name, admin_organization_url(org))%>
  <%- end %>
</div>
<%- end %>

<h3><%= t('admin.assignment_data') %></h3>
<%- @assignment.data.keys.each do |key| %>
  <div class="assignment-data">
  <strong><%= key.to_s.humanize %>:</strong> <%= @assignment.data[key].inspect %>
  </div>
<%- end %>
<h3><%= t('admin.organization').titleize %></h3>
Once the organization below looks correct to you, submit the form to update the problem assignment, and location.
<div class='form-field'>
  <%= raw label_tag :operator_name %>
  <%= raw hidden_field_tag :operator_name_autocomplete_url, admin_url("/admin/autocomplete_for_operator_name") %>
  <%= raw text_field_tag :operator_name, @operator ? @operator.name : '', { :class => 'operator_name_auto', :size => 30 } %>
  <%= raw hidden_field_tag :operator_id, @operator ? @operator.id.to_s : '', { :class => 'operator-id' } %>
</div>
<div class='form-field'>
<%- if @need_override %>
<%= raw hidden_field_tag :override_contact, '0' %>
<%= raw label_tag :override_contact, t('admin.assignment_override_contact') %>
<%= raw check_box_tag :override_contact %>
<%- end %>
</div>

<%= raw submit_tag t('admin.go') %>
