- if @story.location_errors and !@story.location_errors.empty? 
  - @story.location_errors.each do |location_error|
    .location-error= t(location_error)
.fieldset
  != form.hidden_field :location_id 
  - if @story.errors.on(:location)
    .form-field-error= error_message_on @story, :location  
  .form-field
    - if @story.errors.on(:transport_mode_id)
      .form-field-error= error_message_on @story, :transport_mode_id
    %label{:for => 'transport_mode_id', :style => 'display: none;'}
      =t(:transport_mode)
    .transport-mode
      != transport_mode_radio_buttons('story')
    - if @story.errors.on(:location_attributes)
      .form-field-error= error_message_on @story, :location_attributes
    .form-field
      != label_tag 'story[location_attributes][name]', t(:location_name)
      != text_field_tag 'story[location_attributes][name]', location_param(:name)
      #guidance-name{:class => 'guidance'} e.g. London Euston
    .form-field
      != label_tag 'story[location_attributes][route_number]', t(:route_number)
      != text_field_tag 'story[location_attributes][route_number]', location_param(:route_number)
      #guidance-route{:class => 'guidance'} e.g. C10, Cardiff to Exeter
    .form-field
      != label_tag 'story[location_attributes][area]', t(:area)
      != text_field_tag 'story[location_attributes][area]', location_param(:area)
      #guidance-area{:class => 'guidance'} e.g. Bristol

