.homepage
  - cache do 
    .latest-stories
      %h3= t(:latest_stories)
      %a{:href => stories_url(:format => 'atom'), :class => 'rss-link'}
        %span= t(:feed)
        %img{:src => "/images/feed.png", :title => t(:feed), :alt => t(:stories_feed) }
      = render :partial => 'story', :collection => @stories
      %span.more-link=link_to t(:more_recent_stories), stories_url
  .new-story
    %h3= t(:got_a_story) 
    %p Is it comic, romantic, unfortunate or bizarre? 
    %p Where did it take place? 
    - form_for @story, :url => find_stories_path do |form| 
      = render :partial => 'stories/form', :locals => { :form => form }
      != submit_tag t(:go)
