<div id="main-content" class="container">
  <%- if @operator %>
  <%= raw t('static.feedback.operator_feedback', :operator => @operator.name) %>
  <%- elsif @location %>
  <%= raw t('static.feedback.location_feedback', :location => name_in_sentence(@location)) %>
  <%- else %>
	<%= raw t('static.feedback.please_give_feedback', :email => mail_to(@email)) %>
	<%- end %>
	<div class='feedback-form'>
	  <%- form_for(@feedback, :url => feedback_path) do |form|  %>
	    <div class='fieldset'>

        <%- if current_user %>
            <%= form.hidden_field :name, :value => current_user.name %>
            <%= form.hidden_field :email, :value => current_user.email %>
        <%- else %>
	        <div class='form-field'>
  	        <%- if @feedback.errors.on(:name) %>
  	          <div class='error'>
  	            <%= error_message_on @feedback, :name %>
  	          </div>
  	        <%- end %>
  	        <%= form.label :name  %>
  	        <%= raw form.text_field :name %>
  	      </div>


  	      <div class='form-field'>
  	        <%- if @feedback.errors.on(:email) %>
  	          <div class='error'>
  	            <%= error_message_on @feedback, :email %>
  	          </div>
  	        <%- end %>
  	        <%= form.label :email  %>
  	        <%= raw form.text_field :email  %>
  	      </div>

        <%- end %>


	      <div class='form-field'>
	        <%- if @feedback.errors.on(:subject) %>
	          <div class='error'>
	            <%= error_message_on @feedback, :subject %>
	          </div>
	        <%- end %>
	        <%= form.label :subject %>
	        <%= raw form.text_field :subject  %>
	      </div>

	      <%- if params[:url] %>
	        <%= raw hidden_field_tag 'feedback[feedback_on_uri]', params[:url] %>
	      <%- end %>
	      <%- if @operator %>
	        <%= raw hidden_field_tag 'operator_id', @operator.id %>
	      <%- end %>
	      <%- if @location %>
	        <%= raw hidden_field_tag 'location_id', @location.id %>
	        <%= raw hidden_field_tag 'location_type', @location.class.to_s %>
	      <%- end %>
	      
	      <div class='form-field'>
	        <%- if @feedback.errors.on(:message) %>
	          <div class='error'>
	            <%= error_message_on @feedback, :message %>
	          </div>
	        <%- end %>
	        <%= form.label :message %>
	        <%= raw form.text_area :message, {:rows => 8, :cols => 50} %>
	      </div>

		  <button stype="submit"><%= t('static.feedback.send') %></button>

	    </div>
	  <%- end %>
	</div>
</div>