<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= @title %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
  <p>
    <%= raw t('static.feedback.not_for_problems', :url => root_url) %>
  </p>
  <p>
   <%- if @operator %>
   <%= raw t('static.feedback.operator_feedback', :operator => @operator.name) %>
   <%- elsif @location %>
   <%= raw t('static.feedback.location_feedback', :location => name_in_sentence(@location)) %>
   <%- else %>
    <%= raw t('static.feedback.please_give_feedback', :email => mail_to(@email)) %>
    <%- end %>
  </p>
  </div>
</div>

<div id="main-content" class="container">
  <style type="text/css">
       .feedback-form label[for=feedback_website] { display: none; }
       .feedback-form input[id=feedback_website] { display: none; }
  </style>


  <div class='feedback-form'>
    <%- form_for(@feedback, :url => feedback_path) do |form|  %>
      <div class='fieldset'>

        <%- if current_user %>
            <%= form.hidden_field :name, :value => current_user.name %>
            <%= form.hidden_field :email, :value => current_user.email %>
        <%- else %>

          <div class='form-field'>
            <%= form.label :name  %>
            <%= raw form.text_field :name %>
            <%- if @feedback.errors.on(:name) %>
              <div class='error'>
                <%= error_message_on @feedback, :name %>
              </div>
            <%- end %>

          </div>


          <div class='form-field'>
            <%= form.label :email  %>
            <%= raw form.text_field :email  %>
            <%- if @feedback.errors.on(:email) %>
              <div class='error'>
                <%= error_message_on @feedback, :email %>
              </div>
            <%- end %>

          </div>

          <div class='form-field'>
            <%= label_tag 'feedback_website', 'Leave this blank' %>
            <%= raw form.text_field :website  %>
          </div>

        <%- end %>


        <div class='form-field'>
          <%= form.label :subject %>
          <%= raw form.text_field :subject  %>
          <%- if @feedback.errors.on(:subject) %>
            <div class='error'>
              <%= error_message_on @feedback, :subject %>
            </div>
          <%- end %>
        </div>

        <%- if params[:url] %>
          <%= raw hidden_field_tag 'feedback[feedback_on_uri]', params[:url] %>
        <%- end %>
        <%- if @operator %>
          <%= raw hidden_field_tag 'operator_id', @operator.id %>
        <%- end %>
        <%- if @location %>
          <%= raw hidden_field_tag 'location_id', @location.id %>
          <%= raw hidden_field_tag 'location_type', @location.class.to_s %>
        <%- end %>

        <div class='form-field'>
          <%= form.label :message %>
          <%= raw form.text_area :message, {:rows => 8, :cols => 50} %>
          <%- if @feedback.errors.on(:message) %>
            <div class='error'>
              <%= error_message_on @feedback, :message %>
            </div>
          <%- end %>

        </div>

      <button class="button" type="submit"><%= t('static.feedback.send') %></button>

      </div>
    <%- end %>
  </div>
</div>
