<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1>How to complain to a transport operator &ndash; the FixMyTransport way</h1>
  </div>
</div>
<div id="main-content" class="container">
  <div class='howto'>

    <!--

    METADATA
    Page title: How to complain to a transport company with FixMyTransport.com
    Page description: Had a bad journey? Read our guide to using FixMyTransport.com, and get results from train, bus, coach, underground and ferry operators. 
    Keywords: complain to train company, complain to bus company, how to complain, how to complain to train company, how to complain to bus company, complain about train journey, complain about bus journey, complain to train operators, complain to bus operators, complain to transport for london, complain about tube, complain about underground, send complaint to bus company, send complaint to train company, complain about coach trip, complain about coach journey, coach complaints, bus complaints, train complaints, ferry complaints, complain about ferry, complain about journey, complain about trams, tram complaints, tram operator complaints
    -->

    <h2>
        FixMyTransport? What&rsquo;s that?
    </h2>

    <p>
    The chances are you have landed on this page because you searched for how to complain to a train, bus or coach company. Good news &ndash; you&rsquo;ve come to the right place.
    </p>

    <p>
        FixMyTransport.com is an independent website which makes it really easy to contact any transport operator in Great Britain. It covers trains, buses, coaches, underground systems and even some ferries. If you&rsquo;d like to find out about the site and why it was set up, you can <%= link_to('read more here', about_url) %>.
        
        
    </p>    

    <h2>
        I want to complain about a journey
    </h2>
    <p>
        If you have a problem you want to report to a transport operator, and you&rsquo;re in a hurry, <%= link_to('start here', root_url) %>. 
    </p>
    <p>
        But if you have a little time, you might like to read on for our guide to how to get the best results from your complaint.
    </p>

    <h2>
        Why should I use FixMyTransport?
    </h2>
    <p>
        There are several benefits to using FixMyTransport.
    </p>
    <ul>
        <li>
            <p>
                As well as sending your problem to the operator, we <strong>publish it online</strong>. We also publish any replies you receive.
            </p>
            <p>
                In this way, we&rsquo;ve found that we increase accountability from the transport providers. Their answers have to be helpful and detailed, because they&rsquo;re not just being read by one dissatisfied customer, but potentially, by many.
            </p>
        </li>
        <li>
            <p>
                Once your problem <strong>has its own webpage</strong> on our site, there&rsquo;s a permanent record of your problem and the correspondence that follows. Anyone can link to it &ndash; and that includes you. Why would you want to? See our next point...
            </p>
        </li>
        <li>
            <p>
                FixMyTransport allows you to <strong>gather support</strong> for your issue when appropriate. Other people can add their name to your page, meaning that the transport operator isn&rsquo;t just getting a single email from one disgruntled passenger &ndash; they&rsquo;re getting it from all the people who are affected by the problem.
            </p>
            <p>
                So you can pass that link around among friends, family and fellow passengers &ndash; and that&rsquo;s not all. Anyone else who searches for the same problem can come across your page and add themselves too.
            </p>
            <p>
                Once you have a good number of people on your page, you start to have <strong>real leverage</strong>. The operators start taking notice. So, potentially, do the local press. And that&rsquo;s when things start to get changed.
            </p>
        </li>
    </ul>

    <h2>
        How can I make sure my problem is really listened to?
    </h2>
    <p>
        OK, so we said we made it really easy to complain. There are, however, just a few things it&rsquo;s worth bearing in mind if you want to get good results. Here&rsquo;s our checklist for getting the most out of FixMyTransport.
    </p>

    <h3>
        1. Make sure you&rsquo;re directing your message to the correct company.
    </h3>
    <p>
        FixMyTransport works by asking you whether your problem was with a route, or a station/bus stop. Think carefully about this, because the two are often run by completely different organisations. 
    </p>
    <p>
        Your problem might have happened at a bus stop, but does it need to go to the bus operator rather than the council? If the issue was a rude driver, or an over-filled bus that you couldn&rsquo;t get on, for example, your problem needs to go to the bus operator. 
        <%= link_to('You can start your complaint here.', find_bus_route_problems_url) %>
    </p>
    <p>
        But if the problem was something like a broken countdown sign or a vandalised bus shelter, that needs to go to the people in charge of bus stops &ndash; often the council. 
        <%= link_to('You can start your complaint here.', find_stop_problems_url ) %>
    </p>
    <p>
        Similarly, railway station issues such as broken display signs, ticket barriers, accessibility and station facilities need to go to the station operators. 
        <%= link_to('You can start your complaint here.', find_stop_problems_url ) %>
    </p>
    <p>
        If your problem was associated to the journey, including issues such as dirty trains, delays and breakdowns, and wrong fares, talk to the train operators for the route. 
        <%= link_to('You can start your complaint here.', find_train_route_problems_url ) %>
    </p>
    <p>
        And if your problem is about ferries, trams or the underground, 
        <%= link_to('start here.', find_other_route_problems_url ) %>
    </p>

    <h3>
        2. Ask for one thing at a time
    </h3>
    <p>
        Ok, so you had a terrible journey. The train was late, the ticket-collector discourteous and the heating wasn&rsquo;t on. 
    </p>
    <p>
        We recommend that you address each problem in a different message. Often operators have different departments for different types of issue, so that way it&rsquo;s much easier for everyone.
    </p>
    <p>
        Also, people are much less likely to join a FixMyTransport campaign that covers a variety of issues. What are the chances that all three things happened to them too? But just one of those things &ndash; sure.
    </p>
    <p>
        Before you click &lsquo;send&rsquo;, give your message a careful read. Is it really clear what the problem is? Would you sign up if it was someone else&rsquo;s campaign on FixMyTransport?
    </p>

    <h3>
        3. Keep it polite
    </h3>
    <p>
        When you&rsquo;ve had a rotten journey, of course the temptation is to mouth off a little. In the short term, that might make you feel better. But in the long term it won't help your case at all &ndash; FixMyTransport is about connecting constructively with transport operators, not sending them offensive messages (and some operators filter out messages containing certain words, so your message runs the risk of never even getting to them). 
    </p>
    <p>
        It&rsquo;ll also get you less sympathy from other FixMyTransport users, so they won&rsquo;t be so keen to add their names to your campaign. Remember: you catch more flies with honey than vinegar!
    </p>

    <h3>
        4. Use your real name
    </h3>
    <p>
        We encourage the use of real names on FixMyTransport: we believe that you&rsquo;re more likely to be taken seriously by the operator if your name is credible. 
        <%= link_to('You can read more about our names policy here.', about_url(:anchor => 'names') ) %>        
    </p>

    <h3>
        5. Include details of journey including starting point, end point, times and type of ticket where relevant
    </h3>
    <p>
        Operators will often write back to ask you for further details, so it makes sense to include them where possible.
    </p>

    <h3>
        6. But don&rsquo;t include your email address, phone number or address 
    </h3>
    <p>
        Remember, your message goes onto a public web page, so don&rsquo;t put anything on there that you don&rsquo;t want the world to see. There&rsquo;s no need to include your personal details, in any case. Any reply you receive from the operator will go directly into your email inbox as well as onto the FixMyTransport web page.
    </p>

    <h3>
        7. Gather support
    </h3>
    <p>
        Remember that this is FixMyTransport&rsquo;s really strong point &ndash; letting other people add their support to your problem. That&rsquo;s how you show the operators it&rsquo;s not just one person&rsquo;s problem, but affects several others.
    </p>
    <p>
        Here are a few ways to get people signed up to your campaign:
    </p>

    <ul>
        <li>
            <strong>Use social media</strong>. Link to your page on your Facebook or Twitter account (look at the top of your FixMyTransport page for buttons that will let you do that really easily) and ask your friends and family to sign up.
        </li>
        <li>
            While you&rsquo;re on Facebook, why not <strong>look for user groups</strong> that would have a special interest in your cause? Search for the name of your town or for a local commuter group, and post a message on their wall.
        </li>
        <li>
            <strong>Local blogs</strong> are a good call too &ndash; find one that has plenty of readers, and leave a comment or ask them to post about your campaign.
        </li>
        <li>
            If your <strong>colleagues</strong> travel on the same route as you do, they&rsquo;ll know your frustrations. Why not share the URL with them? As FixMyTransport URLs can be rather long, using a URL-shortening service like <a href="http://bit.ly">http://bit.ly</a> can be helpful.
        </li>
        <li>
            Who else knows about the issues you&rsquo;re suffering? Your <strong>fellow passengers</strong>, of course. We know it takes some guts to speak to strangers, but if you print out a few simple flyers, you can hand them out. Take a look at <a href="http://fix.argh.tc/poster.php?campaign=http://www.fixmytransport.com/campaigns/put-wifi-on-their-trains">this make-a-poster service</a>. Now if you put the URL of your own campaign into that one (paste it over the URL from after the = sign), it&rsquo;ll generate your very own flier. Quite rough-and-ready, admittedly, but it&rsquo;s a start.
        </li>
        <li>
            Don&rsquo;t stop there! <strong>Put up posters</strong> in your local cafes and post office, find noticeboards at school, uni or in the workplace.
        </li>
    </ul>
    <p>
        The more people you can get to sign your page, the better chance of success you have.
    </p>

    <h3>
        8. Wait for your reply
    </h3>
    <p>
        Operators can take some time to reply &ndash; they deal with a lot of correspondence. Give them a fair chance before you go in with all guns blazing. Often they will send out an initial automatic email with an estimated timescale for their replies, so you&rsquo;ll know what is a reasonable amount of time.
    </p>
    <p>
        If they miss this deadline, by all means give them a nudge. You can use the yellow &lsquo;email&rsquo; button at the top of your FixMyTransport page and that way the correspondence is all kept in the same place.
    </p>

    <h3>
        9. But if the reply doesn&rsquo;t solve anything...
    </h3>
    <p>
        ..well, now you get the benefit of all that support you rallied.
    </p>
    <p>
        Here are a few things you can try:
    </p>

    <ul>
        <li>
            <p>
                <strong>Add an update to the page</strong>. It&rsquo;ll go to everyone who has added their support, so it&rsquo;s useful if for example you want to get debate going, or even call a meeting.
            </p>
        </li>
        <li>
            <p>
                <strong>Ask FixMyTransport what to do next</strong>. You&rsquo;ll see an &lsquo;ask for advice&rsquo; button on your page &ndash; click it and our boffins will try to tell you what to do next.
            </p>
        </li>
        <li>
            <p>
                <strong>Contact your local or county councillor</strong> &ndash; find out which by putting your postcode into http://www.WriteToThem.com and seeing which councilor is responsible for local transport in your area.
    Your representative has a duty to ensure that public transport is adequate for his or her constituents, and should take an interest if you send them the link to your page with a brief explanation. let them know how many other people feel the same.
            </p>
        </li>
        <li>
            <p>
                If you think your issue is newsworthy, try <strong>sending the link to your local paper</strong>. Again, don&rsquo;t forget to tell them how many people have added support to your campaign &ndash; it shows it&rsquo;s a real problem that affects their readership.
            </p>
        </li>
        <li>
            <p>
                <strong>Contact a relevant pressure group</strong>. No need to write out the whole problem again; just link them to your page.
            </p>
            <p>
                A few groups that might be of use are:
            </p>
            <ul>
                <li>
                    <a href="http://www.passengerfocus.org.uk">Passenger Focus</a> An independent watchdog which strives to get the best deal for passengers
                </li>
                <li>
                    <a href="http://www.bettertransport.org.uk/">Campaign for Better Transport</a> Campaigning for better transport that improves the environment and makes communities better. Serach their site for local branches, too.
                </li>
                <li>
                    <a href="http://www.bettertransport.org.uk/fairfares/">Fair Fares Now</a> A Campaign for Better Transport campaign which is specifically focused on travel prices.
                </li>
                <li>
                    <a href="http://www.transportforall.org.uk/">Transport for All</a> Championing accessible transport for all in London
                </li>
                <li>
                    Your local commuter group If you live in a commuter town, there may well be an existing group lobbying for the sort of changes you want. Why not ask them to sign up to your campaign?
                </li>
                <li>
                    Your local cycle group If your issue is to do with cycling, consider asking your local group to link to it in their newsletter or on their website. Just search for [your town] cycle group. 
                </li>
            </ul>
        </li>
    </ul>

    <h4>
        ...or if the reply never comes...
    </h4>
    <p>
        Some operators have requested that FixMyTransport users take their correspondence offline &ndash; they are not willing to reply through our site.
    </p>
    <p>
        We believe there is no reason for an operator to refuse to engage via our users&rsquo; chosen channels, and we encourage you to reply to this effect. 
    </p>
    <p>
        But if you really can&rsquo;t get a response, then we ask you to come back and keep your FixMyTransport page updated with any progress you make. That way, the record is still there, and any supporters you have will also be kept up to date.
    </p>


    <h3>
        10. Don&rsquo;t give up!
    </h3>
    <p>
        Nothing&rsquo;s impossible, and you have the support of your fellow-campaigners now. If your issue really matters, keep trying. Keep adding supporters. Keep contacting the press. Keep asking your local council. In the end, something will have to change. 
    </p>
    <p>
        Don&rsquo;t forget that your campaign has created an archive. It may look like it hasn&rsquo;t succeeded, but when the same problem occurs again in the future, there it is, waiting to be reignited. 
    </p>

    <p>
        And that&rsquo;s it &ndash; our guide to getting results when you complain to transport operators. If you&rsquo;re ready to make your complaint, <%= link_to('start here', root_url) %>. 
    </p>
    <p>
        Or, if you still have questions, you can <a href="/feedback">ask the FixMyTransport team</a> (there's a &lsquo;feedback&rsquo; button at the top of every page).
    </p> 
  </div>
</div>
