<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= @guide.title %></h1>
  </div>
</div>
<div id="other-guides">
  <h4>Other Guides</h4>
  <ul>
  <% @all_guides.each do |g| %>
    <% if g.id == @guide.id %>
       <li class="selected-guide"><%= g.title %></li>
    <% else %>
       <li class="deselected-guide"><%= link_to g.title, :controller => "static", :action => "show_guide", :guide => g.friendly_id %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<div id="main-content" class="container">
  <div class='howto'>
    <%= render "shared/guides/#{@guide.partial_name}" %>
  </div>
</div>
<div id="successful-examples">
  <h4>Successful Example Campaigns</h4>
  <div>
    <ul>
    <%= render :partial => "shared/tiny_issue", :collection => @example_issues, :as => :issue %>
    </ul>
  <div>
</div>
