<div class="admin-stats">
  <table>
      <tr>
          <th colspan="2"></th>
          <%- Problem.statuses.each do |status, code| %>
            <th class="numeric stats-col"><%= status.to_s %></th>
          <%- end %>
      </tr>
      <tr class="this-week-probs">
        <td rowspan="2" class="stats-time">
          <%= t('admin.stats_this_week')%>
        </td>
        <td>
          <%= t('admin.problems') %>:
        </td>
        <%- Problem.statuses.each do |status, code| %>
          <td class="numeric">
            <%= Problem.count(:conditions => ['status_code = ? and created_at >= ?', code, (Time.now - 7.days)]) %>
          </td>
        <%- end %>
      </tr>
      <tr class="this-week-camps">
        <td>
          <%= t('admin.campaigns') %>:
        </td>
        <%- Campaign.statuses.each do |status, code| %>
          <td class="numeric">
            <%= Campaign.count(:conditions => ['status_code = ? and created_at >= ?', code, (Time.now - 7.days)]) %>
          </td>
        <%- end %>
      </tr>  
      <tr class="all-time-probs">
        <td rowspan="2" class="stats-time">
          <%= t('admin.stats_all_time')%>
        </td>
        <td>
          <%= t('admin.problems') %>:
        </td>        
        <%- Problem.statuses.each do |status, code| %>
          <td class="numeric"><%= Problem.count(:conditions => ['status_code = ?', code]) %></td>
        <%- end %>
      </tr>
      <tr class="all-time-camps">
        <td>
          <%= t('admin.campaigns') %>:
        </td>
        <%- Campaign.statuses.each do |status, code| %>
          <td class="numeric"><%= Campaign.count(:conditions => ['status_code = ?', code]) %></td>
        <%- end %>
      </tr>
  </table>  
  <table>
      <tr>
          <th colspan="2"></th>
          <th class="numeric stats-col"><%= t('admin.registered') %></th>
      </tr>
      <tr class="this-week-users">
        <td rowspan="2" class="stats-time">
          <%= t('admin.stats_this_week')%>
        </td>
        <td>
          <%= t('admin.users') %>:
        </td>
        <td class="numeric">
            <%= @user_count_this_week %>
        </td>
      </tr>
      <tr class="this-week-comments">
        <td>
          <%= t('admin.comments') %>:
        </td>
        <td class="numeric">
            <%= @comment_count_this_week %>
        </td>
      </tr>
      <tr class="all-time-users">
        <td rowspan="2" class="stats-time">
          <%= t('admin.stats_all_time')%>
        </td>
        <td>
          <%= t('admin.users') %>:
        </td>
        <td class="numeric">
            <%= @user_count %>
        </td>
      </tr>
      <tr class="all-time-comments">
        <td>
          <%= t('admin.comments') %>:
        </td>
        <td class="numeric">
            <%= @comment_count %>
        </td>
      </tr>
  </table>
</div>

<div class="index">
  <h2><%= t('admin.things_to_do') %></h2>

  <%- if current_user.can_admin?(:organizations) %>
    <div class='admin-task-list'>
      <h3><%= t('admin.in_progress_assignments', :number => @assignments_needing_attention_total) %></h3>
      <ul>
        <%- @assignments_needing_attention.each do |assignment| %>
          <li class='assignment-link'>
            <%= link_to "\"#{assignment.campaign.title}\" #{assignment.task_type.humanize}", admin_url(admin_assignment_path(assignment.id)) %>
          </li>
        <%- end%>
      </ul>
    </div>

    <%- if @incoming_messages_without_campaign.size > 0 %>
    <div class='admin-task-list'>
      <h3><%= t('admin.incoming_messages_without_campaigns', :number => @incoming_messages_without_campaign.size) %></h3>
      <ul>
        <%- @incoming_messages_without_campaign.each do |incoming| %>
          <li class='incoming-link'>
            <%= link_to "\"#{incoming.subject}\"", admin_url(admin_incoming_message_path(incoming.id)) %>
          </li>
        <%- end%>
      </ul>
    </div>
    <%- end %>
  <%- end %>

  <%- if current_user.can_admin?(:locations) %>
    <div class='admin-task-list'>
      <h3><%= t('admin.routes_without_operators_intro', :number => @routes_without_operators_total) %></h3>
      <ul>
        <%- @routes_without_operators.each do |route| %>
          <li class='route-link'>
            <%= link_to route.name, admin_url(admin_route_path(route.id)) %>
          </li>
        <%- end%>
      </ul>
    </div>

    <div class='admin-task-list'>
      <h3><%= t('admin.codes_without_operators_intro', :number => @operator_codes_without_operators_total) %></h3>
      <ul>
        <%- @operator_codes_without_operators.each do |code, count| %>
          <li class='operator-code-link'>
            <%= link_to code, admin_url(assign_routes_admin_operators_path(:code => code)) %>
            <%= t('admin.num_unmatched_routes', :number => count) %>
          </li>
        <%- end%>
      </ul>
    </div>
  <%- end %>
</div>