<h2><%= t('admin.things_to_do') %></h2>
<div class='admin-task-list'>
  <h3><%= t('admin.routes_without_operators_intro', :number => @routes_without_operators_total) %></h3>
  <ul>
    <%- @routes_without_operators.each do |route| %>
      <li class='route-link'>
        <%= link_to route.name, admin_url(admin_route_path(route.id)) %>
      </li>
    <%- end%>
  </ul>
</div>
<div class='admin-task-list'>
  <h3><%= t('admin.codes_without_operators_intro', :number => @operator_codes_without_operators_total) %></h3>
  <ul>
    <%- @operator_codes_without_operators.each do |code, count| %>
      <li class='operator-code-link'>
        <%= link_to code, admin_url(new_admin_operator_path(:code => code)) %>
        <%= t('admin.num_unmatched_routes', :number => count) %>
      </li>
    <%- end%>
  </ul>
</div>
<div class='admin-task-list'>
  <h3><%= t('admin.in_progress_assignments', :number => @assignments_needing_attention_total) %></h3>
  <ul>
    <%- @assignments_needing_attention.each do |assignment| %>
      <li class='assignment-link'>
        <%= link_to "\"#{assignment.campaign.title}\" #{assignment.task_type.humanize}", admin_url(admin_assignment_path(assignment.id)) %>
      </li>
    <%- end%>
  </ul>
</div>
<%- if @incoming_messages_without_campaign.size > 0 %>
<div class='admin-task-list'>
  <h3><%= t('admin.incoming_messages_without_campaigns', :number => @incoming_messages_without_campaign.size) %></h3>
  <ul>
    <%- @incoming_messages_without_campaign.each do |incoming| %>
      <li class='incoming-link'>
        <%= link_to "\"#{incoming.subject}\"", admin_url(admin_incoming_message_path(incoming.id)) %>
      </li>
    <%- end%>
  </ul>
</div>
<%- end %>