- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var stop_lon = #{@stop_area.lon};
  var stop_lat = #{@stop_area.lat};
  jQuery(document).ready(function(){
     stop_init();
  });
= render :partial => 'shared/respond', :locals => { :instance => @stop_area }
.stop-area
  %h3.name= @stop_area.name
  .details
    %span.locality= "In #{@stop_area.area}"
  The following stops are here: 
- @stop_area.stops.each do |stop|
  .stop
    = link_to(stop.full_name, stop_url(stop))
    .route-list
      - stop.routes.each do |route|
        .route-info
          .next-stops
            - route.next_stops(stop.id).each do |next_stop|
              .stop-link= link_to(next_stop.name, stop_url(next_stop))
          .previous-stops
            - route.previous_stops(stop.id).each do |previous_stop|
              .stop-link= link_to(previous_stop.name, stop_url(previous_stop))
          .route-name= link_to(route.name(from_stop=stop), route_url(route))

