- @title = t(:new_message_to, :organization => @outgoing_message.recipient_name)
%h2.main-header= @title
- form_for [@campaign, @outgoing_message], :html => {:class => 'create_outgoing_message'} do |f| 
  - if @outgoing_message.errors.on('recipient')
    .form-field-error= error_message_on @outgoing_message, 'recipient'
  - if @outgoing_message.errors.on('incoming_message')
    .form-field-error= error_message_on @outgoing_message, 'incoming_message'
  - if @outgoing_message.errors.on('base')
    .form-field-error= error_message_on @outgoing_message, 'base'
  - if @outgoing_message.errors.on('subject')
    .form-field-error= error_message_on @outgoing_message, 'subject'
  .form-field
    = f.label :subject
    != f.text_field :subject, :size => 60
  - if @outgoing_message.errors.on('body')
    .form-field-error= error_message_on @outgoing_message, 'body'
  .form-field  
    = f.label :body, t(:message)
    != f.text_area :body, :rows => 12, :cols => 40
    - if @outgoing_message.recipient
      != f.hidden_field :recipient_id
      != f.hidden_field :recipient_type
    != f.hidden_field :incoming_message_id
    != f.hidden_field :author_id
    != f.hidden_field :assignment_id
  != submit_tag t(:submit)