<div id="main-content" class="container">
	<%- if current_user && current_user == @outgoing_message.author %>
	  <%- form_for @campaign_update, :url => add_update_campaign_url(@outgoing_message.campaign) do |f| %>
	    <div class='fieldset'>

	      <div class='form-field'>
	        <%- if @campaign_update.errors.on('text') %>
	          <div class='error'>
	            <%= error_message_on @campaign_update, :text %>
	          </div>
	        <%- end %>
	        <%= f.label :text, t(:what_does_this_mean) %>
	        <%= raw f.hidden_field :outgoing_message_id %>
	        <%= raw f.hidden_field :user_id %>
	        <%= raw f.text_area :text, :cols => 40, :rows => 5 %>
			<button class="button" type="submit"><%= t(:add_update) %></button>
	      </div>
	    </div>

	  <%- end %>
	<%- else  %>
	  <%= raw t(:login_to_add_update, :link => link_to(t(:login_as, :user => h(@outgoing_message.campaign.initiator.name)), login_url(:redirect => request.request_uri)), :campaign => h(@outgoing_message.campaign.title)) %>
	<%- end %>
</div>