- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var routeStops = #{stops_js(@route.stops)}
  jQuery(document).ready(function(){
     route_init();
  });
= render :partial => 'shared/respond', :locals => { :instance => @route }
.route
  .name= @route.name
  .operator
    - if @route.operators.empty? 
      Operator unknown
    - else
      Operated by:
      %ul
      - @route.operators.each do |operator|
        %li= "#{operator.code}"
  .stops
    Stops at:
    %ol
    - @route.route_stops.each do |route_stop|
      %li= link_to(route_stop.name, stop_url(route_stop.stop))
