- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var routeSegments = #{route_segments_js(@route)}
  jQuery(document).ready(function(){
     route_init();
  });
= render :partial => 'shared/respond', :locals => { :instance => @route }
.route
  .name= @route.description
  .operator
    - if @route.operators.empty? 
      Operator unknown
    - else
      Operated by:
      %ul
      - @route.operators.each do |operator|
        %li= "#{operator.code}"
  .stops
    Stops at:
    %ol
    - @route.stops.each do |stop|
      %li= link_to(stop.name, stop_url(stop))
