- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var routeSegments = #{routes_segments_js([@route])}
  jQuery(document).ready(function(){
     routes_init();
  });
= render :partial => 'shared/respond', :locals => { :instance => @route }
.route
  %h3.name= @route.name
  .details
    %span.locality= "#{@route.area}."
  .operators
    - if @route.operators.empty? 
      Operator unknown
    - else
      Operated by
      %ul
        - @route.operators.each do |operator|
          %li= "#{operator.code}"
  .terminuses
    != terminus_text(@route)