- content_for :javascript do 
  != map_javascript_include_tags
- cache("route_#{@route.id}") do 
  #map-col
    = render :partial => 'shared/map', :locals => { :locations => [@route] }
    .extra-info
      %ul.stops   
        Stops:
        - @route.stops_or_stations.sort_by(&:name).each do |stop_or_station|
          %li= link_to stop_or_station.full_name, location_url(stop_or_station)
  .route
    %a{:href => location_url(@route, :format => 'atom'), :class => 'rss-link campaign-rss'}
      %span= t(:feed)
      %img{:src => "/images/feed.png", :title => t(:feed), :alt => t(:campaigns_feed) }
    %h3.name= @route.name
    .details
      %span.locality= "#{@route.area}."
      .operators
        - if !@route.operators.empty? 
          Operated by
          %ul
            - @route.operators.each do |operator|
              %li= operator.name 
      .terminuses
        != terminus_text(@route)
= render :partial => 'shared/location_content', :locals => { :location => @route }
