- content_for :javascript do 
  != map_javascript_include_tags
#map-col
  #map
  :javascript
    var areaStops = #{location_stops_js([@route])}
    jQuery(document).ready(function(){
       area_init();
    });
.route
  %h3.name= @route.name
  .details
    %span.locality= "#{@route.area}."
  .operators
    - if @route.operators.empty? 
      Operator unknown
    - else
      Operated by
      %ul
        - @route.operators.each do |operator|
          %li= operator.code
  .terminuses
    != terminus_text(@route)
= render :partial => 'shared/new_story', :locals => { :location => @route.becomes(Route) }
= render :partial => 'shared/story', :collection => @route.problems.confirmed
 