- content_for :javascript do 
  != map_javascript_include_tags
#map-col
  #map
  :javascript
    var areaStops = #{location_stops_js([@route])}
    jQuery(document).ready(function(){
       area_init();
    });
  .stops
    Stops:
    - @route.stops.each do |stop|
      %li.active-stop{:id => "#{stop.id}"}= link_to(stop.name, stop_url(stop))
= render :partial => 'shared/respond', :locals => { :instance => @route }
.route
  %h3.name= @route.name
  .details
    %span.locality= "#{@route.area}."
  .operators
    - if @route.operators.empty? 
      Operator unknown
    - else
      Operated by
      %ul
        - @route.operators.each do |operator|
          %li= operator.code
  .terminuses
    != terminus_text(@route)
