<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%-if assignment.task_type_name == 'find-transport-organization' %>
  <%= assignment.user.name %> found the company that runs this <%= readable_location_type(assignment.campaign.location) %>. 
<%-elsif assignment.task_type_name == 'find-transport-organization-contact-details' %>
  <%= assignment.user.name %> found an email address for <%= assignment.campaign.problem.operator.name %>
<%- end %></span><span class="date"><%= event.created_at.to_s(:standard_with_date) %></span></a>