<a id="update_<%= update.id %>"></a>
<a href="#" class="thread-item">
  <span class="num"><%= index %></span>
  <span class="title"><%= event.title %></span>
  <span class="close">close</span>
  <span class="date">
    <%= update.created_at.localtime.to_s(:standard_with_date) %>
  </span>
</a>

<div class="thread-details">
	<div class="thread-copy"><%= raw simple_format(sanitize(update.text)) %></div>
	<div class="thread-furniture">
		<div class="thumb"><a href="<%= profile_url(update.user) %>"><img src="<%= update.user.profile_photo.url(:large_thumb) %>" alt="" /></a>
		  <%= raw role_flags(update.user) %>
		</div>
		
	</div>
</div>