%a{:id => "update_#{update.id}"}
- if update.is_advice_request? 
  - text = :user_requested_advice
  - class_name = 'advice-request'
- elsif update.incoming_message or update.outgoing_message
  - text = :user_says
  - class_name = 'message-update'
- else 
  - text = :user_says
  - class_name = 'general-campaign-update'
%div{ :class => class_name }
  != t(text, :name => h(update.user.name))
  != sanitize("\"#{update.text}\"")
  .actions
    %span.date= t(:ago, :time => time_ago_in_words(update.created_at))
    - if (! current_user or update.comments.empty?) and !always_show_commentbox
      .campaign-comment-link{:id => "commentlink_#{update.id}"}= link_to( t(:add_comment), add_comment_campaign_url(@campaign, :update_id => update.id))

  %ul.campaign-comments
    - update.comments.visible.each do |comment|
      %a{:id => "comment_#{comment.id}"}
      = render :partial => 'update_comment', :locals => { :comment => comment }
    - if (current_user && !update.comments.empty?) or always_show_commentbox
      - style = ''
    - else
      - style = 'display:none;'
  .campaign-commentbox{:style => style, :id => "commentbox_#{update.id}"}
    -if current_user
      - form_class = "ajax_new_campaign_comment" 
    - else
      - form_class = "new_campaign_comment"
    - form_for @comment = Comment.new(:user => current_user ? current_user : User.new, :commented => update), :url => add_comment_campaign_url(@campaign), :html => {:class => form_class} do |f|
      - if @empty_comment
        .form-field-error
          = t(:please_enter_some_text)
      = f.text_area :text, :rows => 2, :cols => 40,:id => "comment_text_#{update.id}"
      != f.hidden_field :commented_id, :id => "comment_commented_id_#{update.id}"
      != f.hidden_field :commented_type, :id => "comment_commented_type_#{update.id}"
      - if current_user
        != f.hidden_field :user_id, :id => "comment_user_id_#{update.id}"
      - else
        - if @comment.errors.on('user_name')
          .form-field-error= error_message_on @comment, 'user_name'
        .form-field
          != f.label :user_name, t(:name)
          != f.text_field :user_name, :id => "comment_user_name_#{update.id}"
        - f.fields_for :user do |user_fields|
          - if @comment.user.errors.on('email')
            .form-field-error= error_message_on @comment.user, "email"
          .form-field
            != user_fields.label :email
            != user_fields.text_field :email, :id => "comment_email_#{update.id}"
      != f.submit t(:add_comment), :id => "comment_submit_#{update.id}"

  %div{:style => "clear:both;"}