<span class="thread-item incoming-message">
  <span class="num"><%= index %></span>
  <span class="title"><%= raw t('campaigns.show.got_a_message', :link => link_to(t('campaigns.show.a_reply'), campaign_incoming_message_path(@campaign, message)), :sender => message.safe_from, :campaigner => h(@campaign.initiator.name)) %></span>
  <span class="close">close</span>
  <span class="date">
  <%= event.created_at.localtime.to_s(:standard_with_date) %>
  </span>
  <%= render :partial => 'campaigns/campaign_event_permalink', :locals => {:event => event} %>
</a>

<div class="thread-details">
	<div class="thread-copy">
    <%= render :partial => 'campaigns/incoming_message_body', :locals => {:collapse_quotes => @collapse_quotes, :message => message } %>
	</div>
	<div class="thread-alternative-copy" style="display:none;">
	    <%= render :partial => 'campaigns/incoming_message_body', :locals => {:collapse_quotes => !@collapse_quotes, :message => message } %>
	</div>
	<%- if initiator_view(@campaign) %>
  <%= raw link_to(t('campaigns.show.reply_to_this_message'), new_campaign_outgoing_message_path(message.campaign, :incoming_message_id => message), :class => 'button right') %>
  <%- end %>
	<div class="thread-furniture"></div>
</div>