.campaign-event
  %span.date= short_date(message.created_at)
  - if message.campaign_updates.empty? 
    %span.message-link
      != t(:got_a_message, :link => link_to(message.subject, incoming_message_path(message)), :sender => message.from)
  - else
    %span.important-message-link
      != t(:got_important_message, :link => link_to(message.subject, incoming_message_path(message)), :sender => message.from)
      - message.campaign_updates.each do |update|
        .message-campaign-update
          != t(:user_says, :name => update.user.name)
          != update.text
  