<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%= raw t(:got_a_message, :link => link_to(t(:a_reply), campaign_incoming_message_path(@campaign, message)), :sender => message.safe_from, :campaigner => h(@campaign.initiator.name)) %></span><span class="close">close</span><span class="date"><%= event.created_at.to_s(:standard_with_date) %></span></a>

<div class="thread-details box">
	<div class="thread-copy"><%= raw message.get_body_for_html_display(@collapse_quotes) %></div>
	<div class="thread-alternative-copy" style="display:none;"><%= raw message.get_body_for_html_display(!@collapse_quotes) %>
	<div class="thread-furniture">
	</div>
</div>