<a href="#" class="thread-item">
  <span class="num"><%= index %></span>
  <span class="title"><%= event.title %></span>
  <span class="close">close</span>
  <span class="date">
  <%= event.created_at.localtime.to_s(:standard_with_date) %>
  </span>
</a>

<div class="thread-details">
	<div class="thread-copy">
    <%= render :partial => 'incoming_message_body', :locals => {:collapse_quotes => @collapse_quotes, :message => message } %>
	</div>
	<div class="thread-alternative-copy" style="display:none;">
	    <%= render :partial => 'incoming_message_body', :locals => {:collapse_quotes => !@collapse_quotes, :message => message } %>
	</div>
	<div class="thread-furniture"></div>
</div>