<div class="manager-tools">
	<h2 class="font-1"><%= t('campaigns.show.manage_campaign') %></h2>
	<div class="manager-tools-inner">

		<%- if !@campaign.recommended_assignments.empty? %>
		<div class="recommended-actions">
			<h3 class="font-1"><%= t('campaigns.show.recommended_actions') %></h3>
			<ul>
			  <%- @campaign.recommended_assignments.each do |assignment| %>
				<li>
				 	<a href="<%= edit_campaign_assignment_path(assignment.campaign, assignment) %>">
	  					<span class="icon big <%=assignment_icon(assignment) %>"></span>
 						<div>
							<h4><%= assignment_title(assignment) %></h4>
							<p><%= assignment_details(assignment) %></p>
						</div>
					</a>
				</li>
				<%- end %>
			</ul>
		</div>
		<%- end %>


		<div class="actions" role="menubar">
			<h3 class="font-1"><%= t('campaigns.show.actions')%></h3>
			<ul>
				<li>
					<a href="<%= raw add_update_campaign_url(@campaign, :is_advice_request => true) %>" role="menuitem" class="advice-trigger">
						<span class="icon question"></span>
						<%= t('campaigns.show.ask_an_expert') %>
					</a>
				</li>
				<li>
					<a href="<%= raw add_photos_campaign_url(@campaign) %>" class="add-photos-trigger" role="menuitem" >
						<span class="icon camera"></span>
						<%= t('campaigns.show.add_images') %>
					</a>
				</li>
				<%- if @campaign.status != :successful %>
				  <%- form_for @campaign, :url => complete_campaign_url(@campaign), :html => { :method => 'POST', :id => 'campaign-complete' } do |f| %>
				<li>
					<button class="button" type="submit" role="menuitem" >
						<span class="icon tick"></span>
						<%= t('campaigns.show.mark_as_complete') %>
					</button>
				</li>
				  <%- end %>
				<%- end %>
				<li>
					<a href="<%=edit_campaign_path(@campaign) %>" role="menuitem">
						<span class="icon pencil"></span>
						<%= t('campaigns.show.edit_description') %>
					</a>
				</li>

				<%- @campaign.assignments.is_new.each do |assignment| %>
          <%- if assignment.task_type == 'find_transport_organization' %>
           <li>
   					 	<a href="<%= edit_campaign_assignment_path(assignment.problem.campaign, assignment) %>" role="menuitem">
     						<span class="icon person"></span>
     						<%= t('campaigns.show.find_operator') %>
     					</a>
   				</li>
           <%- end %>
           <%- if assignment.task_type == 'find_transport_organization_contact_details' %>
            <li>
    					 	<a href="<%= edit_campaign_assignment_path(assignment.problem.campaign, assignment) %>" role="menuitem">
      						<span class="icon person"></span>
      						<%= t('campaigns.show.add_contact') %>
      					</a>
    				</li>
            <%- end %>
        <%- end %>
			</ul>
		</div>

		<%- if !@campaign.existing_recipients.empty? or !@campaign.assignments_with_contacts.empty? %>

  		<div class="contacts" role="menu">
  			<h3 class="font-1"><%= t('campaigns.show.your_contacts') %></h3>
  			<p><%= t('campaigns.show.contacts_description')%></p>
  			<ul>
  			  <%- @campaign.existing_recipients.each do |recipient| %>
            <li>
    					<a href="<%= new_campaign_outgoing_message_path(@campaign, :recipient_type => recipient.type, :recipient_id => recipient.id) %>" class="button orange email right" title="Email <%= recipient.name %>" role="menuitem"><%= t('campaigns.show.contacts_email')%></a>
    					<h4><%= recipient.name %></h4>
    					<p><%= contact_description(recipient.type.to_s, @campaign) %></p>
    				</li>
          <%- end %>

          <%- @campaign.assignments_with_contacts.each do |assignment| %>
             <li>
     					<a href="<%= new_campaign_outgoing_message_path(@campaign, :assignment_id => assignment.id) %>" class="button orange email right" title="Email <%= assignment.data[:name] %>" role="menuitem">Email</a>
     					<h4><%= assignment.data[:name] %></h4>
     					<p><%= assignment.data[:description] %></p>
     				</li>
          <%- end %>
  			</ul>
  		</div>

		<%- end %>

		<div class="share-update">
			<h3 class="font-1"><%= t('campaigns.show.whats_happening')%></h3>
			  <%- form_for @campaign_update ||= CampaignUpdate.new, :url => add_update_campaign_url(@campaign), :html => {:id => 'campaign-update-form-static' } do |f| %>

			  <div class='fieldset'>
          <div class='form-field'>

            <%= raw f.hidden_field :is_advice_request %>
      			<input type="text" name="campaign_update[text]" id="campaign_update_text"/>
      			<button class="button" name="post-update" type="submit"><%= t('campaigns.show.post_update')%></button>
				<div class='error error-text' style="display: none;"></div>
				<label for="campaign_update_text"><%= t('campaigns.show.post_update_instructions')%></label>
          </div>
        </div>
			  <%- end %>
		</div>
	</div>
</div>
