<%-if assignment.task_type_name == 'write-to-other' %>
<a href="#" class="thread-item">
<span class="num"><%= index %></span>
<span class="title"><%= raw t(:expert_advised_writing, :expert => h(assignment.creator.name), :user => h(assignment.user.first_name),  :recipient => h(assignment.data[:name]), :advised => t(:advised)) %></span>
<span class="close">close</span>
<span class="date"><%= event.created_at.to_s(:standard_with_date) %></span>
</a>
<div class="thread-details">
	<div class="thread-copy">
		<%= raw simple_format(h(assignment.data[:reason])) %>
	</div>
	<div class="thread-furniture">
		<div class="thumb"><img src="<%= assignment.creator.profile_photo.url(:large_thumb) %>" /></div>
	</div>
</div>
<%- end %>