<%- form_for campaign, :url => campaign_url(campaign, :token => params[:token]), :html => { :class => 'update_campaign' } do |f| %>
  <div class='fieldset'>
    
		<%- if campaign.errors.on('title') %>
      <div class='error'><%= error_message_on campaign, :title %>
      </div>
    <%- end %>
		<div class='form-field'>
      <%= f.label :title %>
      <%= raw f.text_field :title %>
    </div>
    
		<%- if campaign.errors.on('description') %>
      <div class='error'><%= error_message_on campaign, :description %>
      </div>
    <%- end %>
    <div class='form-field'>
      <%= f.label :description %>
      <%= raw f.text_area :description, { :rows => 5 }    %>
    </div>
    
		<%- if campaign.errors.on('subdomain') %>
      <div class='error'><%= error_message_on campaign, :subdomain %>
      </div>
    <%- end %>
    <div class='form-field'>
      <%= f.label :subdomain, t(:choose_a_short_name) %>
      <%= raw f.text_field :subdomain, :size => 16 %>
      <br/>
      <span class='label-note'><%= t(:easy_web_address, :url => "http://#{MySociety::Config.get('DOMAIN', 'localhost')}/savethec10") %></span>
    </div>
    
    
    <%- if ! campaign.initiator.registered? or campaign.initiator.registered_changed? %>
      <%= t(:add_password_to_update) %>
      <%- fields_for campaign.initiator do |user_fields| %>
      
        <div class='form-field'>
          <%= raw user_fields.hidden_field :name, :value => campaign.problem.reporter_name %>
          <%= raw hidden_field_tag :token, params[:token] %>
          <%- if campaign.initiator.errors.on('password') %>
            <div class='error'><%= error_message_on campaign.initiator, :password %>
            </div>
          <%- end %>
          <%= user_fields.label :password %>
          <%= raw user_fields.password_field :password %>
        </div>
        
        <div class='form-field'>
          <%- if campaign.initiator.errors.on('password_confirmation') %>
            <div class='error'><%= error_message_on campaign.initiator, :password_confirmation %>
            </div>
          <%- end %>
          <%= user_fields.label :password_confirmation, t(:password_confirmation) %>
          <%= raw user_fields.password_field :password_confirmation %>
        </div>
      
      <%- end %>
    <%- end %>
    
  </div>
  <%= raw f.submit t(:go) %>

<%- end %>
          
