<%- if current_user %>
  <%- if ! supporter_initiator_view(@campaign) %>

    <%- form_for @campaign, :url => '', :html => { :method => 'GET', :class => 'logged-in-support'  } do |f| %>
        <button type="submit" class="button <%= raw button_class %> green">
          <%= t('campaigns.show.support_this') %>
        </button>
        <%- if button_class == "support-big"%>
        <span class="support-explanation">
         <%= t('campaigns.show.support_explanation') %>
        </span>
        <%- end %>
    <%- end %>


  <%- end %>

<%- else %>

  <%- form_for @campaign, :url => '', :html => { :method => 'GET', :class => 'login-to-support' } do |f| %>
    <button type="submit" class="button <%= raw button_class %> green">
      <%= t('campaigns.show.support_this')%>
    </button>
     <%- if button_class == "support-big"%>
     <span class="support-explanation">
      <%= t('campaigns.show.support_explanation') %>
     </span>
     <%- end %>
  <%- end %>

<%- end %>
