<div class='campaign-updates' id="<%= id %>">
  <%- form_for @campaign_update ||= CampaignUpdate.new, :url => add_update_campaign_url(@campaign), :html => {:id => 'campaign-update-form'} do |f| %>
    <div class='fieldset'>
      <div class='form-field'>
        <%- if @campaign_update.errors.on('text') %>
          <div class='error' id="error-text">
            <%= error_message_on @campaign_update, :text %>
          </div>
        <%- else %>
            <div class='error', id="error-text" style="display: none;"></div>
        <%- end %>        
        <%= raw f.hidden_field :is_advice_request %>
        <%= raw f.text_area :text, :cols => 40, :rows => 3 %>
        <div id="comment-login-options">	
        <%- if @campaign_update.is_advice_request %>
          <button type="submit" class="button"><%= t(:request_advice)%></button>
        <%- else %>
          <button type="submit" class="button"><%= t(:add_update)%></button>
        <%- end %>
        </div>
      </div>
    </div>
  <%- end %>
</div>
