<%- content_for :javascript do %>
<noscript>
	<style>
		ul#process {
			display:none;
		}
		#banner {
			width:940px;
			margin:3em auto 1em auto;
			padding:10px;
		}
		.form-1 ul li {
			width:100%;
		}
		.form-1 input,
		.form-1 textarea {
			clear:both;
		}
		.tipbox, .tipbox.fixed {
			position:relative;
		    right: 0;
			display:inline;
			float:right
		}
	</style>
</noscript>
<%- end %>
<div id="main-nav-bar">
	<div class="container">
		<ul id="process" class="crumb">
			<li id="crumb1"><a href="#general">General</a></li>
			<li id="crumb2"><a href="#share">Share</a></li>
		</ul>
	</div>
</div>
	<div id="main-content">
	  
	  <%- form_for @campaign, :url => add_details_campaign_path(@campaign), :html => {:class => 'form-1', :id => 'process-tabs', :method => :post, :multipart => true} do |f| %>
	  
			<ul class="tabbed">
				<div id="general" class="pane">
					<div id="banner">
						<div class="container">
							<h4>Give your campaign a headline and description</h4>
						</div>
					</div>
					<div class="container">
						<li>
						  <%- if @campaign.errors.on('title') %>
						    <%- title_error_style = '' %>
						  <%- else %>
						    <%- title_error_style = 'display: none;'%>
						  <%- end %>
              <div class='error' style="<%= title_error_style %>">
                <%= t('activerecord.errors.models.campaign.attributes.title.blank') %>
              </div>
              <%=  f.label :title, raw("Please help me persuade <span>#{@campaign.responsible_org_descriptor}</span> to:") %>
              <%= raw f.text_field :title %>
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Make a title</h5>
								<p>Give your campaign a good title</p>
								<p>E.g. "<em>Please help me persuade The Operator to get rid of the awful smell between Manors and Monument on the Metro</em>"</p>
							</div>
						</li>

						<li>
						  <%- if @campaign.errors.on('description') %>
						    <%- description_error_style = '' %>
						  <%- else %>
						    <%- description_error_style = 'display: none;'%>
						  <%- end %>
              <div class='error' style="<%= description_error_style %>">
                <%= t('activerecord.errors.models.campaign.attributes.description.blank') %>
              </div>
						   <%= f.label :description, "Description" %>
						   <%= raw f.text_area :description %>
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Add a short description</h5>
								<p>In no more than 40 words, provide a quick description of the issue. This will allow others to easily understand and support your campaign.</p>
							</div>
						</li>
					</div>
				</div>

				<div id="share" class="pane">
					<div id="banner">
						<div class="container">
							<h4>Share your campaign</h4>
						</div>
					</div>
					<div class="container">
						<li>
							<div class="box">
								<%- if ! MySociety::Config.get('FACEBOOK_APP_ID','').empty? %>
									<img src="/images/facebook-share.jpg" id="fb-share" style="cursor:pointer;"/>
								<%- end %>
								<script>
								// FIXME
								$(document).ready(function(){
									$('#fb-share').click(function(){
										FB.ui({method: 'apprequests', message: 'Support my "<%= h(@campaign.title) %>" campaign on fixmytransport.com', data: 'user tracking info', display:'popup', title:'Spread the word: <%= h(@campaign.title) %>'});
									})
								})
								</script>
								
								<img src="/images/twitter-share.jpg" />
							</div>
							<label for="emails">List your friends' emails here</label>
							<textarea name="emails"></textarea>
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Share with you friends via email</h5>
								<p>List your friends' email addresses here and we will send them an email with the details of you campaign.</p>
								<p>One email per line, we hate spam as much as you, so we don't send it.</p>
							</div>
							<button class="process-submit button">Submit</button>
						</li>
					</div>	
				</div>
			</ul>
		<%- end %>
	</div>
		
	<div id="process-nav" class="container"></div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>