<%- if @error %>
  <%= raw t(@error, :link => link_to(t(:let_us_know), feedback_path)) %>
<%- else %>
  
  <%= raw t(:you_are_a_supporter, :campaign => link_to(h(@campaign_supporter.campaign.title), campaign_url(@campaign_supporter.campaign)))  %>
  <p><%= t(:as_a_supporter) %></p>
  
  <%- if @user.registered? && ! current_user %>
    <%= raw t(:login_to_comment, :link => link_to(t(:login), login_path)) %>
  <%- elsif ! @user.registered?  %>
    <p>
      <%= t(:add_details_to_comment) %>
    </p>
    <%- form_for @user, :url => confirm_join_path(:email_token => params[:email_token]) do |f| %>
    
      <div class='form-field'>
        <%- if @user.errors.on('name') %>
          <div class='error'>
            <%= error_message_on @user, :name %>
          </div>
        <%- end %>
        <%= f.label :name %>
        <%= raw f.text_field :name, :value => @user.name %>
        <%= raw hidden_field_tag :email_token, params[:email_token] %>
      </div>
      
      
      <div class='form-field'>
        <%- if @user.errors.on('password') %>
          <div class='error'>
            <%= error_message_on @user, :password %>
          </div>
        <%- end %>
        <%= f.label :password %>
        <%= raw f.password_field :password %>
      </div>
      
      <div class='form-field'>
        <%- if @user.errors.on('password_confirmation') %>
          <div class='error'>
            <%= error_message_on @user, :password_confirmation %>
          </div>
        <%- end %>
        <%= f.label :password_confirmation, t(:password_confirmation) %>
        <%= raw f.password_field :password_confirmation %>
      </div>
      
      <div class='form-field'>
		<button type="submit"><%= t(:go) %></button>
      </div>
    
    <%- end %>
  <%- end %>  
<%- end %>
