- if @error
  = t(@error, :link => link_to(t(:let_us_know), feedback_path))
- else
  != t(:you_are_a_supporter, :campaign => link_to(@campaign_supporter.campaign.title, campaign_url(@campaign_supporter.campaign))) 
  %p= t(:as_a_supporter)
  - if @user.registered? && ! current_user
    != t(:login_to_comment, :link => link_to(t(:login), login_path))
  - elsif ! @user.registered? 
    - form_for @user, :url => confirm_join_path(:email_token => params[:email_token]) do |f|
      %p= t(:add_details_to_comment)
      .form-field
        - if @user.errors.on('name')
          .form-field-error= error_message_on @user, :name
        = f.label :name
        != f.text_field :name, :value => @user.name
        != hidden_field_tag :email_token, params[:email_token]
      .form-field
        - if @user.errors.on('password')
          .form-field-error= error_message_on @user, :password
        = f.label :password
        != f.password_field :password
      .form-field
        - if @user.errors.on('password_confirmation')
          .form-field-error= error_message_on @user, :password_confirmation
        = f.label :password_confirmation, t(:password_confirmation)
        != f.password_field :password_confirmation
      !=f.submit t(:go)
    