- if @error
  = @error
- else
  - if @comment.commented.is_a? Problem
    = t(:thanks_for_adding_update)
    = link_to t(:see_your_update), comment_url(@comment)
  - else  
    = t(:thanks_for_adding_comment)
    = link_to t(:see_your_comment), comment_url(@comment)