- if @campaign.location
  #map-col
    = render :partial => 'shared/map', :locals => { :locations => [@campaign.location], :other_locations => [] }
.campaign-info
  %h3= @campaign.title
  %p.campaign= @campaign.description
  .initiator= @campaign.initiator.name
  %p.start-date
    %b= t(:campaign_start_date)
    =@campaign.created_at.strftime("%d/%m/%Y") 
= link_to(t(:tweet_this), "http://twitter.com/share", {:class =>"twitter-share-button", 'data-count' => 'vertical', 'data-via' =>"fixmytransport"})
%script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
= link_to(t(:join_this_campaign), '')