- content_for :javascript do 
  != map_javascript_include_tags
- if @campaign.location
  #map-col
    #map
    :javascript
      var areaStops = #{location_stops_js([@campaign.location])}
      jQuery(document).ready(function(){
         area_init();
      });
  .campaign-info
    %h3= @campaign.title
    %p.campaign= @campaign.description
    %p.start-date
      %b= t(:campaign_start_date)
      =@campaign.created_at.strftime("%d/%m/%Y") 