- if @campaign.location
  #map-col
    = render :partial => 'shared/map', :locals => { :locations => [@campaign.location], :other_locations => [], :link_type => :location, :height => MAP_HEIGHT, :width => MAP_WIDTH }
.campaign-info
  / = link_to(t(:tweet_this), "http://twitter.com/share", {:class =>"twitter-share-button", 'data-count' => 'vertical', 'data-via' =>"fixmytransport"})
  / %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
  %h2= @campaign.title
  .details
    = t(:started_on, :date => @campaign.created_at.strftime("%d/%m/%Y"))
    = t(:by, :name => @campaign.initiator.name)
    .location-and-supporters
      - if @campaign.problem.location.is_a?(SubRoute)
        %span.transport-location!= t(:campaign_location, :link => @campaign.problem.location.description)
      - else
        %span.transport-location!= t(:campaign_location, :link => link_to(@campaign.problem.location.description, location_url(@campaign.problem.location)))
      %span.supporters= t(:campaign_has_n_supporters, :n => @campaign.supporter_count, :count => @campaign.supporter_count)
  %p.campaign!= simple_format(sanitize(@campaign.description))
  - if current_user && current_user == @campaign.initiator
    = render :partial => 'update_form', :locals => {  :hidden => false, :update => CampaignUpdate.new(:user_id => current_user.id) }
  - elsif current_user && current_user.campaigns.include?(@campaign)
    = t(:you_support_this_campaign)
    - form_for @campaign, :url => leave_campaign_url(@campaign), :html => { :method => 'POST' } do |f|
      != hidden_field_tag "user_id", current_user.id
      != submit_tag t(:leave_this_campaign)
  - else
    - form_for @campaign, :url => join_campaign_url(@campaign), :html => { :method => 'POST' } do |f|
      - if current_user
        != hidden_field_tag "user_id", current_user.id
        != submit_tag t(:join_this_campaign)
      - else
        .form-field
          != label_tag :email, t(:enter_your_email_to_join)
          != text_field_tag :email
        != submit_tag t(:join)
  - if !@campaign.problem.optional_assignments.empty?
    %h3= t(:next_steps)
    .optional-assignments
      - @campaign.problem.optional_assignments.each do |assignment_type|
        = render :partial => "shared/optional_assignments/#{assignment_type}"
      .optional-assignment-end
      - if current_user && current_user == @campaign.initiator
        = render :partial => 'update_form', :locals => { :hidden => true, :update => CampaignUpdate.new(:is_advice_request => true, :user_id => current_user.id) }
  - if current_user && current_user.is_expert?
    %h3= t(:transport_experts)
    .expert-actions
      .optional-assignment
        = link_to(t(:tell_to_write, :user => @campaign.initiator.first_name), new_campaign_assignment_path(@campaign))
      .optional-assignment-end
  %h3.latest-news= t(:latest_news)
  - @campaign.campaign_events.visible.each do |campaign_event|
    = render :partial => 'campaign_event', :locals => { :always_show_commentbox => false, :event => campaign_event }
