- if @campaign.location
  #map-col
    #map
    = render :partial => 'shared/location_map_js', :locals => { :locations => [@campaign.location] }
.campaign-info
  %h3= @campaign.title
  %p.campaign= @campaign.description
  .initiator= @campaign.initiator.name
  %p.start-date
    %b= t(:campaign_start_date)
    =@campaign.created_at.strftime("%d/%m/%Y") 
:plain
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="fixmytransport">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>