<%- content_for :javascript do %>
<%= raw javascript_include_tag('jquery.lightbox-0.5.min.js', :charset => 'utf-8') %>
<!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
<%= raw javascript_include_tag("http://use.typekit.com/fji8ime.js")%>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<%- end %>
<%- content_for :stylesheets do %>
<%= stylesheet_link_tag 'jquery.lightbox-0.5.css'  %>
<%- end %>

<%- if current_user && current_user.supporter_or_initiator(@campaign) %>
  <div id="banner" class="blue <%= 'supporter' %>">
  	<div class="container">
  		<h1>
  		  <a href="<%= location_url(@campaign.location) %>"><%= @campaign.location.description %></a>
  		</h1>
  		<div class="right">
  		  <%- if current_user == @campaign.initiator %>
  			  <span class="button white left">Your Campaign</span>
  			<%- else %>
  			  <span class="button white left">You support this</span>
  			<%- end %>
  			<span class="button orange left"><%= campaign_display_status(@campaign).titleize %> Campaign</span>
  		</div>
  	</div>
  </div>
  <%- if current_user.new_supporter?(@campaign) %>
    <div class="supporter-notice">
      <div class="container">
        <h1>Yay! Thanks for supporting our campaign</h1>
        <p>Offer opinions and advice to help make the campaign a success. <br />And don't forget to tell your friends  and spread the word through Twitter &amp; Facebook</p>
      </div>
    </div>

    <div class="contrib-tools-initial container">
		  <a href="<%= add_comment_campaign_url(@campaign) %>" class="button comment-trigger">Comment</a>
		  <a href="<%= twitter_url(@campaign) %>" target="_blank" class="button twitter twitter-popup">Tweet</a>
      <a href="#" class="button facebook">Facebook</a>
      <a href="#" class="button grey last">Email</a>
    </div>
  <%- end %>
<%- else %>
  <div id="banner" class="yellow container">
  	<div class="leftcol-banner">
  		<h1 class="font-1">&ldquo;<%= @campaign.call_to_action %>&rdquo; &ndash; <%= @campaign.initiator.name %></h1>
  	</div>

  	<div class="rightcol">
      <%= render :partial => 'support_button', :locals => { :button_class => 'support-big', :display_supporter => true, :display_initiator => true } %>
  	</div>
  </div>
<%- end %>
<div id="main-content" class="container">

	<div class="leftcol">

	  <%- if current_user && current_user == @campaign.initiator %>
      <%= render :partial => "initiator_buttons" %>
    <%- end %>

		<div class="box campaign-description">
		  <%- if (!current_user) || !(current_user.supporter_or_initiator(@campaign)) %>
			<img src="<%= @campaign.initiator.profile_photo.url(:small_thumb) %>" class="avatar" />
			<%- end %>
			<div>
				<%- if !current_user || !(current_user.supporter_or_initiator(@campaign)) %>
				<h4><a href="<%= profile_url(@campaign.initiator) %>"><%= @campaign.initiator.name %></a></h4>
				<%- end %>
          
			
				  <%- if params[:full_description] %> 
				    <%= raw simple_format(sanitize(@campaign.description)) %>
				  <%- else %>
				    <div id="truncated-description">
				    <%= raw simple_format(truncate(sanitize(@campaign.description), :length => 200)) %>
				    </div>
				    <div id="full-description" style="display: none;">
				      <%= raw simple_format(sanitize(@campaign.description)) %>
				    </div>
				  <%- end %>
				  <%- if current_user && (current_user == @campaign.initiator || current_user.is_expert?) %>
            <%= link_to(t(:edit), edit_campaign_path(@campaign), :class => 'description-edit-link') %>
          <%- end %>
          <%- if sanitize(@campaign.description).size > 200 and ! params[:full_description] %>
				  <a href="<%= url_for(params.merge(:full_description => '1')) %>" class="more-info">more</a>
				  <%- end %>
			</div>
		</div>


   <%- if current_user && current_user.is_expert? %>

     <div class="clear">
     <h3><%= t(:transport_experts) %></h3>
     <div class='expert-tools'>
       <div class='optional-assignment'>
         <a href="<%= new_campaign_assignment_path(@campaign) %>" class="big button"><%= t(:tell_to_write, :user => @campaign.initiator.first_name) %></a>
       </div>
       <div class='optional-assignment-end'>
       </div>
     </div>
     </div>
   <%- end %>

    <%- if @campaign.campaign_photos.count > 0 %>
		<div class="box">
			<h5>Images and Media</h5>
			<ul class="gallery grey">
			  <%- @campaign.campaign_photos.each do |campaign_photo| %>
				  <li><a href="<%= campaign_photo.image.url(:max) %>"><img src="<%= campaign_photo.image.url(:default) %>" /></a></li>
				<%- end %>
			</ul>
		</div>
		<%- end %>

		<div class="box">
			<a class="button comment comment-trigger right" href="<%= add_comment_campaign_url(@campaign) %>">Comment</a>
		</div>

		<div class="clear">
			<h3 class='left campaign-history'><%= t(:campaign_history) %></h3>
			<div class="thread-controls">
				<button type="button" class="expand-all">Expand All</button>
				<button type="button" class="collapse-all">Collapse All</button>
			</div>
		</div>
		<ul id="campaign-thread">
		<%- @campaign.campaign_events.visible.each_with_index do |campaign_event, index| %>
			<%= render :partial => 'campaign_event', :locals => { :event => campaign_event, :index => index+1 } %>
		<%- end %>
		</ul>

    <%= render :partial => 'support_button', :locals => { :button_class => 'right support', :display_supporter => false, :display_initiator => false } %>

</div>


	<div class="rightcol">

	  <%- if current_user && current_user.supporter_or_initiator(@campaign) && ! current_user.new_supporter?(@campaign) %>
	  <div class="contrib-tools">
			<a href="<%= add_comment_campaign_url(@campaign) %>" class="button comment-trigger">Comment</a>
			<a href="<%= twitter_url(@campaign) %>" target="_blank" class="button twitter twitter-popup">Twitter</a>
			<a href="#" class="button facebook">Facebook</a>
			<a href="#" class="button grey last">Email</a>
		</div>
		<%- end %>
		<ul class="campaign-meta">
			<li>started <span><%= @campaign.created_at.strftime("%e %B %Y") %></span></li>
			<li>supporters <%=  @campaign.supporter_count %></li>
		</ul>

		<%- if @campaign.location %>
		<div id="map-container">
			<div id="small-map">
			  <%= render :partial => 'shared/map', :locals => { :locations => [@campaign.location], :other_locations => [], :link_type => :location, :height => CAMPAIGN_PAGE_MAP_HEIGHT, :width => CAMPAIGN_PAGE_MAP_WIDTH, :static => true } %>
		  </div>
      <a class="button grey right" href="<%= location_url(@campaign.location) %>">Larger Map</a>
		</div>
		<%- end %>


		<div class="box">
			<h5>Campaign Manager</h5>
			<div class="grey">
				<div class="avatar"><img src="<%= @campaign.initiator.profile_photo.url(:large_thumb) %>" /></div>
				<div class="user-info">
					<a class="name" href="<%= profile_url(@campaign.initiator) %>"><%= @campaign.initiator.name %></a>
					<%- if @campaign.initiator.location %>
					<p class="location"><%= @campaign.initiator.location %></p>
					<%- end %>
					<p>Managing <a href="<%= profile_url(@campaign.initiator, :anchor => "managing") %>"><%= pluralize(@campaign.initiator.initiated_campaigns.count, 'Campaign') %></a></p>
					<p>Supporting <a href="<%= profile_url(@campaign.initiator, :anchor => "supporting") %>"><%= pluralize(@campaign.initiator.campaigns.count, 'Campaign') %></a></p>
				</div>
			</div>
		</div>

		<%- if @campaign.supporters.registered.count > 0 %>
		  <%= render :partial => "supporters", :locals => {:show_all => (params[:all_supporters] == '1') }%>
		<%- end %>
	</div>

	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>