<%- if !@user.errors.empty? %>
  <div class='form-error'>
    <%= t('admin.user_form_error') %>
  </div>
<%- end %>
<%= raw f.hidden_field :id %>

<div class='form-field'>
  <%= raw f.label :name %>
  <%= raw f.text_field :name %>
</div>

<div class='form-field'>
  <%- if @user.errors.on(:email) %>
    <div class='error'>
      <%= error_message_on @user, :email %>
    </div>
  <%- end %>
  <%= raw f.label :email %>
  <%= raw f.text_field :email %>
</div>

<div class='form-field'>
  <%= raw f.label :is_admin %>
  <%= raw f.check_box :is_admin %>
</div>

<div class='form-field'>
  <%= raw f.label :is_expert %>
  <%= raw f.check_box :is_expert %>
</div>

<div class='form-field'>
  <%= raw f.label :is_hidden %>
  <%= raw f.check_box :is_hidden %>
</div>

<div class='form-field'>
  <%= raw f.label :wants_fmt_updates %>
  <%= raw f.check_box :wants_fmt_updates %>
</div>

<div class='form-field'>
  <%= raw f.label :location %>
  <%= raw f.text_field :location %>
</div>

<div class='form-field'>
  <%= raw f.label :phone %>
  <%= raw f.text_field :phone %>
</div>

<div class='form-field'>
  <%= raw f.label :profile_photo_remote_url %>
  <%= raw f.text_field :profile_photo_remote_url %>
</div>

<div class="admin-suspended-box-<%= @user.is_suspended? ? 'true' : 'false' %>">
  <div class='form-field'>
    <%= raw f.label :is_suspended %>
    <%= raw f.check_box :is_suspended %>
  </div>
  <div class='form-field'>
    <%= raw f.label :suspended_notes %> (<%= t('admin.user_suspended_notes_note') %>)
    <br/>
    <%= raw f.text_area :suspended_notes, :rows => 4 %>
  </div>
  <div class='form-field'>
    <%= raw f.label :suspended_hide_contribs %>
    <%= raw f.check_box :suspended_hide_contribs %>
    (<%= t('admin.user_suspend_hide_contrib') %>)
  </div>
  <div class='form-field'>
    <%= raw f.label :suspended_reason %>  (<%= t('admin.user_suspended_reason_note') %>)
    <br/>
    <%= raw f.text_area :suspended_reason, :rows => 4 %>
  </div>
  
</div>

<%= raw submit_tag t('admin.go') %>
