<h2><%= t('admin.users') %></h2>
<%= render :partial => "admin/shared/search_form", :locals => { :skip_transport_mode => true }  %>
<%= will_paginate @users, { :admin => true } %>
<table class='users index-list'>
  <tr>
    <th width='2%'></th>
    <th width='2%'></th>
    <th width='6%'><%= t('admin.id') %></th>
    <th width='38%'><%= t('admin.name') %></th>
    <th width='32%'><%= t('admin.email') %></th>
    <th width='20%'><%= t('admin.profile_page') %></th>
  </tr>
  <%-@users.each do |user| %>
    <tr class='<%= cycle("odd", "even") %>'>
      <td ><%= raw admin_star_html(user.is_admin?) %></td>
      <td ><%= raw admin_star_html(user.is_expert, :expert) %></td>
      <td class="numeric">
        <%= link_to(user.id, admin_url(admin_user_path(user))) %>
      </td>
      <td class="easy-read-link">
          <span class="admin-suspended-<%= user.is_suspended %>">
              <% if ! user.name.blank? %>
                <%= link_to(user.name, admin_url(admin_user_path(user))) %>
              <%- end %>
          </span>
      </td>
      <td><%= user.email %></td>
      <td><%= link_to(user.cached_slug.blank? ? user.id: user.cached_slug, main_url(profile_path(user))) %></td>
    </tr>
  <%- end %>
</table>
<%= will_paginate @users, { :admin => true } %>
<p>
  <%= link_to "Comment league", "comment_league" %>
</p>