<table>
  <tr>
    <th></th>
    <th><%= t('admin.user_name')%></th>
    <th><%= t('admin.email_address')%></th>
    <th><%= t('admin.comment_count')%></th>
  </tr>
<%- @users.each do |user| %>
    <tr>
      <td style="text-align:right;">
        <%- if user.is_admin %>
          <span class="admin-star" title="administrator!">&#9733;</span>
        <%- end %>
        <%- if user.is_expert %>
          <span class="admin-star" title="expert">&#9734;</span>
        <%- end %>        
      </td>
      <td>
        <span class="admin-suspended-<%= user.is_suspended %>"><%= link_to "#{ user.name }", admin_url(admin_user_path(user)) %></span>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.comment_count %>
      </td>
    </tr>
<%- end %>
</table>