<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<%- content_for :meta do %>
  <meta property="fb:app_id" content="<%= MySociety::Config.get("FACEBOOK_APP_ID", '') %>"/>
  <meta property="og:title" content="<%= @stop_area.full_name %>" />
  <meta property="og:type" content="landmark" />
  <meta property="og:latitude" content="<%= @stop_area.lat %>" />
  <meta property="og:longitude" content="<%= @stop_area.lon %>" />
  <meta property="og:locality" content="<%= @stop_area.locality_name %>" />
  <meta property="og:country-name" content="Great Britain" />
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="<%=  main_url("#{stop_icon_from_location(@stop_area, small=false)}.png") %>"/>
  <meta property="og:description" content="<%= @stop_area.description %>"/>
  <meta property="og:site_name" content="FixMyTransport"/>
<%- end %>

<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= "#{@stop_area.full_name}" %></h1>
  </div>
</div>
<div id="greybanner">
  <div class="container">

      <%- if !@stop_area.area.blank? %>
        <p><span class='locality'>
          <%= "In #{@stop_area.locality_name}" %>
        </span></p>
      <%- end %>

      <%- if !@stop_area.operators.empty?  %>

          <p class="route-operator">
           <%= raw t('locations.show_stop_area.operated_by', :operators => operator_links(@stop_area.operators))%></p>
      <%- end %>

       <%- if @stop_area.status == 'DEL' %>
          <div class='location-status'>
            <%= t('locations.show_stop_area.stop_area_marked_inactive', :location => readable_location_type(@stop_area)) %>
          </div>
        <%- end %>
        <%- if current_user && current_user.is_admin? %>
        <a href="<%= admin_url(admin_stop_area_path(@stop_area.id)) %>" class="button"><%= t('locations.show_stop_area.admin_stop_area') %></a>
        <%- end %>
  </div>
</div>
<div id="main-content" class="container">

    <div class="leftcol standardcol">

      <%= render :partial => "shared/location_content",  :locals => { :location => @stop_area } %>

    </div>


  <div class="rightcol standardcol">
    <div id="medium-map-variant">
      <h5><%= @stop_area.description %></h5>
      <%- cache_unless_map_params(:action => 'show_stop_area', :action_suffix => 'map_variant') do %>
        <%= render :partial => 'shared/map', :locals => { :locations => @stop_area.points, :other_locations => @other_locations, :link_type => :location, :height => @map_height, :width => @map_width  } %>
      <%- end %>
    </div>

    <%- cache(:action => 'show_stop_area', :action_suffix => 'route_list') do %>
      <h5 class="left"><%= t('locations.show_stop_area.routes_header') %></h5>
      <ol id="large-ol">
        <%- @stop_area.routes.sort_by(&:short_name).each do |route| %>
        <li><a href="<%= location_url(route)%>">
         <%= route.short_name %>
         <%- if route.status == 'DEL' %>
        <%= t('locations.show_stop_area.route_inactive') %>
        <%- end %>
        </a></li>
        <%- end %>
      </ol>
    <%- end %>
  </div>

</div>