<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1 class="route-name"><%= @route.name %></h1>

	</div>
</div>
<div id="greybanner">
	<div class="container">
			<%- if !@route.operators.empty?  %>
			<h2 class="route-operator"><%= raw t('locations.show_route.operated_by', :operators => operator_links(@route.operators)) %></h2>
			<%- end %>
			<p><%= "#{@route.area}." %></p>
			 <%- if @route.status == 'DEL' %>
          <div class='location-status'>
            <%= t('locations.show_route.route_marked_inactive') %>
          </div>
       <%- end %>
       <%- if current_user && current_user.is_admin? %>
   		<a href="<%= admin_url(admin_route_path(@route.id)) %>" class="button"><%= t('locations.show_route.admin_route') %></a>
   		<%- end %>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol widecol">
    <div id="medium-map">
      <%- cache_unless_map_params(:action => 'show_route', :action_suffix => 'map') do %>
        <%= render :partial => 'shared/map', :locals => { :locations => [@route], :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
      <%- end %>
    </div>
 		<a href="<%= feedback_url({ :url => CGI.escape(request.request_uri), :location_id => @route.id, :location_type => 'Route'}) %>" rel="nofollow"><%= t('locations.show_route.information_wrong') %></a>
	  <%= render :partial => "shared/location_content",  :locals => { :location => @route } %>
	</div>

	<div class="rightcol narrowcol">
		<a class="button big red report" href="<%= existing_problems_url(:location_id => @route.id, :location_type => @route.type, :to => params[:to], :from => params[:from])%>" rel="nofollow"><%= t('locations.show_route.report_a_problem') %></a>
		<a class="button big report comment-trigger" href="<%= add_comment_route_url(@route.region, @route) %>" data-title="<%= t('locations.show_route.comment_title', :location => at_the_location(@route)) %>" rel="nofollow"><%= t('locations.show_route.say_something_nice') %></a>
		<%- cache(:action => 'show_route', :action_suffix => 'stop_list') do %>
		<h5 class="left"><%= t('locations.show_route.stops_header') %></h5>
  		<ol id="large-ol">
  			<%- @route.default_journey_locations.each_with_index do |stop_or_station, index| %>
  			<li><a href="<%= location_url(stop_or_station) %>">
  			    <span class="num"><%= index+1 %></span>
  			    <%= stop_or_station.is_a?(Stop) ? stop_or_station.name_with_long_indicator : stop_or_station.name %>
  			    <%- if stop_or_station.status == 'DEL' %>
  			      <%= t('locations.show_route.stop_or_station_inactive')%>
  			    <%- end %>
  			  </a>
  			</li>
  			<%- end %>
  		</ol>
		<%- end %>
	</div>
</div>