<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<div id="banner">
	<div class="container">
		<div class="leftcol-banner">
			<h1 class="route-name"><%=  MySociety::Format.ucfirst(@route.name) %></h1>
			<%- if !@route.operators.empty?  %>
          
          <h2 class="route-operator">operated by <%= operator_links(@route.operators) %></h2>
      <%- end %>
			<p><%= "#{@route.area}." %></p>
		</div>
		<div class="rightcol">
			<a class="report-big" href="<%= new_problem_url(:location_id => @route.id, :location_type => @route.type, :to => params[:to], :from => params[:from])%>">Report a problem</a>
		</div>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol">
		<h5>Route</h5>
    <div id="medium-map">
      <%= render :partial => 'shared/map', :locals => { :locations => [@route], :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
 	  </div>

 		<a href="#">Is this information wrong?</a>
		<a class="grey-button right" href="#">Larger Map</a>
	  <%= render :partial => "shared/location_content",  :locals => { :location => @route } %>
	</div>

	<div class="rightcol">

		<h5 class="left">Stops</h5>

		<ol id="large-ol">
		  <%- @route.stops_or_stations.each_with_index do |stop_or_station, index| %>
        <li><a href="<%= location_url(stop_or_station) %>"><span class="num"><%= index+1 %></span><%= stop_or_station.name_with_long_indicator %></a></li>
      <%- end %>
		</ol>
			
	
	
	
	</div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>

