- content_for :javascript do 
  != map_javascript_include_tags
#map-col
  = render :partial => 'shared/map', :locals => { :locations => [@route], :other_locations => @other_locations, :link_type => :location, :height => MAP_HEIGHT, :width => MAP_WIDTH  }
  .extra-info
    %ul.stops   
      Stops:
      - @route.stops_or_stations.each do |stop_or_station|
        %li= link_to stop_or_station.full_name, location_url(stop_or_station)
.route
  %a{:href => location_url(@route, :format => 'atom'), :class => 'rss-link campaign-rss'}
    %span= t(:feed)
    %img{:src => "/images/feed.png", :title => t(:feed), :alt => t(:campaigns_feed) }
  %h3.name= MySociety::Format.ucfirst(@route.name)
  .details
    - if ! @route.is_a?(TrainRoute)
      %span.locality= "#{@route.area}."
    .operators
      - if !@route.operators.empty? 
        Operated by
        %ul
          - @route.operators.each do |operator|
            %li!= link_to(operator.name, operator_path(operator)) 
    .terminuses
      != terminus_text(@route)
= render :partial => 'shared/location_content', :locals => { :location => @route }
