<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<div id='map-col'>
  <%= render :partial => 'shared/map', :locals => { :locations => @stop_area.points, :other_locations => @other_locations, :link_type => :location, :height => MAP_HEIGHT, :width => MAP_WIDTH  } %>
  <div class='extra-info'>
    
    <%- if StopAreaType.atomic_types.include? @stop_area.area_type %>
      <%= render :partial => "shared/route_list", :locals => { :stop_or_station => @stop_area } %>
    <%- else %>
      The following stops are here: 
      <%- @stop_area.stops.each do |stop| %>
        <div class='stop'>
          <%= link_to("#{stop.name_with_long_indicator}", stop_url(stop.locality, stop)) %>
          <%- if !stop.routes.empty?  %>
            <%= render :partial => 'shared/route_list', :locals => {:stop_or_station => stop} %>
          <%- end %>
        </div>
      <%- end %>
    <%- end %>
  </div>
</div>

<div class='stop-area'>
  <a href="<%= location_url(@stop_area, :format => 'atom') %>" class='rss-link campaign-rss'>
    <span><%= t(:feed) %></span>
    <img title='<%= t(:feed) %>' src='/images/feed.png' alt='<%= t(:campaigns_feed) %>'/>
  </a>
  <h3 class='name'><%= @stop_area.full_name %></h3>
  <div class='details'>
    
    <%- if !@stop_area.area.blank? %>
      <span class='locality'>
        <%= "In #{@stop_area.area}" %>
      </span>
    <%- end %>
    <%- if !@stop_area.operators.empty?  %>
      <div class='operators'>
        <%= raw t(:operated_by, :operators => @stop_area.operators.map{ |operator| link_to(operator.name, operator_path(operator)) }.join(", ")) %>
      </div>
    <%- end %>
    
  </div>
</div>

<%= render :partial => 'shared/location_content', :locals => { :location => @stop_area } %>
