<div id="banner">
	<div class="container">
		<h1>Route Region</h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p>
		<%- if @region != @national_region %>
		    <%= t(:routes_in, :region => @region.name) %>
		<%- else %>
		    <%= t(:national_routes_title) %>
		<%- end %>
		</p>
	</div>
</div>
<div id="main-content" class="container">
	<%- content_for :stylesheets do %>
	  <%= stylesheet_link_tag 'ui-tabs-mod' %>
	<%- end %>
	
	<%- cache(:action => 'show_route_region') do %>

	  <div id='tabs' class='ui-tabs ui-widget ui-content'>
    
	    <ul id="tabs-main-nav" class='font-1 ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-top'>
	      <%- if @region.bus_routes.count > 0 %>
	        <li id="bus-tab" class='ui-state-default ui-corner-top ui-tabs-selected ui-state-active'>
	          <%= link_to('Bus', '#tabs-bus') %>
	        </li>
	      <%- end %>
	      <%- if @region.train_routes.count > 0 %>
	        <li id="train-tab" class='ui-state-default ui-corner-top'>
	          <%= link_to('Train', '#tabs-train') %>
	        </li>
	      <%- end %>
	      <%- if @region.tram_metro_routes.count > 0 %>
	        <li id="metro-tab" class='ui-state-default ui-corner-top'>
	          <%= link_to('Metro, Underground or Tram', '#tabs-metro') %>
	        </li>
	      <%- end %>
	      <%- if @region.ferry_routes.count > 0 %>
	        <li id="ferry-tab" class='ui-state-default ui-corner-top'>
	          <%= link_to('Ferry', '#tabs-ferry') %>
	        </li>
	      <%- end %>
	      <%- if @region.coach_routes.count > 0 %>
	        <li id="coach-tab" class='ui-state-default ui-corner-top'>
	          <%= link_to('Coach', '#tabs-coach') %>
	        </li>
	      <%- end %>
	    </ul>
    
	    <%- if @region.bus_routes.count > 0 %>
	      <div id='tabs-bus' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
	        <h3>
	          <%= raw t(:bus_routes, :count => @region.bus_routes.count, :national => national_route_link(@region, @national_region, 'tabs-bus')) %>
	        </h3>
	        <!-- Lots of routes - do alphabetical links -->
	        <%- if @region.bus_routes.count > 20 %>
	          <ul class='font-1 tabs-sub-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
	            <%- @region.bus_route_letters.each do |first| %>
	              <li class='ui-state-default ui-corner-all'>
	                <%= link_to(first, "#bus_starts_with_#{first}") %>
	              </li>
	            <%- end %>
	          </ul>
	          <%- @region.bus_route_letters.each do |first| %>
	            <div class='region-bus-routes ui-tabs-panel ui-widget-content ui-corner-bottom' id='bus_starts_with_<%= first %>'>
	              <h4 class='first'><%= first %></h4>
	              <ul class="route-links">
	              <%- @region.bus_routes_by_letter[first].sort_by(&:number).each do |route| %>
	                <li>
	                  <%= link_to(route.description, location_url(route))  %>
	                </li>
	              <%- end %>
	              </ul>
	            </div>
	          <%- end %>
	        <!-- Not many - show them all -->
	        <%- else  %>
	          <ul class="route-links">
	          <%- @region.bus_routes.each do |bus_route| %>
	            <li>
	              <%= link_to(route.description, location_url(route)) %>
	            </li>
	          <%- end %>
	          </ul>
	        <%- end %>
	      </div>
	    <%- end %>

	    <%- if @region.train_routes.count > 0   %>
	      <div id='tabs-train' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
	        <h3>
	          <%= raw t(:train_routes, :count => @region.train_routes.count, :national => national_route_link(@region, @national_region, 'tabs-train')) %>
	        </h3>
        
	        <!-- Lots of routes - do alphabetical links -->
	        <%- if @region.train_routes.count > 20 %>
	          <ul class='font-1 tabs-sub-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
	          <%- @region.train_route_letters.each do |first| %>
	            <li class='ui-state-default ui-corner-all'>
	              <%= link_to(first, "#train_starts_with_#{first}") %>
	            </li>
	          <%- end %>
	          </ul>
	          <%- @region.train_route_letters.each do |first| %>
	            <div class='region-train-routes' id='train_starts_with_<%= first %>'>
	              <h4 class='first'>
	                <%= first %>
	              </h4>
	              <ul class="route-links">
	              <%- @region.train_routes_by_letter[first].each do |route| %>
	                <li>
	                  <%= link_to(route.short_name, location_url(route)) %>
	                </li>
	              <%- end %>
	              </ul>
	            </div>
	          <%- end %>
	        <!-- Not many links - just show them all -->
	        <%- else %>
	          <ul class="route-links">
	          <%- @region.train_routes.each do |train_route| %>
	            <li>
	              <%= link_to(train_route.short_name, location_url(train_route)) %>
	            </li>
	          <%- end %>
	          </ul>
	        <%- end %> 
	      </div>
	    <%- end %>  

    
    
	  <%- if @region.tram_metro_routes.count > 0 %>
	    <div id='tabs-metro' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
	      <h3>
	        <%= raw t(:tram_routes, :count => @region.tram_metro_routes.count, :national => national_route_link(@region, @national_region, 'tabs-metro')) %>
	      </h3>
	      <ul class="route-links">
	      <%- @region.tram_metro_routes.each do |tram_metro_route| %>
	          <li>
	            <%= link_to(tram_metro_route.short_name, location_url(tram_metro_route)) %>
	          </li>
	      <%- end %>
	      </ul>
	    </div>
	  <%- end %>

	  <%- if @region.ferry_routes.count > 0 %>
	    <div id='tabs-ferry' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
	      <h3>
	        <%= raw t(:ferry_routes, :count => @region.ferry_routes.count, :national => national_route_link(@region, @national_region, 'tabs-ferry')) %>
	      </h3>
	      <ul class="route-links">
	      <%- @region.ferry_routes.each do |ferry_route| %>
	        <li>
	          <%= link_to(ferry_route.short_name, location_url(ferry_route)) %>
	        </li>
	      <%- end %>
	      </ul>
	    </div>
	  <%- end %>
  
	  <%- if @region.coach_routes.count > 0 %>
	    <div id='tabs-coach' class='ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs ui-widget ui-corner-all'>
	      <h3>
	        <%= raw t(:coach_routes, :count => @region.coach_routes.count, :national => national_route_link(@region, @national_region, 'tabs-coach')) %>
	      </h3>
	      <%- if @region.coach_routes.count > 20 %>
	        <ul class='font-1 tabs-sub-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
	          <%- @region.coach_route_letters.each do |first| %>
	            <li class='ui-state-default ui-corner-all'>
	              <%= link_to(first, "#coach_starts_with_#{first}") %>
	            </li>
	          <%- end %>
	        </ul>
        
	        <%- @region.coach_route_letters.each do |first| %>
	          <div class='region-coach-routes' id='coach_starts_with_<%= first %>'>
	           <h4 class='first'><%= first %></h4>
	           <ul class="route-links">
	           <%- @region.coach_routes_by_letter[first].each do |route| %>
	              <li>
	                <%= link_to(route.description, location_url(route)) %>
	              </li>
	           <%- end %>
	           </ul>
	          </div>
	        <%- end %>
	      <%- else %>
	        <ul class="route-links">
	        <%- @region.coach_routes.each do |coach_route| %>
	          <li>
	            <%= link_to(coach_route.description, location_url(coach_route)) %>
	          </li>
	        <%- end %>
	        </ul>
	      <%- end %>
	    </div>
	  <%- end %>  
	  </div>
	<%- end %>
</div>