<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1 class="route-name"><%= @sub_route.name %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
			<%- if !@sub_route.route_operators.empty?  %>
          
          <h2 class="route-operator">operated by <%= raw operator_links(@sub_route.route_operators) %></h2>
      <%- end %>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol widecol">
		<h5><%= t('locations.show_sub_route.route_header') %></h5>
    <div id="medium-map">
      <%= render :partial => 'shared/map', :locals => { :locations => [@sub_route], :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
 	  </div>

 		<a href="<%= feedback_url(:url => CGI.escape(request.request_uri), :location_id => @sub_route.id, :location_type => 'SubRoute') %>" rel="nofollow"><%= t('locations.show_sub_route.information_wrong') %></a>
	  <%= render :partial => "shared/location_content",  :locals => { :location => @sub_route } %>
	</div>

	<div class="rightcol narrowcol">
		<a class="button big red report" href="<%= new_problem_url(:location_id => @sub_route.id, :location_type => @sub_route.type, :to => params[:to], :from => params[:from])%>" rel="nofollow"><%= t('locations.show_sub_route.report_a_problem')%></a>
		<a class="button big report comment-trigger" href="<%= add_comment_sub_route_url(@route) %>" data-title="<%= t('locations.show_sub_route.comment_title', :location => at_the_location(@sub_route)) %>" rel="nofollow"><%= t('locations.show_sub_route.say_something_nice') %></a>
		<h5 class="left"><%= t('locations.show_sub_route.route_header') %></h5>

		<ol id="large-ol">
		  <%- @sub_route.terminuses.each_with_index do |stop_or_station, index| %>
        <li>
          <a href="<%= location_url(stop_or_station) %>">
            <span class="num"><%= index+1 %></span>
            <%= stop_or_station.is_a?(Stop) ? stop_or_station.name_with_long_indicator : stop_or_station.name %>
            <%- if stop_or_station.status == 'DEL' %>
  			      <%= t('locations.show_sub_route.stop_or_station_inactive')%>
  			    <%- end %>
          </a>
        </li>
      <%- end %>
		</ol>
			
	</div>
</div>