<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>

<div id="banner">
	<div class="container">
		<div class="leftcol-banner">
			<h1><%= "#{@stop_area.full_name}" %></h1>
      <%- if !@stop_area.operators.empty?  %>
          
          <h2 class="route-operator">operated by <%= operator_links(@stop_area.operators) %></h2>
        <%- end %>
        
      <%- if !@stop_area.area.blank? %>
        <p><span class='locality'>
          <%= "In #{@stop_area.area}" %>
        </span></p>
      <%- end %>
			
		</div>
		<div class="rightcol">
			<a class="button big red report" href="<%= new_problem_url(:location_id => @stop_area.id, :location_type => @stop_area.type, :to => params[:to], :from => params[:from])%>">Report a problem</a>							
		</div>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol">
		<h5>Location</h5>
		<div id="medium-map">
      <%= render :partial => 'shared/map', :locals => { :locations => @stop_area.points, :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
 	  </div>

	  <%= render :partial => "shared/location_content",  :locals => { :location => @stop_area } %>
	</div>

	<div class="rightcol">
		<h5 class="left">Routes</h5>
      <ol id="large-ol">

        <%- @stop_area.routes.sort_by(&:short_name).each do |route| %>
        <li><a href="<%= location_url(route)%>">
         <%= route.short_name %>
        </a></li>
        <%- end %>
      </ol> 
	
	</div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>



