<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>


<div id="banner">
	<div class="container">
		<div class="leftcol-banner">
			<h1><%= "#{@stop.full_name}" %></h1>

			<p><span class='locality'><%= "In #{@stop.locality_name}" %></span>
      <%- if !@stop.landmark.blank? %>
        <span class='landmark'>
          <%= "near #{@stop.landmark}" %>
        </span>
      <%- end %>
      <%- if !@stop.street.blank?  %>
        <span class='street'>
          <%= "on #{@stop.street}" %>
        </span>
      <%- end %>
      <%- if @stop.status == 'del' %>
        <div class='status'>
          <%= "This stop has been marked as inactive." %>
        </div>
      <%- end %></p>
			

		</div>
		<div class="rightcol">
			<a class="report-big" href="<%= new_problem_url(:location_id => @stop.id, :location_type => @stop.type, :to => params[:to], :from => params[:from])%>">Report a problem</a>							
		</div>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol">
		<h5>Location</h5>
		<div id="medium-map">
      <%= render :partial => 'shared/map', :locals => { :locations => @stop.points, :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
 	  </div>

	  <%= render :partial => "shared/location_content",  :locals => { :location => @stop } %>
	</div>

	<div class="rightcol">
		<h5 class="left">Routes</h5>
		<ol id="large-ol">
		  <%- @stop.routes.each do |route| %>
			<li><a href="<%= location_url(route)%>"><span class="num"> <%=route.name(from_stop=@stop, short=true) %></span>
			<%= route.final_stops(@stop).map{ |stop| stop.name_without_suffix(route.transport_mode) }.to_sentence%>
			</a></li>
      <%- end %>
		</ol>	
	</div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>


