<%- content_for :javascript do  %>
  <%= raw map_javascript_include_tags %>
<%- end %>
<%- content_for :meta do %>
  <meta property="fb:app_id" content="<%= MySociety::Config.get("FACEBOOK_APP_ID", '') %>"/>
  <meta property="og:title" content="<%= @stop.full_name %>" />
  <meta property="og:type" content="landmark" />
  <meta property="og:latitude" content="<%= @stop.lat %>" />
  <meta property="og:longitude" content="<%= @stop.lon %>" />
  <meta property="og:locality" content="<%= @stop.locality_name %>" />
  <meta property="og:country-name" content="Great Britain" />
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="<%=  main_url("#{stop_icon(@stop, small=false)}.png") %>"/>
  <meta property="og:description" content="<%= @stop.description %>"/>
  <meta property="og:site_name" content="FixMyTransport"/>
<%- end %>

<div id="banner">
	<div class="container">
		<h1><%= "#{@stop.full_name}" %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
	<p>
		<span class='locality'><%= "In #{@stop.locality_name}" %></span>
      <%- if !@stop.landmark.blank? %>
        <span class='landmark'>
          <%= "near #{@stop.landmark}" %>
        </span>
      <%- end %>
      <%- if !@stop.street.blank?  %>
        <span class='street'>
          <%= "on #{@stop.street}" %>
        </span>
      <%- end %>
      <%- if @stop.status == 'DEL' %>
        <div class='status'>
          <%= t('locations.show_stop.stop_marked_inactive') %>
        </div>
      <%- end %>
	</p>
	</div>
</div>
<div id="main-content" class="container">
	<div class="leftcol">
		<h5><%= t('locations.show_stop.location_header') %></h5>
		<div id="medium-map">
		  <%- cache_unless_map_params(stop_cache_path(@stop, suffix='map')) do %>
        <%= render :partial => 'shared/map', :locals => { :locations => @stop.points, :other_locations => @other_locations, :link_type => :location, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH  } %>
 	      <%- end %>
 	  </div>

	  <%= render :partial => "shared/location_content",  :locals => { :location => @stop } %>
	</div>

	<div class="rightcol">
		<a class="button big red report" href="<%= new_problem_url(:location_id => @stop.id, :location_type => 'Stop', :to => params[:to], :from => params[:from])%>"><%= t('locations.show_stop.report_a_problem') %></a>
		<a class="button big report comment-trigger" href="<%= add_comment_stop_url(@stop.locality, @stop) %>" data-title="<%= t('locations.show_stop.comment_title', :location => at_the_location(@stop)) %>"><%= t('locations.show_stop.say_something_nice') %></a>
		<%- cache(stop_cache_path(@stop, suffix='route_list')) do %>
		<h5 class="left"><%= t('locations.show_stop.routes_header') %></h5>
		<ol id="large-ol">
		  <%- @stop.routes.each do |route| %>
			<li><a href="<%= location_url(route)%>"><span class="num"> <%=route.name(from_stop=@stop, short=true) %></span>
			<%= route.final_stops(@stop).map{ |stop| stop.name_without_suffix(route.transport_mode) }.to_sentence %>
			</a></li>
      <%- end %>
		</ol>	
		<%- end %>
	</div>
</div>