<html lang='<%= I18n.locale %>'>
  <head>
    <title>
      <%= "#{t(:site_name)} #{t(:admin)} #{yield :title}" %>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type'>
    </meta>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.9.custom.css' %>
    <%= yield :css %>
    <%= raw javascript_include_tag('jquery-1.5.2.min.js') %>
    <%= raw javascript_include_tag('jquery-ui-1.8.9.custom.min.js') %>
    <%= raw javascript_include_tag('admin.js') %>
    <%= yield :javascript %>
  </head>
  <body>
    <h2><%= link_to_unless_current("#{t(:site_name)} #{t(:admin)}", admin_url(admin_root_path)) %></h2>
    <ul class='admin-navigation'>
      <li><%= link_to t(:location_searches), admin_url(admin_location_searches_path) %></li>
      <li><%= link_to t(:campaigns), admin_url(admin_campaigns_path) %></li>      
      <li><%= link_to t(:problems), admin_url(admin_problems_path) %></li>
      <li><%= link_to t(:operators), admin_url(admin_operators_path) %></li>
      <li><%= link_to t(:routes), admin_url(admin_routes_path) %></li>
      <li><%= link_to t(:stops), admin_url(admin_stops_path) %></li>
      <li><%= link_to t(:stop_areas), admin_url(admin_stop_areas_path) %></li>
      <li><%= link_to t(:ptes), admin_url(admin_ptes_path) %></li>
      <li><%= link_to t(:councils), admin_url(admin_council_contacts_path) %></li>
    </ul>
    <div id='main'>
      <%- [:notice, :error, :message].each do |key|  %>
        <%- unless flash[key].blank?  %>
          <p class='flash flash_<%= key %>'>
            <%= raw flash[key] %>
          </p>
        <%- end %>
      <%- end %>
      <%= yield %>
    </div>
  </body>
</html>
