<html lang='<%= I18n.locale %>'>
  <head>
    <title>
      <%= "#{t('admin.site_name')} #{t('admin.admin')} #{yield :title}" %>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type'>
    </meta>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.13.custom.css' %>
    <%= yield :css %>
    <%= raw admin_library_js_link %>
    <%= yield :javascript %>
  </head>
  <body>
    <h2><%= link_to_unless_current("#{t('admin.site_name')} #{t('admin.admin')}", admin_url(admin_root_path)) %></h2>
    <ul class='admin-navigation'>
      <li><%= link_to t('admin.users'), admin_url(admin_users_path) %></li>
      <li><%= link_to t('admin.location_searches'), admin_url(admin_location_searches_path) %></li>
      <li><%= link_to t('admin.campaigns'), admin_url(admin_campaigns_path) %></li>      
      <li><%= link_to t('admin.problems'), admin_url(admin_problems_path) %></li>
      <li><%= link_to t('admin.operators'), admin_url(admin_operators_path) %></li>
      <li><%= link_to t('admin.routes'), admin_url(admin_routes_path) %></li>
      <li><%= link_to t('admin.stops'), admin_url(admin_stops_path) %></li>
      <li><%= link_to t('admin.stop_areas'), admin_url(admin_stop_areas_path) %></li>
      <li><%= link_to t('admin.ptes'), admin_url(admin_ptes_path) %></li>
      <li><%= link_to t('admin.councils'), admin_url(admin_council_contacts_path) %></li>
    </ul>
    <div id='main'>
      <%- [:notice, :error, :message].each do |key|  %>
        <%- unless flash[key].blank?  %>
          <div class='flash flash_<%= key %>'>
            <%= raw flash[key] %>
          </div>
        <%- end %>
      <%- end %>
      <%= yield %>
    </div>
  </body>
</html>
