!!!
%html{ :lang => I18n.locale }
  %head
    %title 
      ="FixMyTransport admin #{yield :title}"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    = stylesheet_link_tag 'admin'
    = yield :javascript
  %body
    %h2= t(:site_name)
    %ul.admin-navigation 
      %li=link_to "Location searches", admin_url(admin_location_searches_path)
      / %li=link_to "Operators", admin_url(admin_operators_path)
      %li=link_to "Routes", admin_url(admin_routes_path)
    #main
      - [:notice, :error, :message].each do |key| 
        - unless flash[key].blank? 
          %p{ :class => "flash flash_#{key}" }!= flash[key]
      = yield