<html lang='<%= I18n.locale %>'>
  <head>
    <title>
      <%= "#{t('admin.site_name')} #{t('admin.admin')} #{yield :title}" %>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type'>
    </meta>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'admin', '/javascripts/theme/default/style.tidy.css'%>
    <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.13.custom.css' %>
    <%= yield :css %>
    <%= raw admin_library_js_link %>
    <%= yield :javascript %>
  </head>
  <body>
    <%- if current_user && current_user.is_admin? && !current_user.suspended? %>
    <div id="admin-header">
      <h2><%= link_to_unless_current("#{t('admin.site_name')} #{t('admin.admin')}", admin_url(admin_root_path)) %></h2>
      <ul class='admin-nav-ugc'>
        <%- if current_user.can_admin?(:issues) %>
        <li><%= link_to t('admin.campaigns'), admin_url(admin_campaigns_path) %></li>
        <li><%= link_to t('admin.problems'), admin_url(admin_problems_path) %></li>
        <%- end %>
        <li><%= link_to t('admin.location_searches'), admin_url(admin_location_searches_path) %></li>
        <%- if current_user.can_admin?(:users) %><li><%= link_to t('admin.users'), admin_url(admin_users_path) %></li><%- end %>
      </ul>
      <%- if current_user.can_admin?(:locations) %>
        <ul class='admin-nav-places'>
          <li><%= link_to t('admin.routes'), admin_url(admin_routes_path) %></li>
          <li><%= link_to t('admin.stops'), admin_url(admin_stops_path) %></li>
          <li><%= link_to t('admin.stop_areas'), admin_url(admin_stop_areas_path) %></li>
        </ul>
      <%- end %>
      <%- if current_user.can_admin?(:organizations) %>
        <ul class='admin-nav-bodies'>
          <li><%= link_to t('admin.councils'), admin_url(admin_council_contacts_path) %></li>
          <li><%= link_to t('admin.ptes'), admin_url(admin_ptes_path) %></li>
          <li><%= link_to t('admin.operators'), admin_url(admin_operators_path) %></li>
        </ul>
      <%- end %>
        
      <div class="admin-login-info">
        <%= t('admin.logged_in_as', :name => current_user.name) %> <%= link_to(t('admin.logout'), admin_url(admin_logout_path)) %>
      </div>
    <%- end %>

    </div>
    <div id='main'>
      <%- [:notice, :error, :message].each do |key|  %>
        <%- unless flash[key].blank?  %>
          <div class='flash flash_<%= key %>'>
            <%= raw flash[key] %>
          </div>
        <%- end %>
      <%- end %>
      <%= yield %>
    </div>
  </body>
</html>
