!!!
%html{ :lang => I18n.locale }
  %head
    %title 
      ="#{t(:site_name)} #{@title ? ':' : ''} #{@title}"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "atom", :href => stories_url(:format => 'atom') }
    = stylesheet_link_tag 'application'
    = yield :javascript
  %body
    %h2= link_to_unless_current(t(:site_name), root_url) 
    %span#site-tagline= t(:site_tagline)
    - [:notice, :error, :message].each do |key| 
      - unless flash[key].blank? 
        %p{ :class => "flash flash_#{key}" }!= flash[key]
    .wrapper
      .content
        = yield
    #footer
      %ul
        %li.footer-item!= t(:built_by, :link => link_to('mySociety', 'http://mysociety.org'))
        %li.footer-item!= link_to t(:about), about_path
        %li.footer-item!= link_to t(:feedback), feedback_path
      