!!!
%html{ :lang => I18n.locale }
  %head
    %title 
      ="#{t(:site_name)}#{@title ? ':' : ''} #{@title}"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    =yield :feeds
    = stylesheet_link_tag 'application', 'map'
    = yield :javascript
    != javascript_include_tag('jquery-1.4.2.min.js')
    != javascript_include_tag('jquery.autofill.js')
    != javascript_include_tag('jquery.form.js')
    != javascript_include_tag('application.js')
  %body
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    #site-header
      %h1= link_to_unless_current(t(:site_name), root_url) 
      #site-tagline= t(:site_tagline)
    - if MySociety::Config.getbool('STAGING_SITE', true)
      .staging-banner
        =t(:development_site)
    - [:notice, :error, :message].each do |key| 
      - unless flash[key].blank? 
        %p{ :class => "flash flash_#{key}" }!= flash[key]
    %ul.navigation
      - if current_user
        %li!= t(:logged_in_as, :name => link_to(current_user.name, account_path))
        %li= link_to(t(:logout), logout_path)
      - else
        %li= link_to(t(:login), login_path)
    .wrapper
      .content
        = yield
    - unless action_name == 'feedback'
      #feedback-panel-container
        #feedback-tab
        #feedback-panel
          = render :partial => 'shared/feedback_form'
    #footer
      %ul
        %li.footer-item!= link_to t(:about), about_path
        %li.footer-item!= link_to t(:feedback), feedback_path
      .support-links!= t(:built_by, :mysociety_link => link_to('mySociety', 'http://mysociety.org'), :indigo_link => link_to('Indigo Trust', 'http://indigotrust.wordpress.com/'), :donor_link => link_to(t(:small_donors), 'http://mysociety.org/donate'), :esmee_link => link_to('Esmée Fairbairn Foundation', 'http://www.esmeefairbairn.org.uk'))
    .anchor-padding= " "
    = render :partial => 'shared/tracking'