<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <title>
      <%= "#{t(:site_name)}#{@title ? ':' : ''} #{@title}" %>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <%= yield :feeds %>
    <%= csrf_meta_tag %>
    <%= raw stylesheet_link_tag('core', 'fixmytransport', 'map', 'buttons', :cache => 'main') %>

	<!--[if lte IE 7]><%= raw stylesheet_link_tag('ie67') %><![endif]-->
	
	<!--[if lte IE 8]><%= raw stylesheet_link_tag('ie678') %><![endif]-->

    <%= yield :stylesheets %>
    <%= raw javascript_include_tag('jquery-1.5.2.min', 'jquery-ui-1.8.13.custom.min', 'jquery.autofill.min', 'jquery.form.min', :charset => 'utf-8', :cache => 'libraries') %>
    <script type="text/javascript">
      $('html').addClass('javascript-enabled');
    </script>
  </head>
	<body>
		<div id="wrapper">
			<div id="top" class="container">
				<ul id="mysociety-tab">
					<li><a id="mysociety-logo" href="http://mysociety.org">MySociety</a></li>
					<li><a href="http://mysociety.org/donate">Donate</a></li>
					<li><a href="http://www.mysociety.org/projects/">Our Sites</a></li>
				</ul>
				<ul id="top-nav">
					<li><a href="<%= about_url %>">About</a></li>
					<li><a href="<%= feedback_url(:url => CGI.escape(request.request_uri)) %>">Feedback</a></li>
				</ul>
				<a id="logo" href="<%= root_url %>">Fix My Transport</a>
				<%- if current_user %>
				<p id="member-info">Hi <a href="<%= profile_path(current_user) %>"><%= current_user.name %></a>. <a href="<%= logout_path(:redirect => request.request_uri) %>">Logout</a></p>
				<%- else %>
				<p id="member-info">Hi Guest. <a class="auth" href="<%= login_path(:redirect => request.request_uri) %>">Sign in</a></p>
				<%- end %>
			</div>

			<%= render :partial => "shared/login" %>

			<%- if MySociety::Config.getbool('STAGING_SITE', true) %>
				<div class="staging-banner notice container">
					<%= t(:development_site) %>
				</div>
			<%- end %>

			<%- [:notice, :error].each do |key| %>
					<%- unless flash[key].blank? %>
					<p class="<%= "flash #{key} container" %>">
					  <%= raw flash[key] %>
					</p>
					<%- end %>
			<%- end %>
			<%= yield %>
    	</div>

		<div id="footer">
			<div class="container">
				<p><%= raw t(:built_by, :mysociety_link => link_to('mySociety', 'http://mysociety.org'), :indigo_link => link_to('Indigo Trust', 'http://indigotrust.wordpress.com/'), :donor_link => link_to(t(:small_donors), 'http://mysociety.org/donate'), :esmee_link => link_to('Esmée Fairbairn Foundation', 'http://www.esmeefairbairn.org.uk')) %></p>
			</div>
		</div>
		<%= yield :javascript %>
		<%= raw javascript_include_tag('fixmytransport', 'application', 'map', :charset => 'utf-8', :cache => 'main') %>
		<!--[if lte IE 8]><%= raw javascript_include_tag('ie', :charset => 'utf-8') %><![endif]-->
		<%= render :partial => 'shared/tracking' %>
	</body>
</html>
