<!DOCTYPE html>
<html lang='<%= I18n.locale %>' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>
      <%= "#{t(:site_name)}#{@title ? ':' : ''} #{@title}" %>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <%= yield :feeds %>
    <%= csrf_meta_tag %>
    <style type="text/css">
      @import url("/stylesheets/core.css");
      @import url("/stylesheets/fixmytransport.css");
      @import url("/stylesheets/map.css");
    </style>
    <%= yield :stylesheets %>
    <script>
        var fmt_facebook_app_id = '<%= MySociety::Config.get('FACEBOOK_APP_ID','') %>';
    </script>
    <%= raw javascript_include_tag('jquery-1.5.2.min', :charset => 'utf-8') %>
    <%= raw javascript_include_tag('jquery-ui-1.8.11.min', :charset => 'utf-8') %>
    <%= raw javascript_include_tag('jquery.autofill', :charset => 'utf-8') %>
    <%= raw javascript_include_tag('jquery.form', :charset => 'utf-8') %>
    <%= yield :javascript %>
  </head>
	<body>
		<div id="wrapper">
			<div id="top" class="container">
				<ul id="mysociety-tab">
					<li><a id="mysociety-logo" href="http://mysociety.org">MySociety</a></li>
					<li><a href="http://mysociety.org/donate">Donate</a></li>
					<li><a href="http://www.mysociety.org/projects/">Our Sites</a></li>
				</ul>
				<ul id="top-nav">
					<li><a href="<%= about_url %>">About</a></li>
					<li><a href="<%= feedback_url %>">Feedback</a></li>
				</ul>

				<a id="logo" href="<%= root_url %>">Fix My Transport</a>
				<%- if current_user %>
          <p id="member-info">Hi <a href="<%= account_path %>"><%= current_user.name %></a>. <a href="<%= logout_path(:redirect => request.request_uri) %>">Logout</a></p>
		  	<%- else %>
		  		<p id="member-info">Hi Guest. <a class="auth" href="<%= login_path(:redirect => request.request_uri) %>">Sign in</a></p>
		  	<%- end %>
		  </div>

      <%= render :partial => "shared/login" %>

      <%- if MySociety::Config.getbool('STAGING_SITE', true) %>
          <div class="staging-banner notice container">
            <%= t(:development_site) %>
          </div>
      <%- end %>

			<%- [:notice, :error].each do |key| %>
          <%- unless flash[key].blank? %>
				    <p class="<%= "flash #{key} container" %>">
					  <%= raw flash[key] %>
				    </p>
          <%- end %>
      <%- end %>


			<%= yield %>

    </div>

    <div id="footer">
			<div class="container">
				<p>
				  <%= raw t(:built_by, :mysociety_link => link_to('mySociety', 'http://mysociety.org'), :indigo_link => link_to('Indigo Trust', 'http://indigotrust.wordpress.com/'), :donor_link => link_to(t(:small_donors), 'http://mysociety.org/donate'), :esmee_link => link_to('Esmée Fairbairn Foundation', 'http://www.esmeefairbairn.org.uk')) %>
				</p>
			</div>
		</div>
		<%= raw javascript_include_tag('fixmytransport', :charset => 'utf-8') %>
		<%= raw javascript_include_tag('application', :charset => 'utf-8') %>
		<%= render :partial => 'shared/tracking' %>
	</body>
</html>
