!!!
%html{ :lang => I18n.locale }
  %head
    %title 
      ="#{t(:site_name)}#{@title ? ':' : ''} #{@title}"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "atom", :href => stories_url(:format => 'atom') }
    = stylesheet_link_tag 'application'
    = yield :javascript
    != javascript_include_tag('jquery-1.4.2.min.js')
    != javascript_include_tag('jquery.autofill.js')
    != javascript_include_tag('jquery.form.js')
    != javascript_include_tag('application.js')
  %body
    #site-header
      %h1= link_to_unless_current(t(:site_name), root_url) 
      #site-tagline= t(:site_tagline)
    - [:notice, :error, :message].each do |key| 
      - unless flash[key].blank? 
        %p{ :class => "flash flash_#{key}" }!= flash[key]
    .wrapper
      .content
        = yield
    - unless action_name == 'feedback'
      #feedback-panel-container
        #feedback-tab
        #feedback-panel
          = render :partial => 'shared/feedback_form'
    #footer
      %ul
        %li.footer-item!= link_to t(:about), about_path
        %li.footer-item!= link_to t(:feedback), feedback_path
        %li.footer-item!= t(:built_by, :link => link_to('mySociety', 'http://mysociety.org'))
        %li.footer-item!= t(:powered_by, :link => link_to('Easynet', 'http://www.easynet.com'))  
    .anchor-padding= " "
    = render :partial => 'shared/tracking'