<!DOCTYPE html>
<html lang='<%= I18n.locale %>' xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>
      <%= t('shared.header.site_name')%>
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <%= raw main_style_link %>

  	<!--[if lte IE 7]><%= raw stylesheet_link_tag(minify(['ie67'])) %><![endif]-->

  	<!--[if lte IE 8]><%= raw stylesheet_link_tag(minify(['ie678'])) %><![endif]-->
  	
  	<!--[if gte IE 9]> <%= raw stylesheet_link_tag(minify(['ie9'])) %><![endif]-->

    <%= yield :stylesheets %>
    <%= raw library_js_link %>
    <script type="text/javascript">
      var fmt_facebook_app_id = '<%= MySociety::Config.get('FACEBOOK_APP_ID','') %>';
    </script>
  </head>
	<body role="application" class="facebook-canvas">
		<%- if MySociety::Config.getbool('STAGING_SITE', true) %>
		<div class="staging-banner top-notice">
			<div class="container"><%= t('shared.header.development_site') %></div>
		</div>
		<%- end %>
    <%= yield :banner_content %>
		<div id="wrapper">
			<div id="top" class="container" role="banner">

				<a id="logo" href="<%= root_url %>">FixMyTransport</a>

			</div>
			<%= yield %>
    </div>

		<%= yield :javascript %>
		<%= render :partial => 'shared/tracking' %>
	</body>
</html>
