<div id="main-content" class="container">
	<h3><%= t('accounts.edit.your_account') %></h3>

	<%- form_for(current_user, :url => account_path, :html => {:method => :put, :class => 'edit_account', :multipart => true}) do |f| %>
	  <div class='fieldset'>

	    <div class='form-field'>
	      <%= f.label :email %>
	      <%- if current_user.errors.on('email') %>
	        <div class='error'>
	          <%= error_message_on current_user, :email %>
	        </div>
	      <%- end %>
	      <%= raw f.text_field :email %>
	    </div>

	    <div class='form-field'>

	      <%= f.label :password %>
	      <%- if current_user.errors.on('password') %>
	        <div class='error'>
	          <%= error_message_on current_user, :password %>
	        </div>
	      <%- end %>
	      <%= raw f.password_field :password %>
	      <div class='optional-note'>
	        <%= "(#{t('accounts.edit.only_needed_if_want_to_change')})" %>
	      </div>
	    </div>

	    <div class='form-field'>
	      <%= f.label :password_confirmation  %>
	      <%- if current_user.errors.on('password_confirmation') %>
	        <div class='error'>
	          <%= error_message_on current_user, :password_confirmation %>
	        </div>
	      <%- end %>
	      <%= raw f.password_field :password_confirmation  %>
	    </div>
    
	    <div class='form-field'>
	      <%= f.label :location, t('accounts.edit.your_location') %>
	      <%- if current_user.errors.on('location') %>
	        <div class='error'>
	          <%= error_message_on current_user, :location %>
	        </div>
	      <%- end %>
	      <%= raw f.text_field :location %>

	    </div>
    
	    <div class='form-field'>

	      <%= f.label :profile_photo, t('accounts.edit.upload_profile_photo') %>
	      <%- if current_user.errors.on('profile_photo') %>
	        <div class='error'>
	          <%= error_message_on current_user, :profile_photo %>
	        </div>
	      <%- end %>
	      <%= raw f.file_field :profile_photo %>

	    </div>

      <div class='form-field'>
	      <%- if current_user.errors.on('bio') %>
	        <div class='error'>
	          <%= error_message_on current_user, :bio %>
	        </div>
	      <%- end %>
	      <%= f.label :bio, t('accounts.edit.add_bio') %>
	      <%= raw f.text_area :bio %>
        <div class='optional-note'>
        <p><%= t('accounts.edit.will_appear_on_your_profile')%></p>
        <p><%= raw t('accounts.edit.include_links', :link => link_to('http://www.twitter.com/fixmytransport', 'http://www.twitter.com/fixmytransport')) %></p>
        </div>
	    </div>

		<button class="button" type="submit"><%= t('accounts.edit.update_account') %></button>
	  </div>

	<%- end %>
</div>