%h2.main-header= t(:create_an_account)

- form_for(@user, :url => account_path, :html => { :class => 'create_account' }) do |f|
  .fieldset
    .form-field
      - if @user.errors.on('name')
        .form-field-error= error_message_on @user, :name
      = f.label :name
      != f.text_field :name
    .form-field
      - if @user.errors.on('email')
        .form-field-error= error_message_on @user, :email
      = f.label :email
      != f.text_field :email
    .form-field  
      - if @user.errors.on('password')
        .form-field-error= error_message_on @user, :password
      = f.label :password
      != f.password_field :password
    .form-field
      - if @user.errors.on('password_confirmation')
        .form-field-error= error_message_on @user, :password_confirmation
      = f.label :password_confirmation 
      != f.password_field :password_confirmation 
    != f.submit t(:create_account)