<div id="main-content" class="container">
	<h3><%= t('accounts.show.your_account') %></h3>
	<div class='account-info'>
	  <%= image_tag current_user.profile_photo.url(:large_thumb), :class => 'avatar' alt="profile image" %>
	  <div>
	    <%= t('accounts.show.your_email_address') %>
	    <%= current_user.email %>
	  </div>
	  <div> 
	    <%= t('accounts.show.your_location') %>
	    <%= current_user.location %>
	  </div>
	</div>
	<%= raw link_to(t('accounts.show.edit_your_account'), edit_account_path, :class => 'button') %>
</div>